@function _replace-svg-color( $color ) {
  $color: encode-color( $color );
  @return "data:image/svg+xml;charset=UTF-8,%3csvg preserveAspectRatio='none' viewBox='0 0 275 60' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3eArrow Shape%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='button-promo' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='button-arrow' fill='#{$color}'%3e%3cpolygon id='shape-copy' transform='translate(137.500000, 30.500000) rotate(90.000000) translate(-137.500000, -30.500000) ' points='107.5 -82 137.486328 -107 167.5 -82 167.5 168 137.5 155.5 107.5 168'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/svg%3e ";
}

@mixin _btn-promo-svg( $variation: dark ) {
  $background-color: $secondary-color;
  $background-color-hover: $accent-color;

  @if $variation == light {
    $background-color: $accent-color;
    $background-color-hover: $secondary-color;
  }

  $svg: _replace-svg-color( $background-color );
  $svg-hover: _replace-svg-color( $background-color-hover );

  background: url( $svg ) no-repeat;
  color:
    text-contrast(
      $bg: $background-color,
      $text-light: $light,
      $text-dark: $secondary-color
    );

  &:hover,
  &:focus {
    background-image: url( $svg-hover );
    background-color: transparent;
    color:
      text-contrast(
        $bg: $background-color-hover,
        $text-light: $light,
        $text-dark: $secondary-color
      );
  }
}

.btn--promo,
.btn--promo--light {
  border: 0;
  // Fit text within SVG background
  padding: 0 2em;
  line-height: $btn-target-height;
  text-align: center;
}

.btn--promo {
  @include _btn-promo-svg;
}

.btn--promo--light {
  @include _btn-promo-svg( light );
}
