@import 'colors';


$enable-italic-footnotes:            false;
$enable-emboldened-link-underlines:  true;
$enable-figure-credit-distinction:   false;
$enable-heading-font-size-reduction: false;
$enable-stream-flush-with-header:    false;


//
// Typography
// ==========================================================================

$font-family-sans-serif:          "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:               "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;

$base-font-size: rem( 16px );

$heading-line-height: 1.15;

$h1-font-size: rem( 30px );
$h2-font-size: rem( 28px );
$h3-font-size: rem( 24px );
$h4-font-size: rem( 23px );
$h5-font-size: rem( 20px );
$h6-font-size: rem( 18px );

$h1-line-height: rem( 34px ) / $h1-font-size;
$h2-line-height: rem( 32px ) / $h2-font-size;
$h3-line-height: rem( 28px ) / $h3-font-size;
$h4-line-height: rem( 28px ) / $h4-font-size;
$h5-line-height: rem( 24px ) / $h5-font-size;
$h6-line-height: rem( 24px ) / $h6-font-size;

$body-font-family:      $font-family-serif;
$paragraph-font-size:   rem( 16px ); // !default
$paragraph-line-height: rem( 24px ) / $paragraph-font-size;


//
// Colors
// ==========================================================================

$secondary-color: #54345a;
$color-dark:      $darker;
$color-grey:      $dark;
$accent-color:    $denverite-yellow;
$accent-2-color:  #fb6047;
$body-font-color: $darkest;


//
// Site Header + Nav
// ==========================================================================

$site-header-background-color:           $dark;
$site-header-border-top-color:           $dark;
$site-header-logo-link-width:            rem( 125px );
$site-header-logo-link-padding:          rem( 12px );
$site-header-logo-link-background-color: $primary-color;
$site-header-logo-color:                 $white;
$site-header-logo-color--bp-up:          $secondary-color;

$site-nav-secondary-font-size--bp-up: rem( 14px );


//
// Content Scope
// ==========================================================================

$content-h2-font-family: $font-family-sans-serif;
$content-h3-font-family: $font-family-sans-serif;

$content-h1-font-size: $h2-font-size;
$content-h2-font-size: $h3-font-size;
$content-h3-font-size: $h5-font-size;

$content-h3-color: $darker;

$content-h2-letter-spacing: em( -0.5px );
$content-h3-letter-spacing: em( -0.5px );

$blockquote-background-color: rgba( $primary-color, 0.05 );
$blockquote-padding-y: rem( 20px );
$blockquote-padding-left: rem( 10px );

$list-counter-color: $secondary-color;
$list-unordered-bullet-type: square;


//
// Pullquotes
// ==========================================================================

$pullquote-spacing-y:             rem( 8px );
$pullquote-font-family:           $font-family-serif;

$pullquote-marks-gutter-x:        em( 2px );
// stylelint-disable-next-line unit-blacklist
$pullquote-marks-bottom-offset:   -0.3em;
$pullquote-marks-color:           rgba( $primary-color, 0.8 );
$pullquote-marks-font-size:       rem( 40px );
$pullquote-marks-font-weight:     600;

$pullquote-content-font-color:    $darker;
$pullquote-content-font-size:     rem( 20px );
$pullquote-content-line-height:   rem( 28px ) / $pullquote-content-font-size;
$pullquote-content-font-weight:   600;

$pullquote-credit-font-size:      rem( 14px );
$pullquote-credit-line-height:    rem( 16px ) / $pullquote-credit-font-size;
$pullquote-credit-font-style:     normal;
$pullquote-credit-letter-spacing: em( 0.3px );


//
// Main Element
// ==========================================================================

$main-title-font-size:        $h1-font-size;
$main-title-font-weight:      700;
$main-description-font-size:  rem( 18px );
$main-description-text-color: $body-font-color;


//
// Forms + Input Groups
// ==========================================================================

$input-label-font-family:       $font-family-sans-serif;
$input-radio-label-font-family: $font-family-serif;

// Input Groups
$input-group-addon-color: $secondary-color;


//
// Buttons
// ==========================================================================

$button-border-color:    $secondary-color;
$button-text-color-dark: $primary-color;


//
// User Card
// ==========================================================================

$user-card-show-hr: false;
$user-card-show-contact-labels: false;

$user-card-font-color:         $darker;
$user-card-img-border:         rem( 4px ) solid $accent-color;
$user-card-name-font-size:     rem( 20px );
$user-card-name-line-height:   rem( 28px ) / $user-card-name-font-size;
$user-card-name-font-style:    italic;
$user-card-title-font-size:    rem( 16px );
$user-card-title-font-weight:  normal;
$user-card-title-font-style:   italic;
$user-card-title-line-height:  rem( 24px ) / $user-card-title-font-size;
$user-card-contact-icon-size:  rem( 18px );
$user-card-contact-icon-color: $secondary-color;


//
// Stream
// ==========================================================================

// Stream Header
$stream-header-background-color:               $darker;
$stream-header-font-size:                      rem( 14px );

// Stream Items
$stream-item-title-font-size:                  rem( 20px );
$stream-item-title-letter-spacing:             0;
$stream-item-title-line-height:                rem( 24px ) / $stream-item-title-font-size;
$stream-item-title-link-text-color-hover:      $secondary-color;
$stream-item-title-link-text-decoration-hover: none;

// Larger screens
$stream-item-title-font-size--lg:              $stream-item-title-font-size;
$stream-item-title-letter-spacing--lg:         $stream-item-title-letter-spacing;

// Featured Stream Items
$feat-item-title-font-size: rem( 22px );


//
// Site Footer
// ==========================================================================

$site-footer-logo-size:                   rem( 44px );
$site-footer-border-bottom-color:         $accent-color;
$site-footer-nav-bg:                      $darker;
$site-footer-social-link-bg-color--bp-sm: $light;
$site-footer-social-link-color--bp-sm:    $site-footer-nav-bg;
$site-footer-links-font-family:           $font-family-sans-serif;
$site-footer-links-font-weight:           normal;
$site-footer-links-font-size:             rem( 14px );
$site-footer-links-color:                 #ffffff;
$site-footer-links-color-hover:           $accent-color;
$site-footer-links-letter-spacing:        em( 0.65px, $site-footer-links-font-size );
$site-footer-links-line-height:           rem( 28px ) / $site-footer-links-font-size;
$site-footer-links-separator-color:       $accent-color;
$site-footer-colophon-background-color:   $primary-color;
$site-footer-colophon-font-size:          rem( 14px );
$site-footer-colophon-letter-spacing:     em( 0.3px, $site-footer-colophon-font-size );
$site-footer-colophon-line-height:        rem( 20px ) / $site-footer-colophon-font-size;
$site-footer-newsroom-font-style:         italic;


//
// Widgets
// ==========================================================================
$widget-title-font-size:   rem( 12px );
$widget-title-color:       $primary-color;
$widget-title-line-height: rem( 24px ) / $widget-title-font-size;

//
// Miscellaneous
// ==========================================================================

// Message Spot
$message-spot-title-line-height: rem( 24px );
$message-spot-title-font-size: rem( 12px );
$message-spot-title-letter-spacing: em( 0.3px, $message-spot-title-font-size );
$message-spot-override-icon-color: $primary-color;
$message-spot-override-title-color: $primary-color;

// Modals
$modal-search-background-color: $secondary-color;

// Search Form
$search-form-standalone-button-background-color: $secondary-color;
$search-form-modal-button-background-color: $white;

// Cluster links below single entity
$cluster-list-heading-line-height: 1;
$cluster-list-heading-text-transform: none;
$cluster-list-heading-color: $secondary-color;

// Single Header
$single-header-title-font-size:         rem( 28px );
$single-header-title-line-height:       1.2;
$single-header-description-font-size:   rem( 18px );
$single-header-description-line-height: rem( 24px ) / $single-header-description-font-size;

// Single entity meta
$single-entity-meta-hover-background-color: $accent-color;

// Figure
$figure-caption-color: $darker;
$figure-text-align: right;
