<div class="brand-heading pedestal-shortcode--brand-heading">
    <div class="brand-heading__inner">
        {{ ped_logo( 'logo-icon', 'brand-heading__logo' ) }}
        <{{ el }} class="brand-heading__text">
            {{ content }}
        </{{ el }}>
    </div>
</div>
