<div class="pedestal-shortcode--cta-btn pedestal-shortcode">
    <a href="{{ url|esc_url }}"
        class="btn--cta btn--pill"
        data-ga-category="Post Content CTA Button"
        data-ga-label="{{ content|esc_attr }}"
    >
        {{ content }}
    </a>
</div>
