{% extends 'forms/signup-daily.twig' %}

{% block submit_button %}
<button class="signup-email__btn btn--oval js-form-submit" type="submit">
    {% include 'partials/email-forms/form-submit-signup-inner.twig' %}
</button>
{% endblock submit_button %}

{% block icon %}
{% endblock icon %}

{% block input_icon %}
    {{ ped_icon( 'at-symbol', 'signup-email__input-icon input-group__addon' ) }}
{% endblock input_icon %}

{% block success_icon %}
    {{ ped_icon( 'heart' ) }}
{% endblock success_icon %}

{% block title %}
{% endblock title %}


{% block details %}
{% endblock details %}
