{% set event_element = event_element|default( if_email('div', 'article')  ) %}

<{{ event_element }} class="pedestal-shortcode  {{ item.css_classes }}" data-entity-type="event">
    <div class="c-event">
        <div class="c-event__title">
            {% include 'partials/item-title.twig' with {'overview': false} %}
        </div>
        <div class="c-event__sponsorship">
            {{ ped_slot( 'shortcode' ) }}
        </div>
        {% include 'partials/events/details.twig' %}
        {% include 'partials/events/export.twig' %}
    </div>
</{{ event_element }}>
