{% if member_bar_text %}

{% set member_bar_button_text = member_bar_button_text|default( 'Support Our Work' ) %}
{% set member_bar_button_url = member_bar_button_url|default( site.url ~ '/support-our-work/' ) %}

<div class="member-bar">
    <p class="member-bar__text">{{ member_bar_text }}</p>
    <a href="{{ member_bar_button_url|esc_url }}"
        class="member-bar__button btn--pill btn--no-border btn"
        data-ga-category="Member Bar"
        data-ga-label="{{ member_bar_button_text }}"
    >
        {{ member_bar_button_text }}
    </a>
</div>
{% endif %}
