{% import "macros/macros.twig" as macros %}

<div class="dfp-stream-08-wrapper c-stream__item  js-stream-item">

    <div class="dfp-stream-08--smaller dfp-stream-08 dfp js-dfp-stream-08-smaller">
        {{ macros.dfp_unit( 'PGH_S1_300x250_M' ) }}
    </div>

    <div class="dfp-stream-08--larger dfp-stream-08 dfp js-dfp-stream-08-larger">
        {{ macros.dfp_unit( 'PGH_S1_640x150_D' ) }}
    </div>

</div>
