<div class="dfp-stream-16-wrapper c-stream__item  js-stream-item">

    <div class="dfp-stream-16--smaller dfp-stream-16 dfp js-dfp-stream-16-smaller">
        {{ macros.dfp_unit( 'PGH_S2_300x250_M' ) }}
    </div>

    <div class="dfp-stream-16--larger dfp-stream-16 dfp js-dfp-stream-16-larger">
        {{ macros.dfp_unit( 'PGH_S2_640x150_D' ) }}
    </div>

</div>
