<div class="e404-message">
    <small class="e404-message__hook e404-text--primary">{{ message.hook }}</small>
    <h2 class="e404-message__content e404-text--primary">{{ message.content }}</h2>
</div>
