{% if item.is_cluster %}
    {% set cluster = item %}
    {% set follow_text = 'follow this' %}
{% elseif item.is_entity and item.get_story %}
    {% set cluster = item.get_story %}
    {% set follow_text = 'follow story' %}
{% endif %}

<div class="c-entity-share sticky">
    <div class="top-bar row" data-topbar>
        <div class="columns small-6">
            <a class="button--rounded button expand" href="#" data-reveal-id="follow-cluster">{{ follow_text }}</a>
        </div>
        <div class="columns small-6">
            <a class="button--rounded button expand" href="#" data-reveal-id="share-article">share</a>
        </div>
    </div>
</div>

{% include 'partials/modals/share-entity.twig' %}
{% include 'partials/modals/follow-cluster.twig' %}
