<div class="c-entity-share sticky  js-entity-share">
    <div class="top-bar row" data-topbar>
    {% if cluster %}
        <div class="columns small-6">
            <a class="button--rounded button expand" href="#follow-cluster" data-reveal-id="follow-cluster">{{ follow_text }}</a>
        </div>
    {% endif %}
        <div class="columns small-6">
            <a class="button--rounded button expand" href="#share-article" data-reveal-id="share-article">share</a>
        </div>
    </div>
</div>
