{% if overline %}

{% set link %}
    <a
        href="{{ overline_url|esc_url }}"
        class="entity-circulation__link"
        data-ga-category="post-footer"
        data-ga-label="cluster-story"
    >
        {{ overline }}
    </a>
{% endset %}

<p class="entity-circulation">
    Want some more? Explore other {{ link }} stories.
</p>

{% endif %}
