<div class="c-entity-share  sticky  js-entity-share">
    <div class="top-bar row" data-topbar>
        <div class="columns small-6 end">
            <a class="button--rounded button expand" href="#" data-reveal-id="share-article">share</a>
        </div>
    </div>
</div>

{% include 'partials/modals/share-entity.twig' %}
