<div class="c-entity-share sticky  js-entity-share">
    <div class="top-bar row" data-topbar>
    {% if cluster %}
        <div class="columns small-6">
            <a class="btn btn--small btn--full-width"
                href="#follow-cluster"
                data-reveal-id="follow-cluster"
                data-ga-category="Button"
                data-ga-label="{{ follow_text|capitalize }}">
                    {{ follow_text }}
            </a>
        </div>
    {% endif %}
        <div class="columns small-6">
            <a class="btn btn--small btn--full-width"
                href="#share-article"
                data-reveal-id="share-article"
                data-ga-category="Button"
                data-ga-label="Share">
                    share
            </a>
        </div>
    </div>
</div>
