{% spaceless %}
<ol start="{{ count }}" class="c-footnotes">
    {% for item in items %}
        {% set id = post_id ~ '-' ~ count %}

        <li id="footnote-{{ id }}" class="c-footnotes__item">
            {{ item }}
            <a href="#fnref-{{ id }}" class="c-footnotes__return  js-footnote-link">
                <i class="c-footnotes__return__icon fa fa-level-down"></i>
            </a>
        </li>

        {% set count = count + 1 %}
    {% endfor %}
</ol>
{% endspaceless %}
