<div class="c-search__tools js-search-tools">
    <div class="c-search__filters  c-search__tools__item  js-search-tools-item  js-search-filters">
        <label class="c-search__filters__label {% if sort_by == 'date' %} is-active button {% endif %}">
            <input type="radio" name="orderby" value="date" class="c-search__filters__radio js-search-filters-radio" {% if sort_by == 'date' %} checked {% endif %}> Date
        </label>
        <label class="c-search__filters__label {% if sort_by == 'relevance' %} is-active button {% endif %}">
            <input type="radio" name="orderby" value="relevance" class="c-search__filters__radio js-search-filters-radio" {% if sort_by == 'relevance' %} checked {% endif %}> Relevance
        </label>
    </div>

    <span class="c-search__total-results  c-search__tools__item">
        <span class="c-search__total-results__count">{{found_results|number_format}}</span> results found
    </span>
</div>
