<div class="c-search">
    <form class="c-search__form row js-search-form" action="{{ site.url }}" role="search">

        <div class="c-search__input js-search-input">
            <button type="submit" class="btn btn--no-border c-search__icon--search c-search__icon">
                {{ ped_icon( 'search' ) }}
                <span class="invisible">submit</span>
            </button>

            <input type="text" name="s"
                class="form-input c-search__field  js-search-field"
                id="the-search-field"
                placeholder="Enter search term"
                value="{{ search_query }}"
                tabindex="1"
            />

            <a class="c-search__icon--close  c-search__icon  js-search-icon-close" href="#">
                {{ ped_icon( 'close' ) }}
                <span class="invisible">close search</span>
            </a>
        </div>

        {% include 'partials/loading.twig' %}

    </form>
</div>
