{% extends 'forms/signup-cluster.twig' %}


{% block title %}
Get email notifications whenever we write about <strong>{{ subscription_title }}</strong>
{% endblock title %}


{% block email_input %}
<div class="signup-email__input-group input-group">
    <label for="{{ id_email_input|esc_attr }}" class="invisible">
        Email Address
    </label>
    {{ ped_icon( 'envelope-o', 'signup-email__input-icon input-group__addon' ) }}
    {{ email_input }}
</div>
{% endblock email_input %}
