{% extends 'forms/signup-cluster.twig' %}


{% block title %}
Get email notifications whenever we write about <strong>{{ subscription_title }}</strong>
{% endblock title %}


{% block submit_button %}
<button class="signup-email__btn btn--lg btn--achtung btn--full-width js-form-submit" type="submit">
    {% include 'partials/email-forms/form-submit-signup-inner.twig' with {text: 'Follow This'} only %}
</button>
{% endblock submit_button %}
