<li>
    <a
        href="{{ link|esc_url }}"
        data-ga-category="Footer Links"
        data-ga-label="{{ title|esc_attr }}"
    >
        <label for="the-search-field"
            class="js-sitewide-search"
            tabindex="0"
            data-ga-category="Search Link - Footer"
            data-ga-label="Search"
        >
            {{ title }}
        </label>
    </a>
</li>
