{% if location == 'header' or location == 'footer' %}
<li class="social-icon {% if location == 'header' %} show-for-medium-up {% endif %}"><a href="#" data-reveal-id="subscribe-to-newsletter"><i class="fa fa-envelope"></i></a></li>
{% endif %}

<li class="social-icon {% if location == 'header' %} show-for-medium-up {% endif %}">
    <a href="{{ site.social.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a>
</li>
<li class="social-icon {% if location == 'header' %} show-for-medium-up {% endif %}">
    <a href="{{ site.social.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
</li>
<li class="social-icon {% if location == 'header' %} last show-for-medium-up{% endif %}">
    <a href="{{ site.social.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
</li>

{% if location == 'header' %}
<li class="more first"><a href="/#search"><i class="fa fa-lg fa-search"></i></a></li>
<li class="more"><a id="off-canvas-burger" class="right-off-canvas-toggle" href="#"><i class="fa fa-lg fa-bars"></i></a></li>
{% endif %}
