<p><strong>You’re all set!</strong></p>

<p><strong>{{ site.name }} Daily</strong> will land in your inbox every morning around 7am.</p>

<div class="widget-signup-newsletter__success-message__details">
    <p>Check <span class="u-wrap-text js-success-message-email">your email</span>
        now and make sure our confirmation has arrived.</p>

    <p>You can add <strong>{{ site.emails.news }}</strong> to your contacts to stop
        overzealous spam filters from eating our messages.</p>
</div>
