<label style="display:none;" for="pedestal-blank-field-check">
    {{ __( 'Leave this field blank.', 'pedestal' ) }}
    <input type="text"
        class="form-input"
        name="pedestal-blank-field-check"
        id="pedestal-blank-field-check"
        value=""
        placeholder=""
    />
</label>
