<div class="signup-email__header">
    <div class="signup-email__icon">
        {{ ped_icon( 'envelope-slant' ) }}
    </div>

    <p class="signup-email__title">
        <strong>You’re all set!</strong>
    </p>
</div>

<p class="signup-email__subtitle">
    <strong>{{ site.emails.daily_newsletter_name }}</strong> will land in your inbox every morning around {{ site.emails.daily_newsletter_send_time }}
</p>

<div class="signup-email__success-message__details">
    <p>Check <span class="u-wrap-text js-success-message-email">your email</span>
        now and make sure our confirmation has arrived.</p>

    <p>You can add <strong>{{ site.emails.news }}</strong> to your contacts to stop
        overzealous spam filters from eating our messages.</p>
</div>
