<li class="c-whos-next__logo  l-flat__logo  widget  has-border--bottom  widget_pedestal_layout_flat_logo">
    <a href="http://www.knightfoundation.org/" class="c-whos-next__logo__img  l-flat__logo__img"></a>
</li>


<li class="l-flat__explainer  widget has-border--bottom  widget_pedestal_explainer">

    <p>{{ site.name }}’s “Who's Next” series, presented by the Knight
    Foundation, highlights some of the most dynamic people under 40 shaping {{
    site.address.city }} every day. Our goal is to identify and track the next
    generation of leaders and influencers.</p>

</li>


<li class="widget has-border--bottom  widget_pedestal_whosnext_archive">
    {% include 'partials/sidebar-whosnext-items.twig' %}
</li>
