<div class="c-item-title--everyblock  c-item-title">
    {{ macros.title_bar( _context, {
        'layout': 'inline',
        'size': 'sm',
        'extra_classes': 'c-item-title__label'
    } ) }}
    <h4 class="c-item-title__title"><a href="{{ item.url }}" class="js-entity-title  js-entity-permalink" target="_blank">{{ item.title }}</a></h4>
</div>
