<div class="pedestal-shortcode--cta-btn pedestal-shortcode">
    <a href="{{ url|esc_url }}"
        class="btn--bg-light btn--bordered"
        data-ga-category="post-content"
        data-ga-label="call-to-action"
    >
        {{ content }}
    </a>
</div>
