// ==========================================================================
// Pedestal // * The Incline * // Base // Global // SETTINGS
// ==========================================================================


//
// Colors
// ==========================================================================


$primary-color   : $site-theme-brand-color;
$secondary-color : #7f5f59;

$site-header-email-cta-bg-c: #ffffff;
