# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
#
# Solution: stick this file up your repository root (which it assumes is
# also the WordPress root directory) and add exceptions for any plugins,
# themes, and other directories that should be under version control.
#
# See the comments below for more info on how to add exceptions for your
# content. Or see git's documentation for more info on .gitignore files:
# http://kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore everything in the root except the "wp-content" directory.
/*
!wp-content/

# Git
!.gitignore
# !.gitignore-build
!.gitattributes
# !.github/

# Package Managers + Dev Tools
# !bower.json
# !.bowerrc
# !composer.*
# !Gemfile
# !Gemfile.lock
# !Gruntfile.js
# !package.json
# !.ruby-gemset
# !.ruby-version
# !config/

# Coding Standards
# !.csslintrc
# !.jscsrc
# !.jshintrc
# !.scss-lint.yml
# !.editorconfig
# !phpcs.ruleset.xml

# Unit Tests
# !/tests/

# Style Guide
!/styleguide/

# Deployment
!appspec.yml
# !circle.yml
!health-check.php

# Markdown
!README.md
!CONTRIBUTING.md
!DEPLOYMENTS.md
!/VERSION

!loaderio-97d0d5de5929cb5b907888c30422a41a.txt

# Bin
!bin/

# Ignore everything in the "wp-content" directory, except the "plugins", "mu-plugins",
# and "themes" directories.
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/index.php
!wp-content/sunrise.php
!wp-content/object-cache.php

# Include all mu-plugins
# wp-content/mu-plugins/*

# Include all plugins
# wp-content/plugins/*

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/spirited-media/
!wp-content/themes/pedestal/
!wp-content/themes/billy-penn/
!wp-content/themes/the-incline/

# Ignore theme development tools and dependencies
wp-content/themes/**/node_modules/
wp-content/themes/**/.sass-cache
wp-content/themes/**/wp-cli.local.yml
wp-content/themes/**/*.map
wp-content/themes/**/vendor/

# Include compiled assets
# wp-content/themes/*/assets/dist/
# !.gitkeep

# Include vendor directories
!vendor/
vendor/**/.git
