{% spaceless %}
{% set sponsor = slots.active %}

<td class="email-slot__label">
    {{ sponsor.get_sponsorship_label }}
</td>

<td class="email-slot__img">
    <a href="{{ sponsor.get_sponsorship_url }}">
        <img src="{{ sponsor.get_sponsorship_img_url }}" alt="{{ sponsor.get_the_title }}" border="0" />
    </a>
</td>

{% endspaceless %}
