// ==========================================================================
// Pedestal // Base // Email // SETTINGS
// ==========================================================================

//
// Units
// ==========================================================================


$base-font-size: 16px;
$base-line-height: 20px;





//
// General
// ==========================================================================


$font-family-sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif;

// Set the email width. Defined in two places:
//
// 1. max-width for all clients except Desktop Windows Outlook, allowing the
// email to squish on narrow but never go wider than 680px.
//
// 2. MSO tags for Desktop Windows Outlook enforce a 680px width.
//
// Note: The Fluid and Responsive Cerberus templates have a different width
// (600px). The hybrid grid is more "fragile", and its developer has found that
// 680px is a good width. Change with caution.
$email-container-width: 680px;
// Container width minus left and right spacing
$email-container-width-inner: $email-container-width - 20px;
$email-container-spacing-hoz: 20px;
$email-stream-item-spacing-v: 20px;

$email-background-color: $white;
$email-img-background-color: #dddddd; // Cerberus default
$email-btn-background-color: $yet-another-red;

$email-heading-size: 18px;
$small-font-size: 14px;

$email-divider-std: 1px solid $dimmed-text-color;
$email-divider-wide: 3px solid $border-std-color;

$email-slot-item-pd: 5px;

$email-entity-meta-img-size: $base-line-height * 2;
