<tr class="form-field term-migration-wrap">
    <th scope="row">
        <label for="term-migration">Migrate Term</label>
    </th>
    <td>
        {{ dropdown }}
        <p class="description">Move everything tagged with {{ term_name }} to a new term. {{ term_name|upper }} WILL BE DELETED!</p>
    </td>
</tr>
