<li class="c-whos-next__logo widget  has-border--bottom">
    <a href="https://www.stbank.com/"
        class="c-whos-next__logo__img"
        data-ga-category="Sponsor"
        data-ga-label="Who's Next|Logo|STBank">
    </a>
</li>
