<table class="email-header" {{ email_table_atts }} align="center" width="100%">
    <tr>
        <td class="email-header__inner">

            <a href="{{ site.url }}" rel="home">
                <img class="email-header__logo" aria-hidden="true"
                    width="200" height="41" border="0"
                    alt="{{ site.name }}"
                    src="{{ theme.link }}/assets/images/logos/logo-light.png" />
            </a>

        </td>
    </tr>
</table>
