{% set heading_text = title|default( item.get_the_title ) %}
{% set heading_url = url|default( item.get_the_permalink ) %}

<h1 class="email-heading--headline">
    {% if heading_url %}
    <a href="{{ heading_url }}">
    {% endif %}

        {{ heading_text }}

    {% if heading_url %}
    </a>
    {% endif %}
</h1>
