// ==========================================================================
// Pedestal // UTILITIES
// ==========================================================================


// stylelint-disable declaration-no-important


.u-cf {
  @include clearfix;
}

.u-clear-both {
  clear: both;
}

.u-clear-left {
  clear: left;
}

.u-clear-right {
  clear: right;
}


//
// Typography
// ==========================================================================


// Set text color to primary color
.u-text-color-primary {
  color: $primary-color !important;
}


// Heading sizing
.u-size-h1 { font-size: $h1-font-size; }
.u-size-h2 { font-size: $h2-font-size; }
.u-size-h3 { font-size: $h3-font-size; }
.u-size-h4 { font-size: $h4-font-size; }
.u-size-h5 { font-size: $h5-font-size; }
.u-size-h6 { font-size: $h6-font-size; }


// Hanging punctuation margin nudge
.u-hang-punc {
  &::before {
    margin-left: $nudge-punctuation;
  }
}


// Text transform
.u-tt-upper   { text-transform: uppercase; }
.u-tt-lower   { text-transform: lowercase; }
.u-tt-capital { text-transform: capitalize; }
.u-tt-none    { text-transform: none; }


// Wrap long text strings
// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
.u-wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}





//
// Loading Spinners
// ==========================================================================


@import 'spinkit/scss/spinners/7-three-bounce';
