//
// Typography
// ==========================================================================

// Heading sizing
.u-size-h1 { font-size: $h1-font-size; }
.u-size-h2 { font-size: $h2-font-size; }
.u-size-h3 { font-size: $h3-font-size; }
.u-size-h4 { font-size: $h4-font-size; }
.u-size-h5 { font-size: $h5-font-size; }
.u-size-h6 { font-size: $h6-font-size; }

.s-content {
  .u-size-h1 { font-size: $content-h1-font-size; }
  .u-size-h2 { font-size: $content-h2-font-size; }
  .u-size-h3 { font-size: $content-h3-font-size; }
}
