// ==========================================================================
// Pedestal // UTILITIES
// ==========================================================================


//
// Typography
// ==========================================================================


// Set text color to primary color
.u-text-color-primary {
  // scss-lint:disable ImportantRule
  color: $primary-color !important;
}


// Heading sizing
.u-size-h1 { font-size: $h1-font-size; }
.u-size-h2 { font-size: $h2-font-size; }
.u-size-h3 { font-size: $h3-font-size; }
.u-size-h4 { font-size: $h4-font-size; }
.u-size-h5 { font-size: $h5-font-size; }
.u-size-h6 { font-size: $h6-font-size; }


// Hanging punctuation margin nudge
.u-hang-punc {
  &::before {
    margin-left: $nudge-punctuation;
  }
}





//
// Loading Spinners
// ==========================================================================


@import '../../vendor/spinkit/scss/spinners/7-three-bounce';
