// ==========================================================================
// Pedestal // UTILITIES
// ==========================================================================


/**
 * Type sizing
 */

.u-size-h1 { font-size: $h1-font-size; }
.u-size-h2 { font-size: $h2-font-size; }
.u-size-h3 { font-size: $h3-font-size; }
.u-size-h4 { font-size: $h4-font-size; }
.u-size-h5 { font-size: $h5-font-size; }
.u-size-h6 { font-size: $h6-font-size; }


/**
 * Punctuation
 */

// Hanging punctuation margin nudge
.u-hang-punc {
  &::before {
    margin-left: $nudge-punctuation;
  }
}


/**
 * Loading indicator
 */

@import '../../vendor/spinkit/scss/spinners/7-three-bounce';
