// ==========================================================================
// Pedestal // UTILITIES -- Global
// ==========================================================================


// stylelint-disable declaration-no-important


.u-clear-both { clear: both; }
.u-clear-left { clear: left; }
.u-clear-right { clear: right; }

.u-float-none { float: none; }
.u-float-left { float: left; }
.u-float-right { float: right; }

.invisible { @include invisible; }




//
// Typography
// ==========================================================================


.u-text-color-primary {
  color: $brand-1-color !important;
}

.u-text-color-white {
  color: $white !important;
}

// Text alignment
.u-text-align--left { text-align: left; }
.u-text-align--center { text-align: center; }
.u-text-align--right { text-align: right; }


// Font weights
.u-font-weight--light { font-weight: 300; }
.u-font-weight--normal { font-weight: 400; }
.u-font-weight--bold { font-weight: 700; }


// Wrap long text strings
// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
.u-wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.u-nowrap {
  white-space: nowrap;
}
