@import 'colors';

$brand-2-color:    #7f5f59;
$accent-2-color:   #4281a4;
$color-dark:       $dark-gray-color;
$color-gray:       $gray-color;
$light-gray-color: #e6e6e6;
$mark-color:       $gray-46;

$h3-font-size: rem( 27px );
$h4-font-size: rem( 22px );
$h5-font-size: rem( 18px );

$site-header-background-color:       $brand-1-color;
$site-header-logo-color:             #ffffff;
$site-header-menu-trigger-color:     #ffffff;
$site-header-social-link-icon-color: $color-dark;

$site-nav-primary-background-color--bp-up: $light-gray-color;

$content-h1-font-size: $h3-font-size;
$content-h2-font-size: $h4-font-size;
$content-h3-font-size: $h5-font-size;

$modal-header-nav-background-color: $color-dark;

$message-spot-override-title-color: $light-gray-color;
