<article class="{{ macros.get_stream_item_classes( 'pedalized' ) }}  {{ item.css_classes }}"
         {{ item.get_the_data_atts }}>
    <a id="{{ item.get_name }}"></a>
    <div class="c-event  entity__inner  c-stream__item__inner">
        <div class="c-stream__item__body  entity__body">
            {% include 'partials/stream/item-title.twig' %}
            {% include 'partials/events/details.twig' %}
            {% include 'partials/events/export.twig' %}
        </div>
    </div>
</article>
