// ==========================================================================
// The Incline // Components // 404 PAGE
// ==========================================================================


/*body*/.error404 {
  background-image: url( '#{$site-theme-abspath}/assets/images/tunnel-background.jpg' );
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;

  .content-wrapper {
    margin-top: 0;
  }
}

/*main*/.e404-main {
  margin-top: 0;
}

/*figure*/.e404-tunnel-monster {
  margin: rem-calc( -29px ) 0 0 0;
  text-align: center;

  @media #{$medium-up} {
    margin-top: rem-calc( -36px );
    margin-left: 20px;
    text-align: left;
  }
}

.e404-tunnel-monster__img {
  width: 300px;

  @media #{$medium-up} {
    width: 450px;
  }
}
