.error404 {
  background-image: url( '#{$site-theme-abspath}/assets/images/tunnel-background.jpg' );
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;

  .content-wrapper {
    margin-top: 0;
  }
}

.e404-main {
  margin-top: 0;
}

.e404-tunnel-monster {
  position: relative;
  z-index: $z-index-3;
  margin: rem( -13px ) 0 0 0;
  text-align: center;

  @media #{$medium-up} {
    margin-top: rem( -20px );
    margin-left: rem( 20px );
    text-align: left;
  }
}

.e404-tunnel-monster__img {
  width: rem( 300px );

  @media #{$medium-up} {
    width: rem( 450px );
  }
}
