.event {
  padding-top: 5vw;
  transform: skewY( -2deg );

  &.has-overline {
    padding-top: rem( 32px );
  }

  @media screen and ( min-width: em( 500px ) ) {
    padding-top: rem( 32px );
    padding-bottom: 1vw;
  }
}

.event__inner,
.event__hr {
  transform: skewY( 2deg );
}
