// ==========================================================================
// The Incline // Components // EVENT
// ==========================================================================


.event {
  @include angle-edge(
    $angle: 1,
    $angle-position-y: both,
    $angle-position-x: left,
    $angle-position-bottom-x: right
  );

  padding-top: 10vw;

  &.has-overline {
    padding-top: rem( 32px );
  }

  @media screen and ( min-width: em( 500px ) ) {
    &,
    &.has-overline {
      padding-top: rem( 48px );
      padding-bottom: 1vw;
    }
  }
}
