.site-nav__link {
  color: $light-gray-color;

  &:hover,
  &:focus {
    &,
    .site-nav__icon {
      color: $gray-color;
    }
  }
}


.site-nav--secondary {
  .site-nav__link {
    &:hover,
    &:focus {
      .site-nav__icon {
        color: $white;
      }
    }
  }
}


@media #{$site-header-breakpoint} {
  .site-nav__link {
    &,
    &:hover,
    &:focus {
      color: $body-font-color;
    }
  }

  .site-nav--primary {
    .site-nav__link {
      &:hover,
      &:focus {
        &,
        .site-nav__icon {
          color: $brand-1-color;
        }

        .site-nav__link__inner {
          border-bottom-color: transparent;
        }
      }
    }

    .site-nav__icon {
      color: $dark-gray-color;
    }
  }


  .site-nav--secondary {
    .site-nav__link {
      transform: skew( -10deg );
    }

    .site-nav__link__inner {
      transform: skew( 10deg );
    }
  }

}
