// ==========================================================================
// Pedestal // Components // 404 PAGE
// ==========================================================================


// @TODO
// scss-lint:disable SelectorFormat

/*body*/.error404 {

  .c-main {
    color: $page-404-text-color;
    text-align: center;

    @media #{$large-up} {
      text-align: right;
    }
  }

}

.e404-text {
  &--primary {
    color: $page-404-text-color;
    font-size: $page-404-primary-text-size;
    line-height: 1.2;
    font-weight: 400;
  }

  &--secondary {
    font-size: $h3-font-size;
    margin-bottom: 0;
  }
}


.e404-main {
  margin-top: $page-404-m-t;
}

.e404-art {}



/*figure*/.e404-quote {
  margin: 0 0 ( $page-404-primary-text-size * $page-404-primary-text-line-height );
}

  /*blockquote*/.e404-quote__body {
    margin-bottom: 0.5rem;
    border-left: 0;
    padding: 0;
  }

  /*figcaption*/.e404-quote__caption {
    font-weight: 700;
    font-style: italic;
  }

.e404-message {}

  /*small*/.e404-message__hook {}

  .e404-message__content {
    font-weight: 900;
    text-transform: uppercase;
  }

.e404-nav {

  a {
    font-weight: bold;
  }

}
