// ==========================================================================
// Pedestal // Components // 404 Page // CONFIGURATION
// ==========================================================================


$page-404-m-t                 : $base-spacing-unit * 3;
$page-404-text-color          : $grey-dark;
$page-404-lg-text-size        : $h2-font-size;
$page-404-lg-text-line-height : 1.2;
