// ==========================================================================
// Pedestal // Components // Advertising // CONFIGURATION
// ==========================================================================


// Amount to offset 300x50 DFP ad on mobile
$dfp-mobile-ad-offset           : -( $column-gutter / 4 );
// Same as above, but for ads within panels
$dfp-mobile-ad-offset--panelled : -( $column-gutter );
$nativo-vertical-m              : $base-spacing-unit * 2;
