// ==========================================================================
// Pedestal // Components // ADVERTISING
// ==========================================================================


/* stylelint-disable */


//
// Nativo: Promotional Content Landing Page
// ==========================================================================


.c-main--promotional-content {

  .ntvShare,
  .ntv_share {
    margin: $nativo-vertical-m 0 !important;
  }

  .ntv-bullet {
    padding-left: 0;

    li {
      list-style-type: none;
    }

  }

  [class*=ntvShare] {

    img {
      display: none !important;
    }

    td {
      width: 38px !important;
    }

    a[class*=ntvShare] {
      display: block;
      width: 32px;
      height: 32px;
      background-size: 32px;
    }

    a.ntvShareFacebook {
      background-image: url( $pedestal-social-icons-abspath + '/png/circle_64x64_facebook.png' );
    }

    a.ntvShareTwitter {
      background-image: url( $pedestal-social-icons-abspath + '/png/circle_64x64_twitter.png' );
    }

    a.ntvShareLinkedIn {
      background-image: url( $pedestal-social-icons-abspath + '/png/circle_64x64_linkedin.png' );
    }

    a.ntvShareGoogle {
      background-image: url( $pedestal-social-icons-abspath + '/png/circle_64x64_gplus.png' );
    }

    a.ntvSharePinterest {
      background-image: url( $pedestal-social-icons-abspath + '/png/circle_64x64_pinterest.png' );
    }

    a.ntvShareStumbleUpon {
      background-image: url( $pedestal-social-icons-abspath + '/png/circle_64x64_stumbleupon.png' );
    }
  } // end [class*=ntvShare]
} // end .c-main--promotional-content





//
// Nativo: Video Units
// ==========================================================================


.ntv-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ntv-video-frame {
  clear: both;
  margin-top: -8px;
  padding: 0 10px;
  max-height: 0;
  overflow-y: hidden;
  transition-duration: 1.2s;

  .ntvExpanded & {
    overflow-y: hidden;
    max-height: 800px;
    padding-top: 20px;
  }
}

.ntv-video-sponsor {
  height: auto;
  float: left;
}

.ntv-video-sharebar {
  float: right;
}

.ntv-video-expander {
  clear: both;
  height: 8px;
}

.ntv-video-open {
  display: none;

  .ntvExpandable & {
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 8px;
    display: block;
  }
}

.ntv-icon-expander {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 8px solid $grey-80;
  margin: 0 auto;
  cursor: pointer;

  .ntvExpanded & {
    border-top: 0;
    border-bottom: 8px solid $grey-80;
  }
}

.ntv-play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: $white;
}

.ntv-video-play-button {
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
}





//
// Doubleclick For Publishers
// ==========================================================================


.dfp {

  iframe {
    display: block;
    margin: 0 auto;
  }
}

.dfp-disclaimer {
  text-align: center;
  font-size: unitize( 11px );
  color: $dimmed-text-color;
  margin-bottom: 0;
}

@media #{$small-only} {
  .dfp-stream-08-wrapper .dfp,
  .dfp-stream-16-wrapper .dfp {
    margin-left: $dfp-mobile-ad-offset;
    margin-right: $dfp-mobile-ad-offset;

    .c-panel & {
      margin-left: $dfp-mobile-ad-offset--panelled;
      margin-right: $dfp-mobile-ad-offset--panelled;
    }
  }
}

.dfp-stream-08-wrapper,
.dfp-stream-16-wrapper {
  @include stdbd(bottom);
  padding-bottom: $base-spacing-unit * 2.5;
}

.rail {
  .widget_pedestal_dfp_rail_right {
    // Override default widget padding for BP-RailRight
    padding: 0;

    // Ad divs will not display if ad unit is empty, so hide it from the
    // rail. These will be enabled after the ad has successfully loaded.
    border-bottom: 0;
    margin-top: 0;
  }
}
