// ==========================================================================
// Pedestal // Components // Avatar // CONFIGURATION
// ==========================================================================


$c-avatar-colors: (
  default: $user-staff-color,
  contributor: $user-contributor-color
) !default;

$c-avatar-settings: (
  size-sm: double( $base-spacing-unit ),
  bd-w-sm: 3px,
  bd-w-lg: 6px,
  bd-c: $c-avatar-colors
) !default;





//
// Functions
// ==========================================================================


@function c-avatar-property-get( $properties... ) {
  @return map-deep-get( $c-avatar-settings, $properties... );
}
