// ==========================================================================
// Pedestal // Components // AVATAR
// ==========================================================================


.c-avatar {
  position: relative;
  margin: 0 auto;
}

.c-avatar__img {
  border-radius: $global-rounded;
  overflow: hidden;
}

@if global-variable-exists( site-theme-name ) {
  .c-avatar__img--fallback {
    @include iconize(
      $path: $site-theme-logo-abspath + '/logo-default-avatar',
      $size: $avatar-size-sm,
      $fallback: true
    );
  }
}





.c-avatar--staff {}


.c-avatar--contributor {}
