// ==========================================================================
// Pedestal // Components // AVATAR
// ==========================================================================


.c-avatar {
  position: relative;
  margin: 0 auto;
}


  .c-avatar__img {
    border-radius: $global-rounded;
    overflow: hidden;

    @if $email {
      @include box-sizing( border-box );
    }
  }


  @if global-variable-exists( site-theme-name ) {

    .c-avatar__img--fallback {
      $path: $site-theme-logo-abspath + '/logo_default_avatar';
      $fallback: true;

      @if $email {
        $path: $site-theme-logo-abspath + '/logo_default_avatar-32';
        $fallback: false;
      }

      @include iconize(
        $path: $path,
        $size: $avatar-size-sm,
        $fallback: $fallback
      );
    }
  }





.c-avatar--staff {}


.c-avatar--contributor {}
