// ==========================================================================
// Pedestal // Components // Blox // CONFIGURATION
// ==========================================================================


$c-blox-settings: (
  bg                    : $primary-color,
  bg-promo              : $hello-yellow,
  bg-lighter            : $truth-serum,
  text-color-light      : $white,
  text-color-dark       : $grey-darker,
  title-font-weight     : 300,
  title-font-weight-alt : 600,
  font-size             : $base-font-size,
  line-height           : 1,
  pd-v                  : $half-spacing-unit,
  pd-h                  : $base-spacing-unit,
  prefix-spacing        : quarter( $base-spacing-unit )
) !default;

$c-blox-sizes      : ( 'sm', 'md', 'lg', 'xlg' );
$c-blox-sizes-data : (
  sm: (
    font-size : $small-font-size,
    pd-v      : $half-spacing-unit,
    pd-h      : $half-spacing-unit
  ),
  md: (
    font-size : $base-font-size,
    pd-v      : $half-spacing-unit,
    pd-h      : $base-spacing-unit
  ),
  lg: (
    font-size : $h3-font-size,
    pd-v      : ( $base-spacing-unit / 1.5 ),
    pd-h      : $base-spacing-unit
  ),
  xlg: (
    font-size : $h2-font-size,
    pd-v      : $base-spacing-unit,
    pd-h      : $base-spacing-unit
  )
) !default;





//
// Title Bar Settings
// ==========================================================================


$story-bar-settings: (
  font-size             : $base-font-size,
  title-font-weight     : map-fetch( $c-blox-settings, 'title-font-weight' ),
  title-font-weight-alt : map-fetch( $c-blox-settings, 'title-font-weight-alt' ),
  pd-v                  : $half-spacing-unit,
  pd-h                  : $base-spacing-unit,
  m-t                   : ( c-blox-height-get() + $base-spacing-unit ),
  item-spacing          : $half-spacing-unit,
  offset                : c-blox-offset-get()
) !default;





//
// Functions
// ==========================================================================


@function c-blox-property-get( $property, $size: null ) {
  @if $size {
    @if sl-contain( $c-blox-sizes, $size ) {
      @if map-has-key( $c-blox-settings, $property ) {
        @return map-fetch( $c-blox-sizes-data, $size, $property );
      } @else {
        @error "Property #{$property} not found in map `$c-blox-settings`.";
      }
    } @else {
      @error "#{$size} is not a valid blox size.";
    }
  } @else {
    @return map-fetch( $c-blox-settings, $property );
  }
}

@function c-blox-pd-v-get( $size: null ) {
  @return c-blox-property-get( 'pd-v', $size );
}

@function c-blox-pd-h-get( $size: null ) {
  @return c-blox-property-get( 'pd-h', $size );
}

@function c-blox-font-size-get( $size: null ) {
  @return c-blox-property-get( 'font-size', $size );
}

@function c-blox-height-get( $size: null ) {
  @return ( c-blox-font-size-get( $size ) + c-blox-pd-v-get( $size ) * 2 );
}

@function c-blox-offset-get( $size: null ) {
  @if $size {
    @return -( halve( c-blox-height-get( $size ) ) );
  } @else {
    @return -( halve( c-blox-height-get() ) );
  }
}


@function story-bar-property-get( $property, $font-size: null ) {
  @return map-fetch( $story-bar-settings, $property );
}





//
// Mixins
// ==========================================================================


@mixin c-blox-offset( $size: null ) {
  @if $size {
    margin-top: c-blox-offset-get( $size );
  } @else {
    margin-top: c-blox-offset-get();
  }
}


/**
 * Set up base styles for a color variant
 *
 * @param {string} $mod Name of a BEM modifier
 */
@mixin c-blox-mod-color( $mod ) {
  $bg: 'bg-#{$mod}';

  &,
  .c-blox__text__link {
    @include text-color( c-blox-property-get( $bg ) );
  }

  .c-blox__inner {
    background-color: c-blox-property-get( $bg );
    color: $black;
  }
}


@mixin c-blox-font-size-adjust( $font-size, $base-selector: '&' ) {
  #{$base-selector}__prefix {
    width: $font-size;
    height: $font-size;
  }

  #{$base-selector}__text__item {
    font-size: $font-size;
  }
}





//
// Calculated Settings
// ==========================================================================

$c-blox-settings: map-merge( $c-blox-settings, (
  item-spacing: c-blox-pd-h-get()
) );
