// ==========================================================================
// Pedestal // Components // BUTTONS
// ==========================================================================


$btn-transition: 300ms ease 0s;


/// Make a button color variation
///
/// @param {color} $color
/// @param {color} $border-color [$color]
/// @param {color} $border-color-hover [$border-color]
@mixin btn-color-variant(
  $color,
  $border-color: $color,
  $border-color-hover: $color
) {
  background-color: $color;
  border-color: $border-color;
  color: text-contrast( $color );

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    border-color: $border-color-hover;
    color: $body-font-color;
  }
}


.btn {
  background-color: $white;
  border: $btn-border-width solid $primary-color;
  border-radius: $global-radius;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  font-size: $small-font-size;
  line-height: 1.125;
  margin: 0;
  margin-bottom: $input-btn-spacing-y;
  padding: $input-btn-spacing-y $input-btn-spacing-x;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background-color $btn-transition,
    color $btn-transition;
  vertical-align: middle;

  @media #{$medium-up} {
    font-size: $base-font-size;
  }

  &:hover {
    background-color: $primary-color;
    color: text-contrast();
  }

  &:disabled,
  &.is-disabled {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
  }
}


//
// Color Variants
//
// @todo this could be handled better with maps

.btn--primary   { @include btn-color-variant( $primary-color ); }
.btn--secondary { @include btn-color-variant( $secondary-color ); }
.btn--alert     { @include btn-color-variant( $alert-color ); }
.btn--achtung   { @include btn-color-variant( $elektroid-yellow, $border-color: $white ); }


//
// Size Variants
//

.btn--sm {
  font-size: $small-font-size;
  line-height: 1.5;
  margin-bottom: $input-btn-spacing-y-sm;
  padding: $input-btn-spacing-y-sm $input-btn-spacing-x-sm;
}

.btn--lg {
  border-width: $btn-border-width-lg;
  font-size: $input-btn-font-size-lg;
  line-height: 1.5;
  margin-bottom: $input-btn-spacing-y-lg;
  padding: $input-btn-spacing-y-lg $input-btn-spacing-x-lg;
}


//
// Misc. Variants
//

.btn--no-border       { border: 0; }
.btn--full-width      { width: 100%; }
