// ==========================================================================
// Pedestal // Components // BUTTONS
// ==========================================================================


$btn-transition: 300ms ease 0s;


/// Make a button color variation
///
/// @param {color} $color
/// @param {color} $border-color [$color]
/// @param {color} $border-color-hover [$border-color]
/// @param {color} $text-color [text-contrast( $color )]
@mixin btn-color-variant(
  $color,
  $border-color: $color,
  $border-color-hover: $color,
  $text-color: text-contrast( $color )
) {
  background-color: $color;
  border-color: $border-color;
  color: $text-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    border-color: $border-color-hover;
    color: $body-font-color;
  }
}


.btn,
%_btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  margin-bottom: $input-btn-spacing-y;
  padding: $input-btn-spacing-y $input-btn-spacing-x;

  border: $btn-border-width solid $primary-color;
  border-radius: $global-radius;
  background-color: $white;

  line-height: 1.125;
  font-size: $base-font-size;
  color: $primary-color;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background-color $btn-transition,
    color $btn-transition;

  &:hover {
    background-color: $primary-color;
    color: text-contrast();
  }

  &:disabled,
  &.is-disabled {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
  }
}


/// A pill-shaped button
.btn--pill {
  @extend %_btn;

  border-radius: rem( 20px );
}


/// A button to get your attention
.btn--cta {
  @extend %_btn;

  min-width: rem( 275px );
  margin-bottom: rem( 24px );
  padding: rem( 21px ) rem( 24px );

  border: rem( 4px ) solid $primary-color;
  background-color: $white;

  line-height: 1;
  font-size: rem( 18px );
  font-weight: 700;
  letter-spacing: em( 1px );
  text-transform: uppercase;
}


//
// Color Variants
//
// @todo this could be handled better with maps

.btn--primary   { @include btn-color-variant( $primary-color ); }
.btn--secondary { @include btn-color-variant( $secondary-color ); }
.btn--alert     { @include btn-color-variant( $alert-color ); }
.btn--achtung   { @include btn-color-variant( $elektroid-yellow, $border-color: $white ); }


//
// Size Variants
//

.btn--sm {
  margin-bottom: $input-btn-spacing-y-sm;
  padding: $input-btn-spacing-y-sm $input-btn-spacing-x-sm;
  line-height: 1.5;
  font-size: $small-font-size;
}

.btn--lg {
  margin-bottom: $input-btn-spacing-y-lg;
  padding: $input-btn-spacing-y-lg $input-btn-spacing-x-lg;
  border-width: $btn-border-width-lg;
  line-height: 1.5;
  font-size: $input-btn-font-size-lg;
}


//
// Misc. Variants
//

.btn--no-border       { border: 0; }
.btn--full-width      { width: 100%; }
