// ==========================================================================
// Pedestal // Components // CONTENT
//
// This content encloses the majority of the view, usually as a direct child of
// the `main` element.
//
// For styling purposes, consider it just a couple steps more specific than the
// body classes.
// ==========================================================================


.c-content {
  @include clearfix;
  position: relative;

  &.has-title-bar {
    margin-top: 0;
  }
}


  /**
   * Hero
   *
   * Content-specific Hero styles
   */

  .c-content__hero {}


  /**
   * Main
   *
   * If the content has its own internail Rail, then this Main element needs to
   * serve as a wrapper around the non-Rail content.
   */

  .c-content__main {}


  /*header*/.c-content__header {
    margin-bottom: $c-content-header-margin-bottom;
  }


    /**
     * Title
     */

    .c-content__title {

      + .c-content__subtitle {
        margin-top: $c-content-subtitle-margin-top;
      }

      &--page {
        text-align: center;
        font-weight: normal;
        font-size: $h1-font-size;
        font-family: $font-family-serif;
        margin-bottom: $c-content-title-margin-bottom;
      }

      &--headline {}

    }


    /**
     * Subtitle
     */

    .c-content__subtitle {
      font-size: $h4-font-size;
      font-weight: $c-content-subtitle-font-weight;
      color: $dimmed-text-color;
    }


    /**
     * Data
     *
     * E.G. Tables and export for Events.
     */

    .c-content__data {}


    /**
     * Lead/Featured Image
     */

    .c-content__lead-img {
      .wp-caption {
        margin-top: 0;
      }
    }


    /**
     * Sponsor
     *
     * E.G. "Powered by"
     */

    .c-content__sponsor {}


    /**
     * Content Meta
     */

    .c-content__meta {}


    /**
     * Lead Text
     */

    .c-content__lead {
      // scss-lint:disable SelectorFormat
      p {
        @include lead;
        font-style: italic;
      }
    }


    /**
     * Generic Heading
     */

    /*h**/.c-content__heading {}


  /**
   * Entity Container
   */

  .c-content__entities {}


  /**
   * Body Text
   */

  .c-content__body {}


  /**
   * Footer
   */

  .c-content__footer {}


  /**
   * Footnote Text
   */

  /*aside*/.c-content__footnotes {
    // scss-lint:disable SelectorFormat

    font-style: italic;
    color: $dimmed-text-color;

    &__list {}

    // Since footnotes are already italic, when adding "italics" to footnotes,
    // they should be normal text
    em,
    i {
      font-style: normal;
    }
  }


  /**
   * Rail
   *
   * Sometimes articles might have their own content-specific rail, as opposed
   * to a sitewide rail that appears outside the `main` element.
   */

  .c-content__rail {
    @media #{$medium-up} {
      @include stdbd( left );
    }

    // scss-lint:disable SelectorFormat
    .sidebar {
      margin-left: $half-spacing-unit;
    }

    .widget {
      padding: 0 $c-content-rail-item-pd;
    }
    // scss-lint:enable SelectorFormat
  }





// ==========================================================================
// Pedestal // Components // Content // CONTENT TYPES
// ==========================================================================


//
// Clusters
// ==========================================================================


.c-content[data-cluster] {

  .c-content__header {

    .has-content,
    .has-headline {
      border-bottom: 4px solid $primary-color;
    }

  }

  .c-content__entities {}

}





//
// Newsletters
// ==========================================================================


.c-content[data-post-type="newsletter"] {
  // scss-lint:disable SelectorFormat
  .s-post-content {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
