// ==========================================================================
// Pedestal // Components // Content // CONFIGURATION
// ==========================================================================


$c-content-m-t                  : $base-spacing-unit !default;
$c-content-header-margin-bottom : ( $base-spacing-unit * 3 ) !default;
$c-content-title-margin-bottom  : ( $base-spacing-unit * 4 ) !default;
$c-content-subtitle-font-weight : 500 !default;
$c-content-subtitle-margin-top  : ( $base-spacing-unit * 1.2 ) !default;

$c-content-rail-item-pd         : $half-spacing-unit !default;
$c-content-rail-f-z             : $small-font-size !default;
