// ==========================================================================
// Pedestal // Components // INSTAGRAM OF THE DAY
// ==========================================================================


.c-daily-insta {
  margin-bottom: ( $base-spacing-unit * 2 );
  display: table;

  /*header*/&__header {}

  &__title {
    $blox: '.c-blox';
    @extend %u-heading--minor;
    text-align: center;

    #{$blox}--story-bar #{$blox}__text__title {
      @include h-size( 4 );
    }
  }

  /*figure*/&__body {
    margin: 0;
  }

  &__img {
    // scss-lint:disable SelectorFormat
    padding-bottom: 0;

    img {
      width: 100%;
    }
  }

  /*figcaption*/&__text {
    background-color: $truth-serum;
    padding: $half-spacing-unit;

    // Override .c-panel__inner
    min-height: 0;

    &__caption {
      margin-top: 0;
    }
  }

  &__date,
  &__author {
    margin: 0;
    font-weight: 600;
  }

  &__text__caption,
  &__author {
    @if $email {
      font-size: $paragraph-font-size;
    } @else {
      font-size: $h5-font-size;
    }
  }

  &__date {
    @extend %u-heading--minor;

  }

  &__author {}

}
