.donate-form {
  background-color: $primary-color;
  color: text-contrast();
  margin-bottom: rem( 40px );
  padding: rem( 32px ) 0;
}

.donate-form__inner,
.donate-form__fields,
.donate-form__submit {
  max-width: rem( 300px );
  margin: 0 auto;
  padding: 0;
  border: 0;
}


@media #{$small-only} {
  .donate-form {
    @include explode-component( $inner-selector: '&__inner-wrap' );
  }
}


@media #{$medium-up} {
  .donate-form__inner,
  .donate-form__fields {
    max-width: rem( 500px );
  }

  .donate-form__fields {
    display: flex;
    justify-content: center;
  }
}


//
// Amount Field + Label
// ==========================================================================
// 1. Hide spin box from number input
// 2. Handle prefix+input sizing (simplified from `.input-group`)
// 3. Handle inconsistent input sizing across browsers

.donate-form__amount {
  margin-bottom: rem( 16px );
}

.donate-form__amount__label,
.donate-form__frequency-option .form-radio__label {
  color: text-contrast();
  font-size: rem( 16px );
  font-weight: normal;
}

.donate-form__amount__input-group {
  width: rem( 160px );
  display: block;
  padding: 0; /* 3 */
  background-color: $white;

  @include firefox-only {
    padding: rem( 8px ) rem( 10px ); /* 3 */
  }
}

.donate-form__amount__prefix,
.donate-form__amount__input {
  font-size: rem( 16px );
  line-height: 2.5;
}

.donate-form__amount__input {
  max-width: 100%;
  border: 0;
  background: $white;
  appearance: textfield; /* 1 */
  font-style: italic;
  color: $body-font-color;

  /* 1 */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  @include ie-only {
    height: rem( 40px ); /* 3 */
  }
}


@media #{$medium-up} {
  .donate-form__amount {
    float: none;
    margin-right: rem( 32px );
  }
}


@if sm-theme-supports( formsV2 ) {

  .donate-form__amount__input-group {
    margin-top: rem( 4px );
  }

  .donate-form__amount__prefix {
    @include ie-only {
      height: rem( 24px ); /* 3 */
    }
  }

} @else {

  //
  // Sites supporting forms v1 can't use `.input-group-v2` so we need to handle
  // things differently...
  //

  .donate-form__amount__input-group,
  .donate-form__amount__prefix,
  .donate-form__amount__input {
    /* 2 */
    display: flex;
    position: relative;
  }

  .donate-form__amount__input-group {
    border: rem( 1px ) solid $grey-25;
  }

  .donate-form__amount__prefix,
  .donate-form__amount__input {
    align-items: center; /* 2 */
  }

  .donate-form__amount__prefix {
    padding-left: rem( 5px ); /* 3 */
    color: $primary-color;

    @include firefox-only {
      padding-left: 0; /* 3 */
    }

    @include ie-only {
      height: rem( 32px ); /* 3 */
    }
  }

  .donate-form__amount__input {
    flex: 1 1 auto; /* 2 */
    width: 1%; /* 2 */
    position: relative;
    padding: 0;

    &:focus {
      // Disable the outline because the input group styles here force the
      // outline to cut off just before the icon. It's better to disable the
      // outline entirely until we migrate everything to use the newer input
      // group styles.
      outline: none;
    }
  }
}


//
// Donation frequency radio inputs
// ==========================================================================

.donate-form__frequency {
  border: 0;
  padding: 0;
}

.donate-form__frequency-option {
  color: text-contrast();
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.donate-form__frequency-option__input {
  height: rem( 18px );
  width: rem( 18px );
  display: inline-block;
  vertical-align: middle;
}


//
// Submit wrapper + button
// ==========================================================================

.donate-form__submit {
  max-width: rem( 275px );
}

.donate-form__submit__button {
  margin-top: rem( 24px );
  margin-bottom: rem( 10px );
  width: 100%;
}


//
// Secured by Stripe
// ==========================================================================

.donate-form__secured-by {
  font-size: rem( 16px );
  text-align: center;

  > * {
    display: inline-block;
    height: rem( 24px );
    line-height: rem( 24px );
    vertical-align: middle;
  }
}

.donate-form__secured-by__lock,
.donate-form__stripe-logo {
  opacity: 0.5;
}

.donate-form__secured-by__lock {
  // Hacky sizing for the weirdly shaped SVG
  line-height: rem( 20px );
  margin-right: -0.2em;
}

.donate-form__secured-by__text {
  font-size: rem( 12px );
}

.donate-form__stripe-logo {
  // Slight spacing tweak
  margin-left: -0.3em;

  // stylelint-disable-next-line selector-max-type
  svg {
    height: rem( 24px );
    width: rem( 50px );
  }
}
