// ==========================================================================
// Pedestal // Components // ENTITIES
// ==========================================================================


// @TODO
// scss-lint:disable SelectorDepth NestingDepth SelectorFormat


.entity-meta {}

.entity-more {
  position: relative;
}





//
// Entity Share
// ==========================================================================


.c-entity-share {
  background-color: $white;
  text-align: center;
  margin-top: $share-entity-m-t;
  margin-bottom: $share-entity-m-b;

  &.fixed {
    margin-top: 0;
    width: 100%;
    border-bottom: $share-entity-bd-b;

    @if $email == false {
      z-index: $z-action-bar;
    }

    .top-bar {
      background-color: $share-entity-fixed-bg-c;

      .columns {
        margin-top: ( $base-spacing-unit / 4 );
        margin-bottom: ( $base-spacing-unit / 4 );

        @media #{$medium-up} {
          margin-top: ( $base-spacing-unit / 2 );
          margin-bottom: ( $base-spacing-unit / 2 );
        }
      }

      .button {
        width: 85%;
      }

    }
  }

  .top-bar {
    display: block;
    background-color: $white;
    height: auto;
    text-align: center;

    .button {
      height: auto;

      // Overrides Foundation or something
      position: static;
    }
  }

}





//
// Labels
// ==========================================================================


/*h5*/.entity__label {
  margin-bottom: 0;
}

  /*a*/.entity__label__inner {
    text-transform: uppercase;

    .entity--promo & {
      color: $absinthe;
    }
  }





//
// Embeds
// ==========================================================================


.pedestal-embed-twitter {
  @extend %o-media;
  padding-top: halve( $base-spacing-unit );

  .twitter-avatar {
    @extend %o-media__img;
  }

  .fa-twitter {
    color: $twitter-blue;
  }

  .twitter-meta {
    a {
      color: $grey-lightish;
    }
  }

  .twitter-content {
    @extend %o-media__body;

    .twitter-tweet p {
      margin-bottom: 0.5rem;
    }

    .twitter-actions,
    .twitter-actions a {
      color: $grey-lightish;
    }
  }

}
