// ==========================================================================
// Pedestal // Components // Entities // CONFIGURATION
// ==========================================================================


$share-entity-m-t               : $base-spacing-unit !default;
$share-entity-m-b               : double( $base-spacing-unit ) !default;
$share-entity-bd-b              : unitize( 2px ) solid $accent !default;
$share-entity-fixed-bg-c        : $grey-lighter !default;
