// ==========================================================================
// Pedestal // Components // ENTITY CIRCULATION
//
// Circulation in the footer of single entities.
// ==========================================================================


.entity-circulation {
  margin-bottom: rem( 32px );
  text-align: center;
}

.entity-circulation__link {
  font-weight: 700;
}
