// ==========================================================================
// Pedestal // Components // EVERYBLOCK
// ==========================================================================


.c-everyblock-item {}

  .everyblock-description {
    font-weight: 300;
    color: $grey-dark;
  }

  /*table*/.everyblock-details {
    margin-bottom: 0;
  }


/**
 * Background colors for schemata
 */

.c-everyblock-item--crime {
  .c-item-title__label {
    .c-story-bar__inner {
      background-color: $eb-schema-crime;
    }
  }
}

.c-everyblock-item--service-requests {
  .c-item-title__label {
    .c-story-bar__inner {
      background-color: $eb-schema-311;
    }
  }
}





.c-item-title--everyblock {
  @extend %o-media--rev;

  .c-item-title__label {
    line-height: ( $h4-font-size * $header-line-height );
    font-weight: 600;
  }

  .c-item-title__title {
    font-size: $h4-font-size;
  }

}
