// ==========================================================================
// Pedestal // Components // FACTCHECK
// ==========================================================================


.c-factcheck {}


.c-factcheck__analysis {}


.c-factcheck__ruling {}


.c-factcheck__logo {}

/*a*/.c-factcheck__logo__img {
  background: no-repeat top left;
  background-image: url( $pedestal-abspath + '/assets/images/partners/politifact/politifact-logo.png' );
  background-image: url( $pedestal-abspath + '/assets/images/partners/politifact/politifact-logo.svg' );
  background-size: contain;
  display: block;
  height: rem( 48px );
}


.c-factcheck__sources {}


.c-factcheck__editor {}
