.featured-stream-items {
  padding-bottom: $stream-item-spacing;
}

.featured-stream-items__primary,
.featured-stream-items__secondary {
  margin-bottom: $stream-item-spacing;
}

@media #{$medium-up} {
  .featured-stream-items__secondary {
    .stream-item__footer {
      border-bottom: 0;
    }
  }
}
