// ==========================================================================
// Pedestal // Components // Figure // CONFIGURATION
// ==========================================================================


$c-figure-settings: (
  f-z: $small-font-size,
  img-p-b: quarter( $base-spacing-unit ),
  caption-color: $grey-mid,
  caption-p-r: halve( $base-spacing-unit ),
  credit-color: $grey-light,
) !default;





//
// Functions
// ==========================================================================


@function c-figure-property-get( $property ) {
  @return map-get-strict( $c-figure-settings, $property );
}
