// ==========================================================================
// Pedestal // Components // FIGURE
// ==========================================================================


/*figure*/.c-figure {
  margin-bottom: $base-spacing-unit;

  &,
  &__content-wrap {
    position: relative;
  }
}


.c-figure__content-wrap {}


.c-figure__link {
  display: block;
}


.c-figure__content {
  display: block;
  height: auto;
  padding-bottom: $base-spacing-unit / 4;
}


/*figcaption*/.c-figure__text {
  line-height: 1.2;

  &__caption,
  &__credit {
    display: inline;

    // Override `.s-post-content` heading sizes
    &,
    .s-post-content & {
      font-size: $small-font-size;
    }
  }

  &__caption {
    font-weight: 400;
    padding-right: $base-spacing-unit / 4;
  }

  &__credit {
    color: $dimmed-text-color;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;

    // stylelint-disable-next-line selector-max-type
    a {
      @include link-light;
    }
  }
}





/**
 * Figure for images
 */

.c-figure--img {
  // Image figures must display as table so caption matches the width of non-
  // full-width images
  display: table;

  // stylelint-disable-next-line selector-max-type
  img {
    display: block;
    // For IE compatability
    width: 100%;
  }

  .c-figure__text {
    display: table-caption;
    caption-side: bottom;
  }
}





/**
 * Figure for social media embeds
 */

.c-figure--social-embed {}





/**
 * Figure for regular embeds
 */

.c-figure--embed {}





/**
 * Figure for responsive iframes
 *
 * See https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/
 */

.c-figure--responsive-iframe {
  // stylelint-disable-next-line selector-max-type
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}





//
// Figure for YouTube embeds
//

.c-figure--youtube {}
