// ==========================================================================
// Pedestal // Components // FOLLOW
// ==========================================================================


$breakpoint-follow-submit-label-length: em( 420px );

.c-follow-this {
  padding-bottom: rem( 24px );
}

.c-follow-this__label {
  font-size: $h5-font-size;
  margin-bottom: rem( 16px );
}

.c-follow-this__fields {
  .is-loading & {
    display: none;
  }
}

.c-follow-this__cluster-title {}

.c-follow-this__email {}

.c-follow-this__submit {}

.c-follow-this__feedback {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.is-loading .c-follow-this__loader {
  height: rem( 100px );

  .c-spinner {
    position: absolute;
    top: 45%;
  }

  .sk-child {
    background-color: $alert-color;
  }
}

.c-follow-this__success-message,
.c-follow-this__fail-message {
  display: none;
}

.is-success .c-follow-this__success-message,
.is-failed .c-follow-this__fail-message {
  display: block;
}
