// ==========================================================================
// Pedestal // Components // FOOTER
// ==========================================================================


// @TODO
// scss-lint:disable SelectorFormat


.site-footer {
  clear: both;
  margin-top: $base-spacing-unit;
  padding-top: $base-spacing-unit;
  background-color: $white;
  border-top: 1px solid $grey-lighter;
}

  .site-footer-social {
    text-align: center;
    margin-bottom: $base-spacing-unit;

    /**
     * Overrides `.iconset`
     */
    /*ul*/.iconset {

      @media #{$medium-up} {
        text-align: right;
        float: right;
      }

    }

  }


  .site-footer-links {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: $base-spacing-unit;

    ul {
      margin-bottom: 0;
    }

    @media #{$medium-up} {
      text-align: left;

      ul {
        border-right: 1px solid $grey-lighter;
        padding: halve( $base-spacing-unit ) 0;
        margin-bottom: $list-margin-bottom;

        &.last {
          border-right: 0;
        }
      }
    }
  }


  .site-footer-copyright {}

    .site-copyright {
      text-align: center;
      color: $grey-lightish;
      font-size: $small-font-size;

      @media #{$medium-up} {
        text-align: left;
      }
    }

      .footer-logo,
      .copyright-text {
        display: inline-block;
        vertical-align: middle;
      }


      @if global-variable-exists( site-theme-name ) {

        .footer-logo {
          @include iconize( $site-theme-logo-abspath + '/logo_icon' );
          display: inline-block;
          margin-right: halve( $base-spacing-unit );
        }
      }
