// ==========================================================================
// Pedestal // Components // FOOTER
// ==========================================================================


.site-footer {
  clear: both;
  margin-top: $base-spacing-unit;
  padding-top: $base-spacing-unit;
  background-color: $white;
  border-top: 1px solid $border-std-color;
}


// stylelint-disable selector-max-type, selector-no-qualifying-type
.site-footer-links {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: $base-spacing-unit;

  ul {
    margin-bottom: 0;
  }

  @media #{$medium-up} {
    text-align: left;

    ul {
      border-right: 1px solid $border-std-color;
      padding: halve( $base-spacing-unit ) 0;
      margin-bottom: $list-margin-bottom;

      &.last {
        border-right: 0;
      }
    }
  }
}
// stylelint-enable selector-max-type, selector-no-qualifying-type


.site-footer-copyright {}

.site-copyright {
  text-align: center;
  color: $grey-70;
  font-size: $small-font-size;

  @media #{$medium-up} {
    text-align: left;
  }
}

.footer-logo,
.copyright-text {
  display: inline-block;
  vertical-align: middle;
}


@if global-variable-exists( site-theme-name ) {

  .footer-logo {
    @include iconize( $site-theme-logo-abspath + '/logo_icon' );

    display: inline-block;
    margin-right: halve( $base-spacing-unit );
  }

}
