$footer-nav-bg: $grey-25;
$footer-nav-text-color: $grey-95;
$footer-logo-size: rem( 32px );
$breakpoint-footer-links-columns: em( 666px );
$breakpoint-footer-links-columns-shrink: em( 818px );


.site-footer {
  clear: both;
  margin-top: rem( 16px );
  border-top: rem( 1px ) solid $border-std-color;
  border-bottom: rem( 5px ) solid $primary-color;

  @media ( min-width: $breakpoint-footer-links-columns ) {
    border: none;
  }

  // stylelint-disable selector-max-type
  &,
  a {
    color: $footer-nav-text-color;
  }

  a {
    &:hover,
    &:active {
      color: $primary-color;
    }
  }
  // stylelint-enable selector-max-type
}

.site-footer__nav,
.site-footer__colophon {
  background-color: $footer-nav-bg;
}

.site-footer__nav {
  @media ( min-width: $breakpoint-footer-links-columns ) {
    padding-top: rem( 32px );
    padding-bottom: rem( 32px );
  }
}





//
// Site CTAs in footer
// ==========================================================================


.site-footer .site-ctas {
  @include grid-column( 12 );

  text-align: center;
  margin-bottom: 0;
  background-color: $white;
  padding-top: rem( 20px );
  padding-bottom: rem( 16px );

  @media ( min-width: $breakpoint-footer-links-columns ) {
    @include grid-column(
      $columns: 4,
      $push: 8
    );

    text-align: right;
    background-color: $footer-nav-bg;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media ( min-width: $breakpoint-footer-links-columns-shrink ) {
    @include grid-column(
      $columns: 6,
      $push: 6
    );
  }
}

.site-footer .site-ctas__social__link {
  @media ( min-width: $breakpoint-footer-links-columns ) {
    background-color: $footer-nav-text-color;
    color: $footer-nav-bg;
  }
}





//
// Footer Links
// ==========================================================================
// stylelint-disable selector-max-type


.site-footer__links {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

  @media ( min-width: $breakpoint-footer-links-columns ) {
    text-align: left;
  }
}


.site-footer__links__group {
  @include no-bullet;

  margin-bottom: 0;
}


//
// Links for small screens
//

.site-footer__links--inline {
  @include grid-column( 12 );

  padding-top: rem( 20px );
  padding-bottom: rem( 32px );

  @media ( min-width: $breakpoint-footer-links-columns ) {
    display: none;
  }

  li {
    display: inline-block;
    padding-left: rem( 4px );

    &::after {
      content: '·';
      padding-left: rem( 4px );
      color: $primary-color;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: '';
      }
    }
  }
}


//
// Links in columns for larger screens
//

.site-footer__links--columns {
  @include grid-column(
    $columns: 8,
    $pull: 4
  );

  padding-left: rem( 16px );

  @media ( max-width: $breakpoint-footer-links-columns - em( 1 ) ) {
    display: none;
  }

  @media ( min-width: $breakpoint-footer-links-columns-shrink ) {
    @include grid-column(
      $columns: 6,
      $pull: 6
    );
  }

  .site-footer__links__group {
    padding: 0;
    line-height: 1.25; // 20px

    @media ( min-width: $breakpoint-footer-links-columns ) {
      @include grid-column( 4 );
    }
  }
}


// stylelint-enable selector-max-type


//
// Colophon
// ==========================================================================


.site-footer__colophon {
  text-align: center;
  color: $white;
  font-size: $small-font-size;
  font-weight: 300;
  padding: 0;
  padding-bottom: rem( 16px );

  @media ( min-width: $breakpoint-footer-links-columns ) {
    text-align: left;
    padding-top: rem( 16px );
    background-color: $primary-color;

    // stylelint-disable selector-max-type
    a:hover,
    a:active {
      color: $body-font-color;
    }
    // stylelint-enable selector-max-type

    > .columns {
      padding-left: 0;
    }
  }
}

.site-footer__logo,
.site-footer__newsroom,
.site-footer__copyright {
  display: block;

  @media ( min-width: $breakpoint-footer-links-columns ) {
    display: inline-block;
    vertical-align: middle;
    line-height: $footer-logo-size;
  }
}

.site-footer__newsroom {
  // stylelint-disable-next-line selector-max-type
  a {
    font-weight: 600;
  }
}

.site-footer__copyright {
  @media ( min-width: $breakpoint-footer-links-columns ) {
    float: right;
  }
}

@if global-variable-exists( site-theme-name ) {
  .site-footer__logo {
    @include iconize( $site-theme-logo-abspath + '/logo-icon-white', $footer-logo-size );

    margin: 0 auto;
    margin-bottom: rem( 16px );

    @media ( min-width: $breakpoint-footer-links-columns ) {
      margin-right: rem( 10px );
      margin-bottom: 0;
    }
  }
}
