.c-heading__get-updates {
  display: none;
}

.c-get-updates {
  overflow: auto;
  height: 100%;
  display: none;
  position: relative;
  padding-bottom: rem-calc( 25px );
}

.c-get-updates__accent {
  background-color: $yet-another-red;
  width: rem-calc( 40px );
  height: rem-calc( 4px );
}

.c-get-updates__label {
  font-size: rem-calc( 18px );
  margin-bottom: rem-calc( 16px );
}

.c-get-updates__cluster-title {
  text-transform: uppercase;
}

// stylelint-disable-next-line selector-max-type
input.c-get-updates__email {
  float: left;
  width: 75%;
  border-radius: 0;
  border-top-left-radius: rem-calc( 4px );
  border-bottom-left-radius: rem-calc( 4px );
  padding: rem-calc( 8px );
  font-size: rem-calc( 18px );
  height: auto;
  box-shadow: none;
}

.c-get-updates__submit {
  float: left;
  width: 25%;
  background-color: $yet-another-red;
  color: $white;
  text-transform: uppercase;
  padding: rem-calc( 10.5px ) 0;
}

.is-loading .c-get-updates__loader {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;

  .c-spinner {
    position: absolute;
    top: 45%;
  }

  .sk-child {
    background-color: $yet-another-red;
  }
}

.c-get-updates__success-message,
.c-get-updates__fail-message {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
}

.submitted-success .c-get-updates__success-message,
.submitted-fail .c-get-updates__fail-message {
  display: block;
}

.show-get-updates {

  // Hide the original follow cluster button
  .original-follow-cluster {
    display: none;
  }

  .c-get-updates {
    display: block;
  }

  .c-heading__get-updates {
    display: inline;
  }
}
