// ==========================================================================
// Pedestal // Components // Site Header // CONFIGURATION
// ==========================================================================


$site-header-icon-more-pd   : $base-spacing-unit / 2;

$site-header-logo--sm-w     : 205px;
$site-header-logo--sm-h     : 42px;
$site-header-logo--md-w     : 281px;
$site-header-logo--md-h     : 56px;
$site-header-logo--lg-w     : 305px;
$site-header-logo--lg-h     : 61px;
$site-header-logo--xl-w     : 365px;
$site-header-logo--xl-h     : 73px;
