// ==========================================================================
// Pedestal // Components // SITE HEADER
// ==========================================================================


$breakpoint-header-display-social-icons: em-calc( 738px );


// stylelint-disable selector-max-type


.site-header {
  background: $white;
  border-bottom: 1px solid $border-std-color;
  padding-top: $site-header-pd-v;
  padding-bottom: $site-header-pd-v;

  .site-ctas {
    margin-left: -( $half-spacing-unit );
    margin-top: $half-spacing-unit;
    margin-bottom: 0;

    @media
      ( min-width: lower-bound( $medium-range ) ) and
      ( max-width: $breakpoint-header-display-social-icons ) {
      margin-top: $base-spacing-unit;
    }
  }

  .site-ctas__follow-us,
  .site-ctas__social {
    display: none;

    @media ( min-width: $breakpoint-header-display-social-icons + em-calc( 1px ) ) {
      display: inline-block;
    }
  }
}


/**
 * @TODO this sucks...
 */

// stylelint-disable selector-max-id
#promoted-story {
  background-color: $white;
  border-bottom: 1px solid $border-std-color;

  .row {
    padding: halve( $base-spacing-unit ) $base-spacing-unit;
  }

  strong {
    text-transform: uppercase;
    padding-right: 0.3rem;
  }
}
// stylelint-enable selector-max-id





//
// Header Logo
// ==========================================================================


.site-header-logo {
  margin: 0;

  a {
    display: block;
    background: no-repeat top left;
    background-size: contain;
    background-image: url( $theme-logo-img-abspath );
    width: 205px;
    height: 42px;

    @media #{$medium-only} {
      width: 281px;
      height: 56px;
    }

    @media #{$large-only} {
      width: 305px;
      height: 61px;
    }

    @media #{$xlarge-up} {
      width: 365px;
      height: 73px;
    }
  }
}

.site-header-logo__text {
  @include invisible;
}
