// ==========================================================================
// Pedestal // Components // SITE HEADER
// ==========================================================================


// stylelint-disable selector-max-type


.site-header {
  background: $white;
  border-bottom: 1px solid $border-std-color;
  padding-top: $site-header-pd-v;
  padding-bottom: $site-header-pd-v;
}


/**
 * @TODO this sucks...
 */

// stylelint-disable selector-max-id
#promoted-story {
  background-color: $white;
  border-bottom: 1px solid $border-std-color;

  .row {
    padding: halve( $base-spacing-unit ) $base-spacing-unit;
  }

  strong {
    text-transform: uppercase;
    padding-right: 0.3rem;
  }
}
// stylelint-enable selector-max-id





//
// Header Logo
// ==========================================================================


.site-header-logo {
  margin: 0;

  a {
    display: block;
    background: no-repeat top left;
    background-size: contain;
    background-image: url( $site-theme-logo-abspath + '/logo.svg' );
    width: 205px;
    height: 42px;

    @media #{$medium-only} {
      width: 281px;
      height: 56px;
    }

    @media #{$large-only} {
      width: 305px;
      height: 61px;
    }

    @media #{$xlarge-up} {
      width: 365px;
      height: 73px;
    }
  }
}
