// ==========================================================================
// Pedestal // Components // ICONS
// ==========================================================================


.o-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: auto;
  stroke-width: 0;
  stroke: currentColor;

  .social-icon & {
    // vertical-align: baseline;
    width: 40px;
    height: 40px;
    display: block;
    padding: 10px;
  }
}


// Set up prescribed widths from IcoMoon for each icon we're using
@each $icon-name, $icon-width in $icon-widths {
  .o-icon--#{$icon-name} {
    width: $icon-width;
  }
}





/*
   Iconset
   ========================================================================== */


/* stylelint-disable selector-no-type */
/*ul*/.iconset {
  margin: 0 0 $base-spacing-unit;
  display: inline-block;
  line-height: $icon-diameter;

  > li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    margin-left: $icon-spacing;
    height: $icon-diameter;
    width: $icon-diameter;

    &.social-icon a {
      display: block;
      border-radius: 50%;
      padding: 0;

      &,
      &:hover {
        background-color: $grey-70;
        color: $white;
      }
    }
  }
}

.iconset li.follow-us-label {
  .site-header-social &,
  .site-footer-social & {
    font-weight: bold;
    text-transform: uppercase;
    width: rem-calc( 90px );
  }

  .site-header-social & {
    @media ( max-width: 45.625em ) { // 730px / 16
      display: none;
    }
  }

  .site-footer-social & {
    @media ( max-width: 55em ) { // 880px / 16
      display: none;
    }

    @media ( max-width: 40em ) { // 640px / 16
      display: block;
      width: auto;
    }
  }
}
/* stylelint-enable selector-no-type */
