// ==========================================================================
// Pedestal // Components // ICONS
// ==========================================================================


// @TODO
// scss-lint:disable SelectorFormat


.o-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: auto;
  stroke-width: 0;
  stroke: currentColor;

  .social-icon & {
    // vertical-align: baseline;
    width: 40px;
    height: 40px;
    display: block;
    padding: 10px;
  }
}


// Set up prescribed widths from IcoMoon for each icon we're using
@each $icon-name, $icon-width in $icon-widths {
  .o-icon--#{$icon-name} {
    width: $icon-width;
  }
}





/*
   Iconset
   ========================================================================== */


/*ul*/.iconset {
  @include iconset;
}





/*
   Iconset: Email
   ========================================================================== */


// scss-lint:disable QualifyingElement


table.iconset--email {
  width: 100%;
  margin-bottom: 0;

  th,
  td {
    text-align: center;
  }

  thead {
    background-color: transparent;

    th.cta {
      text-transform: uppercase;
      color: $grey-80;

      h2 {
        margin: 0;
      }
    }
  }
}

// scss-lint:enable QualifyingElement
