// ==========================================================================
// Pedestal // Components // META INFO
// ==========================================================================

$c-meta-info-icon-spacing      : $icon-spacing / 2;
$c-meta-info-icon-size         : $icon-diameter--sm;
$c-meta-info-icon-size--email  : $icon-diameter--xs;

.c-meta-info {
  @include clearfix;

  border-bottom: $border-standard;
  padding-bottom: rem( 4px );
  color: $body-font-color;
  font-size: $small-font-size;
  text-transform: uppercase;

  @media #{$medium-up} {
    font-size: $base-font-size;
  }

  // stylelint-disable-next-line selector-max-type
  a {
    @include link-dark;
  }
} // end .c-meta-info


.c-meta-info__item {
  display: inline-block;
  vertical-align: middle;
  line-height: $c-meta-info-icon-size;
}


.c-meta-info__stack {
  > * {
    line-height: $c-meta-info-icon-size / 2;
  }
}

// Element within the stack that moves out of the stack in wider layouts
.c-meta-info__stack__mover {
  display: block;

  @media #{$medium-up} {
    display: none;
  }
}


// Element that has moved out of the stack in a wider layout
.c-meta-info__mover {
  display: none;

  @media #{$medium-up} {
    display: block;
    text-align: right;
    float: right;
  }
}


.c-meta-info__source {}

.c-meta-info__source__item {
  display: inline-block;
  vertical-align: middle;
}


.c-meta-info__img {
  margin-right: $c-meta-info-icon-spacing;

  // stylelint-disable-next-line selector-max-type
  a {
    color: $grey-62;
  }

  .c-avatar {
    &,
    &__img {
      width: $c-meta-info-icon-size;
      height: $c-meta-info-icon-size;
    }

    // stylelint-disable-next-line selector-max-type
    img {
      display: block;
    }
  }
} // end .c-meta-info__img

.c-meta-info__img__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: $c-meta-info-icon-size;
}

.c-meta-info__label {
  font-weight: 700;
}


.c-meta-info__timestamp {}





.c-meta-info--always-stacked {
  font-size: $small-font-size;

  .c-meta-info__stack__mover {
    display: block;
  }

  .c-meta-info__mover {
    display: none;
  }
}


@media print {
  .c-meta-info__img {
    display: none;
  }
  // stylelint-disable-next-line selector-max-type
  .c-meta-info__name a[href]::after {
    content: "";
  }
}



//
// Stream
// ==========================================================================


.c-meta-info--stream {
  @media #{$medium-up} {
    .c-meta-info__img {
      margin-left: $c-meta-info-icon-spacing;
      margin-right: 0;
    }

    .c-meta-info__img--standalone {
      @include invisible;
    }
  }
} // .c-meta-info--stream





//
// Single Entity
// ==========================================================================


.c-meta-info--entity-single {
  clear: both;
  margin-top: rem( 16px );
  border-top: $border-standard;
  padding-top: rem( 8px );
  padding-bottom: rem( 8px );

  // If less than three authors, display normal medium layout
  &.c-meta-info--authors-few {}

  // If three or more authors, always display stacked layout
  &.c-meta-info--authors-many {
    @media #{$medium-up} {
      font-size: $small-font-size;
    }
  }
} // .c-meta-info--entity-single
