// ==========================================================================
// Pedestal // Components // Meta Info // CONFIGURATION
// ==========================================================================


// Meta info
$c-meta-info-spacing-h                          : halve( $base-spacing-unit ) !default;
$c-meta-info-color                              : $body-font-color !default;

$c-meta-info-entity-border-spacing              : $base-spacing-unit / 2;

$c-meta-info-icon-spacing                       : $o-icon-text-spacing / 2;
$c-meta-info-icon-size                          : $icon-diameter--sm;
$c-meta-info-icon-size--email                   : $icon-diameter--xs;

%c-meta-info-d-ib {
  display: inline-block;
  vertical-align: middle;
}
