.no-js,
.has-closed-modal {
  .modal__overlay,
  .modal__frame {
    display: none;
    z-index: -1;
  }
}

// The admin bar should display fixed alongside the modal so it doesn't
// awkwardly disappear when scrolling
//
// stylelint-disable-next-line selector-max-id
.has-open-modal #wpadminbar {
  position: fixed;
}

.modal__overlay,
.modal__frame {
  background-color: $modal-overlay-background-color-fallback;
  background-color: $modal-overlay-background-color;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: $z-index-3;
}

.modal__frame {
  background-color: $modal-background-color;
  overflow-y: auto;

  // Place on top of the overlay
  z-index: $z-index-3 + 1;

  .admin-bar & {
    top: rem( 60px );
  }
}

.modal__content {
  padding: $modal-padding;
  background-color: $modal-background-color;

  &:focus {
    outline: none;
  }
}

.modal__close-button {
  color: $white;
  background-color: transparent;
  font-size: rem( 30px );
  border: 0;
  height: rem( 40px ); // For IE11 alignment

  position: absolute;
  right: 0;
  top: 0;

  z-index: $z-index-1;
}

// Variatons of the modal background color
.modal--header-nav-modal {
  &.modal__frame,
  .modal__content {
    background-color: $primary-color;
  }
}

@media ( min-width: em( 760px ) ) {
  .modal__frame {
    background-color: transparent;
    margin: 0 auto;
    max-width: rem( 700px );
    max-height: rem( 460px );
    top: rem( 32px );
    width: 100%; // IE 10 needs this set to center the frame
  }

  .modal__content {
    border-radius: rem( 4px );
    min-height: $modal-content-min-height;
    position: relative;
  }
}

@media ( max-width: em( 782px ) ) {
  .admin-bar .modal__frame {
    top: $wp-admin-bar-height-mobile;
  }
}
