// Hide the navigation trigger when you're already on the fallback page
.page-navigation-fallback {
  .site-header__menu-trigger {
    display: none;
  }
}

.navigation-fallback__item {
  list-style: none;
  padding: 0;
}

.navigation-fallback__link {
  $_font-size: 20px;
  display: block;
  font-size: rem( $_font-size );
  font-weight: 400;
  letter-spacing: em( 0.5px );
  line-height: ( 28px / $_font-size );
  padding: rem( 4px ) 0;

  &:hover,
  &:focus {
    font-weight: 700;
  }
}

.navigation-fallback__icon {
  width: rem( 24px );
  color: $brand-1-color;
  margin-right: rem( 4px );
  text-align: center;
}
