.c-new-share {
  overflow: auto;
  background-color: $white;
  display: none;
}

.c-new-share__inner {
  margin: 0 auto;
  max-width: rem-calc( 1060px );
}

.c-new-share__item {
  list-style: none;
  float: left;
  width: 33.3333%;
}

.c-new-share__link {
  display: block;
  text-align: center;
  background-color: $grey-62;
  color: $white;
  padding: rem-calc( 12px ) 0;
  font-size: rem-calc( 16px );
}

.c-new-share__link--facebook {
  background-color: $facebook-blue;
}

.c-new-share__link--twitter {
  margin-left: $base-spacing-unit * 0.25;
  margin-right: $base-spacing-unit * 0.25;
  background-color: $twitter-blue;
}

.c-new-share__icon {
  font-size: 20px;
  margin-right: rem-calc( 8px );
  position: relative;
  top: rem-calc( 2px ) * -1;
}

.show-new-share-buttons {
  .c-new-share {
    display: block;
  }

  .c-entity-share {
    display: none;
  }
}

.make-new-share-buttons-sticky {

  .c-new-share {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-index-2;
  }
}

// stylelint-disable selector-max-type
// stylelint-disable declaration-no-important
body.show-new-share-buttons {
  padding-top: 0 !important;
}
