// ==========================================================================
// Pedestal // Components // NEWSLETTER
// ==========================================================================


.c-newsletter {
  $-event: '.c-stream__item[data-post-type="event"]';

  #{$-event} + #{$-event} {
    border-top: 0;
    margin-top: 0;

    &::before {
      width: 0;
    }
  }
}
