// ==========================================================================
// Pedestal // Components // NEWSLETTER
// ==========================================================================


.newsletter-items {
  .newsletter-item {
    padding-bottom: rem( 16px );
    border-bottom: rem( 1px ) solid $grey-90;
    margin-bottom: rem( 16px );

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .newsletter-item--event + .newsletter-item--event {
    border-top: 0;
    margin-top: 0;

    &::before {
      width: 0;
    }
  }
}

.newsletter-item {
  .c-overview__title {
    font-size: $h4-font-size;
    margin-bottom: rem( 16px );
  }

  .c-overview__description > * {
    font-size: $h5-font-size;
  }
}
