// ==========================================================================
// Pedestal // Components // Offcanvas Menu // CONFIGURATION
// ==========================================================================


// Off Canvas Menu Variables
$off-canvas-width        : rem-calc( 275 );
$off-canvas-bg           : $dark-prussian-blue;
$off-canvas-bg-hover     : $prussian-blue;

// Off Canvas Menu List Variables
$off-canvas-link-padding : 0.7rem 2rem;
$off-canvas-link-color   : white;

// Off Canvas Search Form
$off-canvas-search-form-icon-color: rgba( 0, 0, 0, 0.3 );
