// ==========================================================================
// Pedestal // Components // SINGLE PAGE
// ==========================================================================


// @TODO
// scss-lint:disable IdSelector SelectorFormat


/**
 * @TODO don't use these ID selectors...
 * @TODO this whole thing needs to be rewritten and standardized...
 */

#unfollow-confirmation-page,
#unsubscribe-confirmation-page,
#subscribe-to-newsletter-page {
  background-color: $page-bg-c--alt;
  text-align: center;
  margin: 2rem 0;

  .inner-wrapper {
    display: block;
    margin: 2rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  input {
    margin: 2rem 0;
    height: 2.5rem;
    font-size: 1.25rem;
  }

  .success-message p {
    margin-bottom: 0;
  }
}
