// ==========================================================================
// Pedestal // Components // Single Page // CONFIGURATION
// ==========================================================================


$page-bg-c      : white;
$page-bg-c--alt : $sea-foam-green;
$page-main-m-t  : triple( $base-spacing-unit );
