// Pagination


$pagination-button-bg: $grey-80;


.c-pagination {
  @include clearfix;

  text-align: center;
  padding-bottom: 0;

  .pedestal-stream & {
    margin-top: $stream-item-spacing;
  }

  @media #{$medium-up} {
    &--halves {
      .c-pagination__dir {
        @include span( 4 of 12 0.025 );
      }

      .c-pagination__num {
        @include span( 2 of 12 0.025 );
      }
    }

    &--thirds {
      .c-pagination__dir {
        @include span( 3 of 9 0.025 );
      }

      .c-pagination__num {
        @include span( 1 of 9 0.025 );
      }
    }

    &--fourths {
      .c-pagination__dir {
        @include span( 4 of 12 0.05 );
      }

      .c-pagination__num {
        @include span( 1 of 12 0.05 );
      }
    }

    &--fifths {
      .c-pagination__dir {
        @include span( 4 of 13 0.05 );
      }

      .c-pagination__num {
        @include span( 1 of 13 0.05 );
      }
    }

    // Define these again here because otherwise Susy's mixins override the
    // first/last setting
    &--halves,
    &--thirds,
    &--fourths,
    &--fifths {
      .c-pagination__dir--prev {
        margin-left: 0;
      }

      .c-pagination__dir--next {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.c-pagination__text {
  font-weight: 300;
  font-size: $h5-font-size;
  text-transform: uppercase;
  padding-bottom: rem( 8px );
  margin-bottom: 0; // Needed on single cluster pages
  color: $dimmed-text-color;
  font-style: italic;
}

.c-pagination__text__paged,
.c-pagination__text__total {
  font-weight: 700;
}

.c-pagination__text__paged {}

.c-pagination__text__total {}

.c-pagination__inner {}


.c-pagination__item {
  cursor: pointer;
  height: rem( 48px );
  padding: rem( 16px ) 0;
  text-align: center;
  display: inline-block;
  background-color: $grey-80;
  border-color: $white;
  color: $grey-25;
  transition: background-color 300ms ease-out;

  &:hover,
  &:focus {
    background-color: $grey-70;
    color: $white;
  }

  &,
  > * {
    line-height: 1;
  }
}

// Disable these linters because we need to override the default behavior of
// the anchor element itself
//
// stylelint-disable selector-max-type
a.c-pagination__item.is-disabled {
  background-color: $grey-80;
  border-color: $grey-70;
  color: $grey-25;
  box-shadow: none;
  cursor: default;
  opacity: 0.3;
}

a.c-pagination__item.is-disabled:hover,
a.c-pagination__item.is-disabled:focus {
  background-color: $grey-80;
  color: $grey-25;
}
// stylelint-enable selector-max-type

.c-pagination__dir {
  @include span( 1 of 2 0.01 );

  padding-top: rem( 8px );
  padding-bottom: rem( 8px );
}

.c-pagination__dir--prev {
  margin-left: 0;
}

.c-pagination__dir--next {
  float: right;
  margin-right: 0;
}

.c-pagination__dir__icon {
  font-size: $h3-font-size;
  vertical-align: middle;
}

.c-pagination__dir__label {
  @include invisible;
}

.c-pagination__nums {}

.c-pagination__num {
  display: none;

  @media #{$medium-up} {
    display: block;
  }
}

.pagination--load-more {
  background: $white;
  border: rem( 3px ) solid $elektroid-yellow;
  border-radius: rem( 5px );
  color: $black;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: rem( 10px ) 0;
  text-align: center;
  font-family: $font-family-sans-serif;
  font-size: rem( 18px );
  font-weight: 700;
  width: rem( 260px );
}
