$pagination-button-bg: $grey-80;

$pagination-button-bg: $grey-80 !default;
/**
 * Left/right pagination for stream
 */

.c-pagination {
  @include clearfix;

  text-align: center;
  padding-bottom: 0;

  .pedestal-stream & {
    margin-top: $stream-item-spacing;
  }

  @media #{$medium-up} {
    &--halves {
      .c-pagination__dir {
        @include span( 4 of 12 0.025 );
      }

      .c-pagination__num {
        @include span( 2 of 12 0.025 );
      }
    }

    &--thirds {
      .c-pagination__dir {
        @include span( 3 of 9 0.025 );
      }

      .c-pagination__num {
        @include span( 1 of 9 0.025 );
      }
    }

    &--fourths {
      .c-pagination__dir {
        @include span( 4 of 12 0.05 );
      }

      .c-pagination__num {
        @include span( 1 of 12 0.05 );
      }
    }

    &--fifths {
      .c-pagination__dir {
        @include span( 4 of 13 0.05 );
      }

      .c-pagination__num {
        @include span( 1 of 13 0.05 );
      }
    }

    // Define these again here because otherwise Susy's mixins override the
    // first/last setting
    &--halves,
    &--thirds,
    &--fourths,
    &--fifths {
      .c-pagination__dir--prev {
        margin-left: 0;
      }

      .c-pagination__dir--next {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.c-pagination__text {
  font-weight: 300;
  font-size: $h5-font-size;
  text-transform: uppercase;
  padding-bottom: $half-spacing-unit;
  margin-bottom: 0; // Needed on single cluster pages
  color: $dimmed-text-color;
  font-style: italic;
}

.c-pagination__text__paged,
.c-pagination__text__total {
  font-weight: 600;
}

.c-pagination__text__paged {}

.c-pagination__text__total {}

.c-pagination__inner {}


// @TODO
// We use this hackish chunk of styles as a temporary solution to handling
// pagination item styles that were previously derived from Foundation's button
// mixins -- at some point in the "near future" we have plans to redesign
// pagination entirely so this will go away (I hope)
.c-pagination__item {
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: $grey-80;
  border-color: $white;
  color: $grey-25;
  transition: background-color 300ms ease-out;
  margin-bottom: 0;
  padding: $base-spacing-unit 0;

  &:hover,
  &:focus {
    background-color: $grey-70;
    color: $white;
  }
}

// Disable these linters because we need to override the default behavior of
// the anchor element itself
//
// stylelint-disable selector-max-type
a.c-pagination__item.is-disabled {
  background-color: $grey-80;
  border-color: $grey-70;
  color: $grey-25;
  box-shadow: none;
  cursor: default;
  opacity: 0.3;
}

a.c-pagination__item.is-disabled:hover,
a.c-pagination__item.is-disabled:focus {
  background-color: $grey-80;
  color: $grey-25;
}
// stylelint-enable selector-max-type

.c-pagination__dir {
  @include span( 1 of 2 0.01 );

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.c-pagination__dir--prev {
  margin-left: 0;
}

.c-pagination__dir--next {
  float: right;
  margin-right: 0;
}

.c-pagination__dir__icon {
  font-size: $h3-font-size;
  line-height: 0;
  vertical-align: middle;
  height: rem-calc( 28px );
}

.c-pagination__dir__label {
  @include invisible;
}

.c-pagination__nums {}

.c-pagination__num {
  display: none;

  @media #{$medium-up} {
    display: block;
  }
}
