// ==========================================================================
// Pedestal // Components // PANELS
// ==========================================================================


/**
 * Bordered, backgrounded boxes of content.
 *
 * Based off Foundation, but their implementation was too aggressive.
 */

.c-panel {
  @include radius;

  border: $border-standard;
  background-color: $c-panel-bg;
}


.c-panel__inner {
  padding: rem( 16px );
  min-height: ( rem( 80px ) );
}
