// ==========================================================================
// Pedestal // Components // Panels // CONFIGURATION
// ==========================================================================


// We want Foundation's panel mixin, but we'll supply our own panel classes
$include-html-panel-classes        : false !default;

// Background is set in global settings because dependencies.
// $c-panel-bg                          : $white !default;

$c-panel-margin-bottom               : $base-spacing-unit !default;
$c-panel-padding                     : $base-spacing-unit !default;
$c-panel-header-adjust               : false !default;
