// ==========================================================================
// Pedestal // Components // Panels // CONFIGURATION
// ==========================================================================


@import 'title-bar.config';


// We want Foundation's panel mixin, but we'll supply our own panel classes
$include-html-panel-classes        : false !default;

// Background is set in global settings because dependencies.
// $c-panel-bg                          : $white !default;

$c-panel-margin-bottom               : $base-spacing-unit !default;
$c-panel-padding                     : $base-spacing-unit !default;
$c-panel-header-adjust               : false !default;

// Pinned Panels
$c-panel-pin-color               : $primary-color !default;
$c-panel-pinned-border-size      : unitize( 3px ) !default;
$c-panel-pinned-border-color     : $primary-color !default;
$c-panel-pinned-title-bar-offset : ( map-get-strict( $c-title-bar-settings, 'offset' ) - $c-panel-pinned-border-size ) !default;
$c-panel-pin-text-size           : unitize( 0.7rem, $base-font-size ) !default;
$c-panel-pin-color-c-title-bar   : $white !default;
$c-panel-pin-offset-v            : -( unitize( 2px ) );
