// ==========================================================================
// Pedestal // Components // PIN MARKER
// ==========================================================================


// The component that goes "PINNED"!


.c-pin-mark {
  text-align: right;
}


.c-pin-mark__inner {}


.c-pin-mark__text,
.c-pin-mark__icon {
  color: $primary-color;
  font-size: $small-font-size;
  text-transform: uppercase;
}


.c-pin-mark__text {}


.c-pin-mark__icon {
  // Gotta get specific when dealing with icon text
  &.o-icon-text__icon {
    margin-left: quarter( $o-icon-text-spacing );
  }
}
