// ==========================================================================
// Pedestal // Components // Rail // CONFIGURATION
// ==========================================================================


$rail-column-gutter : halve( $base-spacing-unit );

$widget-p           : quarter( $base-spacing-unit );
$widget-title-m-t   : double( $base-spacing-unit );
