// ==========================================================================
// Pedestal // Components // RAIL
// ==========================================================================

// @TODO
// stylelint-disable selector-max-type


.rail {
  // Shrink column padding so a 300px DFP advert can fit
  padding-left: rem( 8px );
  padding-right: rem( 8px );

  // Fix for mysterious rail vertical explosion
  // https://github.com/spiritedmedia/spiritedmedia/issues/338
  overflow: hidden;

  .widget-title {
    @extend %c-heading--minor;

    margin-top: rem( 32px );

    &:first-child {
      margin-top: 0;
    }
  }
}

@media print {
  .rail {
    display: none;
  }
}
