// ==========================================================================
// Pedestal // Components // RAIL
// ==========================================================================


// @TODO
// stylelint-disable selector-no-type


.rail {
  // Shrink column padding so a 300px DFP advert can fit
  padding-left: $rail-column-gutter;
  padding-right: $rail-column-gutter;

  // Fix for mysterious rail vertical explosion
  // https://github.com/stomping/pedestal/issues/338
  overflow: hidden;

  .widget-title {
    @extend %c-heading--minor;

    margin-top: $widget-title-m-t;

    &:first-child {
      margin-top: 0;
    }
  }

  /*li*/.widget {
    @include border-divider;

    margin-bottom: $border-divider-spacing; // All widgets need this even if they don't have a border divider
    list-style-type: none;
    padding: $widget-p;

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style-type: none;
    }

    li {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;

      // stylelint-disable selector-max-compound-selectors
      &.active {
        &,
        a {
          color: $black;
        }
      }
      // stylelint-enable selector-max-compound-selectors
    }
  }

  ul,
  li {
    padding-left: 0;
    margin-left: 0;
  }

}
