$recent-content-thumbnail-size: rem( 48px );

.widget_pedestal-recent-content .widget-title {
  margin-bottom: rem( 28px );
}

.recent-content-widget__item {
  font-size: rem( 16px );
  line-height: 1.2;
  display: block;
  overflow: auto;
  height: 100%;
  margin-bottom: rem( 20px );
}

.recent-content-widget__thumbnail,
.recent-content-widget__placeholder {
  height: $recent-content-thumbnail-size;
  width: $recent-content-thumbnail-size;
}

.recent-content-widget__placeholder {
  @include img-placeholder( $recent-content-thumbnail-size );
}
