.c-search {
  background-color: $grey-95;

  .js &,
  .is-search-open & {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; // So it displays under the header
  }

  .admin-bar.is-search-open & {
    top: $wp-admin-bar-height-mobile;

    @media #{$wp-admin-bar-breakpoint} {
      top: $wp-admin-bar-height-desktop;
    }
  }
}

.c-search__form {
  position: relative;

  .is-active-search & {
    margin-bottom: rem( 16px );
  }
}

.c-search__icon {
  padding: rem( 8px );
  position: absolute;
  top: rem( 4px );
  color: $grey-25;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $black;
  }
}

.c-search__icon--close {
  right: 0;
  display: none;

  .js & {
    display: block;
  }

  .o-icon {
    width: icon-width-get( close ) * 1.5;
  }
}

.c-search__tools {
  display: none;
  position: relative;

  .is-active-search & {
    display: block;
  }
}

.c-search__tools__item {
  display: inline-block;
}

.c-search__total-results {
  padding: rem( 4px );
}

.c-search__total-results__count {
  font-weight: 700;
}

.c-search__field {
  @include stdbd(
    $side: 'bottom',
    $color: $grey-80,
    $neut: true
  );

  box-shadow: none;
  height: auto;
  font-size: $h4-font-size;
  padding: rem( 8px );
  padding-left: rem( 40 ); // input icon width
  color: $grey-25;
  margin-bottom: rem( 16px );

  &,
  &:focus {
    background: transparent;
  }
}

@media print {
  .c-search {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}
