// ==========================================================================
// Pedestal // Components // SHARE BUTTONS
// ==========================================================================


$share-button-gutter: rem( 4px );


@mixin _share-button-background( $color ) {
  background-color: $color;

  &:hover,
  &:active {
    background-color: rgba( $color, 0.8 );
  }
}


.share-buttons {
  overflow: auto;
  background-color: $white;
  margin-top: rem( 32px );
  margin-bottom: rem( 32px );
  font-family: $font-family-sans-serif;

  .has-sticky-share-buttons & {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-index-3;
    border: rem( 3px ) solid $white;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.share-buttons__inner {
  margin: 0 auto;
  max-width: $row-width;
}

.share-buttons__item {
  list-style: none;
  float: left;
  width: 33.3333%;
}

.share-buttons__link {
  display: block;
  min-height: 44px;
  padding: rem( 12px ) 0;
  text-align: center;
  font-size: rem( 15px );
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: em( 1px );

  &,
  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

.share-buttons__link--facebook {
  @include _share-button-background( $facebook-blue );
}

.share-buttons__link--twitter {
  @include _share-button-background( $twitter-blue );

  margin-left: $share-button-gutter;
  margin-right: $share-button-gutter;
}

.share-buttons__link--email {
  @include _share-button-background( $grey-62 );
}

.share-buttons__icon {
  font-size: rem( 18px );
  margin-right: rem( 4px );
  position: relative;
  vertical-align: sub;
}

@media print {
  .share-buttons {
    display: none;
  }
}
