// ==========================================================================
// Pedestal // Components // SHORTCODES + EMBEDS
// ==========================================================================





.pedestal-shortcode {}





//
// User Grid
// ==========================================================================


@if not $email {


.user-grid {
  @include no-bullet-custom;

  /**
   * Handle block grid mixins ourselves to reduce bloat
   */

  @include block-grid( $per-row: 1, $include-spacing: false, $base-style: true );

  @media #{$medium-up} {
    @include block-grid( $per-row: 2, $include-spacing: false, $base-style: false );
  }

  @media #{$large-up} {
    @include block-grid( $per-row: 3, $include-spacing: false, $base-style: false );
  }



  .c-user-card {
    padding: c-user-card-property-get( pd );
    text-align: center;
  }

}


} // end @if not $email





//
// SoundCite
// ==========================================================================


.soundcite-loaded {
  display: inline;

  &::before {
    vertical-align: -8%;
  }
}





//
// Twitter
// ==========================================================================


.twitter-tweet {
  margin-left: auto;
  margin-right: auto;

  // Make sure unrendered tweets have the same width as rendered tweets
  width: 500px;
  max-width: 100%;
  min-width: 220px;
}
