// ==========================================================================
// Pedestal // Components // SINGLE POST HEADER
// ==========================================================================



.single-header {
  .c-figure--embed {
    margin-top: rem( 16px );
    margin-bottom: rem( 16px );
  }
}

.single-header__title,
.single-header__description {
  margin-bottom: rem( 12px );
}

.single-header__title {
  font-family: $heading-font-family;
  font-size: $single-header-title-font-size;
  font-weight: 700;
  letter-spacing: em( -0.2px );
  line-height: $single-header-title-line-height;
}

.single-header__img {
  margin-top: 0;
  // In most cases this element will be a `figure`, but when it's an `a` element
  // it still needs to display block
  display: block;

  // scss-lint:disable SelectorFormat
  .rail & {
    width: auto;
  }
} // __item__img

.single-header__description {
  &,
  > * {
    font-size: $single-header-description-font-size;
    font-weight: 300;
    line-height: $single-header-description-line-height;
  }

  > * {
    margin-bottom: 0;
  }
}

.single-header__meta {
  .single-cluster & {
    font-size: $small-font-size;
  }
}
