// ==========================================================================
// Pedestal // Components // SITE FOOTER
// ==========================================================================


$footer-nav-bg: $grey-25;
$footer-logo-size: rem( 32px );
$footer-breakpoint: em( 840px );


.site-footer {
  clear: both;
  margin-top: rem( 16px );
  border-top: rem( 1px ) solid $border-std-color;
  border-bottom: rem( 5px ) solid $primary-color;

  @media ( min-width: $footer-breakpoint ) {
    border: none;
  }
}

.site-footer__nav,
.site-footer__colophon {
  background-color: $footer-nav-bg;
}

.site-footer__links,
.site-footer__colophon {
  // stylelint-disable selector-max-type
  a:hover,
  a:active {
    color: $site-footer-links-color-hover;
  }
  // stylelint-enable selector-max-type
}

@media ( min-width: $footer-breakpoint ) {
  .site-footer__nav {
    padding-top: rem( 32px );
    padding-bottom: rem( 32px );
  }

  .site-footer__container {
    @include grid-row;
    // To align .site-footer__links and .site-footer__social
    display: flex;
    align-items: center;
  }
}

@media print {
  .site-footer__nav {
    display: none;
  }
}





//
// Social Links
// ==========================================================================


.site-footer__social {
  @include grid-column( 12 );

  display: inline-block;
  line-height: 1;
  margin-left: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  background-color: $white;
  padding-top: rem( 20px );
  padding-bottom: rem( 16px );
}

.site-footer__social__item,
.site-footer__social__item__link {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.site-footer__social__item {
  margin-left: $site-cta-icon-spacing * 2;
}

.site-footer__social__item__link {
  background-color: $grey-70;
  border-radius: 50%;
  height: $icon-diameter;
  padding: 0;
  width: $icon-diameter;

  &,
  &:hover {
    color: $white;
  }
}


@media #{$medium-up} {
  .site-footer__social__item {
    margin-left: $site-cta-icon-spacing;
  }
}


@media ( min-width: $footer-breakpoint ) {
  .site-footer__social {
    @include grid-column(
      $columns: 3,
      $push: 9
    );

    text-align: right;
    background-color: $footer-nav-bg;
    padding-top: 0;
    padding-bottom: 0;
  }

  .site-footer__social__item__link {
    background-color: $grey-95;
    color: $footer-nav-bg;
  }
}





//
// Footer Links
// ==========================================================================
// stylelint-disable selector-max-type

.site-footer__links {
  @include no-bullet;
  @include grid-column( 12 );
  @media ( min-width: $footer-breakpoint ) {
    @include grid-column(
      $columns: 9,
      $pull: 3
    );
  }

  padding-top: rem( 20px );
  padding-bottom: rem( 32px );
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;

  li {
    display: inline-block;
    padding-left: rem( 4px );

    &::after {
      content: '·';
      padding-left: rem( 4px );
      padding-right: rem( 4px );
      color: $primary-color;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: '';
        display: none;
      }
    }

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }

  label {
    margin-bottom: 0;
    width: auto;
  }
}

@media ( min-width: $footer-breakpoint ) {
  .site-footer__links {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
}


// stylelint-enable selector-max-type


//
// Colophon
// ==========================================================================


.site-footer__colophon {
  text-align: center;
  font-size: $small-font-size;
  font-weight: 300;
  padding: 0;
  padding-bottom: rem( 16px );

  // stylelint-disable selector-max-type
  &,
  a {
    color: $white;
  }
  // stylelint-enable selector-max-type

  @media ( min-width: $footer-breakpoint ) {
    text-align: left;
    padding-top: rem( 16px );
    background-color: $primary-color;

    // stylelint-disable selector-max-type
    a:hover,
    a:active {
      color: $body-font-color;
    }
    // stylelint-enable selector-max-type

    > .columns {
      padding-left: 0;
    }
  }
}

.site-footer__logo,
.site-footer__newsroom,
.site-footer__copyright {
  display: block;

  @media ( min-width: $footer-breakpoint ) {
    display: inline-block;
    vertical-align: middle;
    line-height: $footer-logo-size;
  }
}

.site-footer__newsroom {
  // stylelint-disable-next-line selector-max-type
  a {
    font-weight: 700;
  }
}

.site-footer__copyright {
  @media ( min-width: $footer-breakpoint ) {
    float: right;
  }
}

@if global-variable-exists( site-theme-name ) {
  .site-footer__logo {
    @include iconize( $site-theme-logo-abspath + '/logo-icon-white', $footer-logo-size );

    margin: 0 auto;
    margin-bottom: rem( 16px );

    @media ( min-width: $footer-breakpoint ) {
      margin-right: rem( 10px );
      margin-bottom: 0;
    }
  }
}
