// ==========================================================================
// Pedestal // Components // SITE FOOTER
// ==========================================================================


.site-footer {
  clear: both;
  margin-top: rem( 16px );
  border-top: rem( 1px ) solid $border-std-color;
  border-bottom: rem( 5px ) solid $site-footer-border-bottom-color;

  @media ( min-width: $site-footer-breakpoint ) {
    border: none;
  }
}

.site-footer__nav,
.site-footer__colophon {
  background-color: $site-footer-nav-bg;
}

.site-footer__links,
.site-footer__colophon {
  // stylelint-disable selector-max-type
  a:hover,
  a:active {
    color: $site-footer-links-color-hover;
  }
  // stylelint-enable selector-max-type
}

@media ( min-width: $site-footer-breakpoint ) {
  .site-footer__nav {
    padding-top: rem( 32px );
    padding-bottom: rem( 32px );
  }

  .site-footer__container {
    @include grid-row;
    // To align .site-footer__links and .site-footer__social
    display: flex;
    align-items: center;
  }
}

@media print {
  .site-footer__nav {
    display: none;
  }
}





//
// Social Links
// ==========================================================================


.site-footer__social {
  @include grid-column( 12 );

  display: inline-block;
  line-height: 1;
  margin-left: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  background-color: $white;
  padding-top: rem( 20px );
  padding-bottom: rem( 16px );
}

.site-footer__social__item,
.site-footer__social__link {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.site-footer__social__item:not( :first-child ) {
  margin-left: $site-cta-icon-spacing * 2;
}

.site-footer__social__link {
  background-color: $site-footer-social-link-bg-color--bp-sm;
  border-radius: 50%;
  height: $icon-diameter;
  padding: 0;
  width: $icon-diameter;

  &,
  &:hover,
  &:active,
  &:focus {
    color: $site-footer-social-link-color--bp-sm;
  }
}


@media #{$medium-up} {
  .site-footer__social__item {
    margin-left: $site-cta-icon-spacing;
  }
}


@media ( min-width: $site-footer-breakpoint ) {
  .site-footer__social {
    @include grid-column(
      $columns: 3,
      $push: 9
    );

    text-align: right;
    background-color: $site-footer-nav-bg;
    padding-top: 0;
    padding-bottom: 0;
    // Override Foundation grid gutter to make icons fit
    padding-left: 0;
  }

  .site-footer__social__link {
    background-color: $grey-95;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $site-footer-nav-bg;
    }
  }
}





//
// Footer Links
// ==========================================================================
// stylelint-disable selector-max-type

.site-footer__links {
  @include no-bullet;
  @include grid-column( 12 );

  margin-bottom: 0;
  padding-top: rem( 20px );
  padding-bottom: rem( 24px );
  text-align: center;
  text-transform: uppercase;
  font-family: $site-footer-links-font-family;
  font-weight: $site-footer-links-font-weight;
  font-size: $site-footer-links-font-size;
  line-height: $site-footer-links-line-height;
  letter-spacing: $site-footer-links-letter-spacing;

  li {
    display: inline-block;
    padding-left: rem( 4px );

    &::after {
      content: '·';
      padding-left: rem( 4px );
      padding-right: rem( 4px );
      color: $site-footer-links-separator-color;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: '';
        display: none;
      }
    }

    a {
      &,
      &:active,
      &:hover,
      &:focus {
        color: $grey-95;
      }
    }
  }

  label {
    margin-bottom: 0;
    width: auto;
    cursor: pointer;
  }
}

@media ( min-width: $site-footer-breakpoint ) {
  .site-footer__links {
    @include grid-column(
      $columns: 9,
      $pull: 3
    );

    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
}


// stylelint-enable selector-max-type


//
// Colophon
// ==========================================================================


.site-footer__colophon {
  padding: 0;
  padding-bottom: rem( 16px );
  text-align: center;
  font-size: $site-footer-colophon-font-size;
  font-weight: 300;
  letter-spacing: $site-footer-colophon-letter-spacing;

  // stylelint-disable selector-max-type
  &,
  a,
  a:hover,
  a:active {
    color: $white;
  }
  // stylelint-enable selector-max-type

  @media ( min-width: $site-footer-breakpoint ) {
    text-align: left;
    padding-top: rem( 16px );
    background-color: $site-footer-colophon-background-color;

    > .columns {
      padding-left: 0;
    }
  }
}

.site-footer__logo,
.site-footer__newsroom,
.site-footer__copyright {
  display: block;
  line-height: $site-footer-colophon-line-height;

  @media ( min-width: $site-footer-breakpoint ) {
    display: inline-block;
    vertical-align: middle;
    line-height: $site-footer-logo-size;
  }
}

.site-footer__newsroom {
  font-style: $site-footer-newsroom-font-style;

  // stylelint-disable-next-line selector-max-type
  a {
    font-weight: 700;
  }
}

.site-footer__copyright {
  @media ( min-width: $site-footer-breakpoint ) {
    float: right;
  }
}

.site-footer__logo {
  margin: 0 auto;
  margin-bottom: rem( 16px );
  font-size: $site-footer-logo-size;

  @media ( min-width: $site-footer-breakpoint ) {
    margin-right: rem( 10px );
    margin-bottom: 0;
  }
}
