// ==========================================================================
// Pedestal // Components // SITE HEADER
// ==========================================================================


$breakpoint-header-display-social-icons: em( 738px );
$site-header-cta-icon-padding: rem( 4px );


/// Make the header newsletter CTA do its inline thing
///
/// Used in child themes for breakpoint-specific changes
///
/// https://cl.ly/0t3h1Y3b3Y0h/Screen%20Recording%202017-10-13%20at%2011.38.gif
@mixin _header-cta-inline {
  .site-header__cta {
    text-align: center;
  }

  .site-header__cta__prompt,
  .site-header__cta__action {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .site-header__cta__prompt {
    text-align: right;
  }

  .site-header__cta__action {
    padding-left: $site-header-cta-icon-padding;
  }

  .site-header__cta__tagline {
    display: block;
  }
}


.site-header {
  background-color: $primary-color;
  padding-top: rem( 20px );
}

.site-header__inner {
  @include grid-row;

  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.site-header__logo,
.site-header__cta {
  @include grid-column( 12, $float: false );

  color: $white;
}





//
// Logo
// ==========================================================================


.site-header__logo {
  margin-bottom: 0;
}

.site-header__logo__link {
  display: block;

  &,
  &:active,
  &:hover {
    color: inherit;
  }
}

.site-header__logo__img {}

.site-header__logo__text {
  @include invisible;
}


@media print {
  // Don't display the URL for the logo link
  .site-header__logo__link[href]::after {
    content: "";
  }
}


//
// Call to Action
// ==========================================================================


.site-header__cta {
  vertical-align: middle;
  // Prevent flash of color upon opening modal in Chrome
  // https://github.com/spiritedmedia/spiritedmedia/issues/2366
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );

  &:focus {
    outline: 0;
  }
}

.site-header__cta,
.site-header__cta__prompt,
.site-header__cta__tagline,
.site-header__cta__action {
  color: $white;
  font-size: $body-font-size;
  line-height: 1.2;
}

.site-header__cta__prompt {
  margin-bottom: rem( 12px );
}

.site-header__cta__tagline {
  margin-bottom: 0;
}

.site-header__cta__action {
  @include h-size( 5 );

  display: block;
  font-style: italic;
}

.site-header__cta__icon {
  font-size: rem( 48px );
  padding-right: $site-header-cta-icon-padding;
}

@media print {
  .site-header__cta {
    display: none;
  }
}
