// ==========================================================================
// Pedestal // Components // SLOTS
// ==========================================================================


.c-slot {}

  .c-slot__item {
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }





//
// Sponsorships + Partnerships
// ==========================================================================


/**
 * @TODO Merge this with `.c-powered-by`
 */


.c-slot--sponsors-partners {

  .c-slot__item {
    display: inline-block;

    @if $email {
      // scss-lint:disable SelectorFormat
      > p {
        margin-top: 0;
        margin-bottom: $c-slot-item-shortcode-pd;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }


  /*p*/&__label {
    color: $c-slot-sponsors-label-color;
    margin-bottom: $c-slot-sponsors-item-m-b;
    font-size: $c-slot-sponsors-label-f-z;
    font-weight: $c-slot-sponsors-label-f-w;
    letter-spacing: $c-slot-sponsors-label-lts;
    text-transform: uppercase;
  }


  /*p*/&__logo {
    // scss-lint:disable SelectorFormat
    img {
      display: block;
      max-width: $c-slot-sponsors-logo-m-w;
      max-height: $c-slot-sponsors-logo-m-h;
    }
  }
}





//
// Positions
// ==========================================================================


// * Shortcode Position -- All Scopes
// * Newsletter Item Position -- All Scopes
// * Component Position -- All Scopes
[data-slot-position*="shortcode"],
[data-slot-position*="newsletter_item"],
[data-slot-position*="component"] {
  .c-slot__item {
    padding-bottom: $c-slot-item-shortcode-pd;
    padding-left: $c-slot-item-shortcode-pd;
  }

  .c-slot--sponsors-partners__logo {
    // scss-lint:disable SelectorFormat
    img {
      max-height: $c-slot-sponsors-shortcode-logo-m-h;
    }
  }
}


// * Lead Position -- All Scopes
// * Component Position -- All Scopes
[data-slot-position*="lead"],
[data-slot-position*="component"] {
  &.c-slot {
    text-align: center;
  }
}


// * Lead Position -- Email Scope
// * Daily Instagram Component Type
[data-slot-position="email_lead"],
[data-slot-component-type="daily_insta"] {
  &.c-slot {
    @include stdbd( 'bottom' );
  }
}


// Lead Position -- Email Scope
[data-slot-position="email_lead"] {
  &.c-slot {
    background-color: $body-bg;
  }

  .c-slot__item {
    padding-top: $c-slot-item-lead-pd;
    padding-bottom: $c-slot-item-lead-pd;
  }
}


// Daily Instagram Component Type
[data-slot-component-type="daily_insta"] {
  &.c-slot {
    background-color: $truth-serum;
  }

  .c-slot__item {
    padding-top: $half-spacing-unit;
    padding-bottom: $half-spacing-unit;
  }
}


// Single Lead Position -- Site Scope
[data-slot-position="site_single_lead"] {
  &.c-slot {
    padding-bottom: $c-slot-item-lead-pd;

    .c-hero + & {
      padding-top: $c-slot-item-lead-pd;
    }
  }
}
