// ==========================================================================
// Pedestal // Components // Slots // CONFIGURATION
// ==========================================================================


$c-slot-item-lead-pd      : $base-spacing-unit;
$c-slot-item-shortcode-pd : $half-spacing-unit;





//
// Sponsorships + Partnerships
// ==========================================================================


$c-slot-sponsors-item-m-b           : 0;
$c-slot-sponsors-label-color        : $grey-mid;
$c-slot-sponsors-label-f-z          : $small-font-size;
$c-slot-sponsors-label-f-w          : 300;
$c-slot-sponsors-label-lts          : 0.05em;
$c-slot-sponsors-logo-m-w           : 150px;
$c-slot-sponsors-logo-m-h           : 75px;

$c-slot-sponsors-shortcode-logo-m-h : 50px;
