// ==========================================================================
// Pedestal // Components // SLOTS
// ==========================================================================


$c: '.c-slot';


#{$c} {
  &__item {
    &,
    > * {
      display: inline-block;
    }

    > * {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }


  /*p*/&__label {
    color: $dimmed-text-color;
    font-size: $small-font-size;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: $c-slot-item-pd;
  }


  &__img {
    // scss-lint:disable SelectorFormat
    img {
      max-width: 150px;
    }
  }


  //
  // Slot Item Type: Sponsors & Partners
  //
  &--sponsors-partners {}

}





//
// Positions
// ==========================================================================


// * Shortcode Position -- All Scopes
// * Newsletter Item Position -- All Scopes
// * Component Position -- All Scopes
[data-slot-position*="shortcode"],
[data-slot-position*="newsletter_item"],
[data-slot-position*="component"] {
  #{$c}__item {
    padding-bottom: $c-slot-item-pd;
    padding-left: $c-slot-item-pd;
  }

  #{$c}__img {
    // scss-lint:disable SelectorFormat
    img {
      max-height: 50px;
    }
  }
}


// * Lead Position -- All Scopes
// * Component Position -- All Scopes
[data-slot-position*="lead"],
[data-slot-position*="component"] {
  &.c-slot {
    text-align: center;
  }
}


// * Supports -- Premium Images
[data-slot-supports-premium] {
  #{$c}__item {
    > * {
      margin-bottom: unitize( 0.25rem );
    }
  }

  #{$c}__label {
    margin-right: 0;
  }

  /*p*/#{$c}__img {
    // scss-lint:disable SelectorFormat
    img {
      max-width: 100%;
      max-height: 111px;
    }
  }
}


// Lead Position -- Email Scope
[data-slot-position="email_lead"] {
  &.c-slot {
    background-color: $body-bg;
  }

  #{$c}__item {
    padding-bottom: $c-slot-item-lead-pd;
  }
}


// Daily Instagram Component Type
[data-slot-component-type="daily_insta"] {
  &.c-slot {
    @include stdbd( 'bottom' );
    background-color: $truth-serum;
  }

  #{$c}__item {
    padding-top: $c-slot-item-pd;
    padding-bottom: $c-slot-item-pd;
  }
}


// Single Lead Position -- Site Scope
[data-slot-position="site_single_lead"] {
  &.c-slot {
    padding-bottom: $c-slot-item-lead-pd;

    .c-hero + & {
      padding-top: $c-slot-item-lead-pd;
    }
  }
}
