// ==========================================================================
// Pedestal // Components // SPOTLIGHT
// ==========================================================================


// stylelint-disable selector-max-type


.spotlight {
  @include stdbd( bottom );

  background-color: $white;

  strong {
    text-transform: uppercase;
    padding-right: rem( 5px );
  }
}

.spotlight__inner {
  @include grid-column;

  padding-top: rem( 8px );
  padding-bottom: rem( 8px );
}
