// ==========================================================================
// Pedestal // Components // Statement // CONFIGURATION
// ==========================================================================


$c-statement-settings: (
  meter-width: unitize( $base-spacing-unit * 6 ),
  quote-spacing-v: double( $base-spacing-unit ),
) !default;





//
// Functions
// ==========================================================================


@function c-statement-property-get( $properties... ) {
  @return map-deep-get( $c-statement-settings, $properties... );
}
