.c-statement {
  margin: 0;
}





//
// Statement: Factcheck
// ==========================================================================


.c-statement--factcheck {
  background-color: $light-gray-color;
  margin-bottom: rem( 16px );

  .c-statement__inner {
    padding: rem( 32px );
  }

  .c-statement__img {

    // stylelint-disable-next-line selector-max-type
    > img {
      height: rem( 96px );

      @media #{$small-only} {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .c-statement__content {
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-bottom: rem( 16px );
    border: 0;
    font-size: 0;
  }

  .c-statement__content__text {
    color: $header-font-color;
    margin: 0;
    padding: 0;
    font-size: $small-font-size;
    font-weight: 400;

    @media #{$medium-up} {
      font-size: $h3-font-size;
    }
  }

  .c-statement__speaker {
    font-size: $small-font-size;
  }

  .c-statement__speaker__name {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
}


@media #{$medium-down} {
  .c-statement--factcheck {
    @include explode-component( $inner-selector: '.c-statement__inner' );

    .c-statement__inner {
      padding-top: rem( 32px );
      padding-bottom: rem( 32px );
    }
  }
}





//
// Statement: Page
// ==========================================================================


.c-statement--page {
  @if global-variable-exists( site-theme-name ) {
    background: url( $site-theme-abspath + '/assets/images/page-about-statement-bg.jpg' );
  }

  text-align: center;
  padding: rem( 32px );

  .c-statement {

    &__content__text {
      font-size: $h2-font-size;
      font-weight: 300;
      padding-top: 0;
      border-left: 0;
    }


    &__speaker__name {
      font-size: $h4-font-size;
      font-weight: 100;
      font-style: italic;
    }
  }
}


@media #{$small-only} {
  .c-statement--page {
    @include invisible;
  }
}
