// ==========================================================================
// Pedestal // Components // STATEMENT
//
// Statements and quotes for Factchecks and Pages
// ==========================================================================





/*figure*/.c-statement {
  margin: 0;

  &__img {}
  &__body {}
  &__content {
    &__text {}
    /*blockquote*/&--quote {}
  }

  /*figcaption*/&__speaker {
    &__name {}
    &__setting {}
    &__date {}
  }
}





//
// Statement: Factcheck
// ==========================================================================


.c-statement--factcheck {
  .c-statement {

    &__img {
      // scss-lint:disable SelectorFormat

      > img {
        height: c-statement-property-get( meter-width );

        @media #{$small-only} {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }


    &__content {
      line-height: 1;
      margin: 0;
      padding: 0;
      padding-bottom: $base-spacing-unit;
      border: 0;
      font-size: 0;

      &__text {
        color: $header-font-color;
        margin: 0;
        padding: 0;
        font-size: $small-font-size;
        font-weight: 400;

        @media #{$medium-up} {
          font-size: $h3-font-size;
        }
      }
    }


    &__speaker {
      font-size: $small-font-size;

      &__name {
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

  }
}





//
// Statement: Page
// ==========================================================================


.c-statement--page {
  @if global-variable-exists( site-theme-name ) {
    background: url( $site-theme-abspath + '/assets/images/page-about-statement-bg.jpg' );
  }

  text-align: center;
  padding: 2rem;

  .c-statement {

    &__content__text {
      font-size: $h2-font-size;
      font-weight: 300;
      padding-top: 0;
      border-left: 0;
    }


    &__speaker__name {
      font-size: $h4-font-size;
      font-weight: 100;
      font-style: italic;
    }

  }
}
