// ==========================================================================
// Pedestal // Components // Stream // CONFIGURATION
// ==========================================================================


$stream-item-spacing           : $base-spacing-unit * 2.5;
$stream-item-spacing--mq-md-up : $base-spacing-unit * 3;
$stream-even-spacing-sm        : $base-spacing-unit * 1.5;
$stream-even-spacing-lg        : $base-spacing-unit * 4;

$stream-inset-spacing          : $base-spacing-unit * 3;

$stream-imglist-img-size-sm    : $base-spacing-unit * 3;
$stream-imglist-img-size-lg    : $base-spacing-unit * 5;
