// ==========================================================================
// Pedestal // Components // STREAM
// ==========================================================================


$stream-item-spacing           : $base-spacing-unit * 2.5;
$stream-imglist-img-size-sm    : $base-spacing-unit * 3;
$stream-imglist-img-size-lg    : $base-spacing-unit * 5;

$c: '.c-stream';


#{$c} {
  @include clearfix;

  text-align: left;

  &.is-empty {
    text-align: center;
    font-size: $h3-font-size;
  }

  .is-loading &,
  &.is-loading {
    opacity: $loading-default-opacity;
  }


  &__header {
    margin-top: $stream-item-spacing;

    @media #{$small-only} {
      text-align: center;
    }

    &__item {
      display: inline-block;
    }

    &__rule {
      margin-top: 0;
    }
  }


  /*h1*/&__title {
    font-size: $h4-font-size;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    color: $dimmed-text-color;
  }


  &__paged {
    #{$c}__header & {
      text-align: left;
      margin-left: $base-spacing-unit / 4;
    }
  }


  &__featured-items {

    &__primary {}

    &__secondary {
      #{$c}__item__footer {
        @media #{$medium-up} {
          border-bottom: 0;
        }
      }
    }

    &__more {}

  }


  &__items.columns {
    @media ( max-width: $medium-breakpoint ) {
      float: none;
    }
  }


  // A stream heading may appear alongside stream items as a way of separating items
  &__heading {
    margin-top: $base-spacing-unit;
    margin-bottom: 0;

    + #{$c}__item {
      margin-top: 0;
    }
  }


  &__item {
    @include clearfix;

    position: relative;
    margin-top: $stream-item-spacing;

    @media #{$medium-up} {
      margin-top: $base-spacing-unit * 3;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: $stream-item-spacing;
    }

    &__inner {
      clear: both;
    }


    &__body {}


    &__title {
      font-weight: normal;
    }


    &__img {}


    &__footer {}


  } // __item

  &__item--sponsored {
    .c-heading__title {
      color: $dimmed-text-color;
    }
  }



  //
  // Stream Variations
  // ==========================================================================


  /// Stream with items separated by a pedal rule
  ///
  /// Extends `.c-stream`.
  ///
  /// @TODO do we even need this class at all?
  &--standard {}





  /// Stream with items in singular panel separated by standard borders
  ///
  /// Extends `.c-stream`.
  &--ladder {
    #{$c}__item {
      @include stdbd( 'top' );

      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: $base-spacing-unit;

      &:first-of-type {
        border: 0;
      }
    }
  }





  /// Stream with small always-floated thumbnails and title only
  &--imglist {

    #{$c}__item {
      margin-top: $base-spacing-unit * 2;

      &:first-child {
        margin-top: 0;
      }

      &__title {
        @include h-size( 5 );
      }

      &__img {
        width: $stream-imglist-img-size-sm;
        height: $stream-imglist-img-size-sm;

        @media #{$medium-up} {
          width: $stream-imglist-img-size-lg;
          height: $stream-imglist-img-size-lg;
        }

        &--placeholder {
          @include img-placeholder( $stream-imglist-img-size-sm );

          // stylelint-disable max-nesting-depth
          @media #{$medium-up} {
            @include img-placeholder( $stream-imglist-img-size-lg );
          }
          // stylelint-enable max-nesting-depth
        } // __item__img--placeholder
      } // __item__img
    } // __item


    &.c-stream--sm {
      #{$c}__item {
        margin-top: $stream-item-spacing / 2;

        &__title {
          font-size: $paragraph-font-size;
        }

        &__img {
          width: $stream-imglist-img-size-sm;
          height: $stream-imglist-img-size-sm;

          // stylelint-disable max-nesting-depth
          &--placeholder {
            @include img-placeholder( $stream-imglist-img-size-sm );
          }
          // stylelint-enable max-nesting-depth

        } // __item__img
      } // __item
    } // &.c-stream--sm
  }





  /// Newsletter stream
  &--newsletter {

    #{$c}__item {
      @include stdbd(bottom);

      padding-top: $base-spacing-unit;
      padding-bottom: $base-spacing-unit;
      margin-top: 0;

      &:first-child {
        padding-top: 0;
      }
    }

    #{$c}__item--event {
      #{$c}__item__title {
        margin-bottom: 0;
      }
    }

    #{$c}__item__title {
      @include h-size(4);

      margin-bottom: $base-spacing-unit;
    }

    #{$c}__item__description {
      &,
      > * {
        @include h-size(5);

        margin-bottom: 0;
      }
    }

  } // &--newsletter





  /// Stream that has featured items
  &--has-featured {
    // First item in the non-featured stream should have the standard top margin
    #{$c}__items #{$c}__item:first-child {
      margin-top: $stream-item-spacing;
    }
  }
} // end stream





//
// Entity Variations
// ==========================================================================


.c-stream__item--factcheck {
  .c-stream__item__img {
    max-width: $overview-thumbnail-img-size;

    @media #{$small-only} {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// If a Factcheck is featured the thumbnail should be full width
.c-stream__featured-items {
  .c-stream__item__img {
    max-width: none;
  }
}


.c-stream__item--event {
  border-bottom: 0;
  padding-bottom: 0;
}
