// ==========================================================================
// Pedestal // Components // Stream // CONFIGURATION
// ==========================================================================


$c-stream-settings: (
  item-spacing         : ( $base-spacing-unit * 2.5 ),
  item-img-thumbnail-w : $base-spacing-unit * 7,
  inset-spacing        : ( $base-spacing-unit * 3 ),
  even-spacing-sm      : ( $base-spacing-unit * 1.5 ),
  even-spacing-lg      : double( $base-spacing-unit ),
  header-paged-m-l     : quarter( $base-spacing-unit ),
  imglist              : (
    img-size-sm : ( $base-spacing-unit * 3 ),
    img-size-lg : ( $base-spacing-unit * 5 ),
    f-z-sm      : $h5-font-size,
    f-z-lg      : $h3-font-size
  )
) !default;





//
// Functions
// ==========================================================================


@function c-stream-property-get( $properties... ) {
  @return map-fetch( $c-stream-settings, $properties... );
}
