.stream__header {
  margin-bottom: $stream-item-spacing;
}

.stream__items {
  .stream-item:not( .stream-item--event ) {
    .stream-item__title-link:visited {
      color: $grey-62;
    }
  }
}


@media #{$medium-up} {
  .stream__header {
    margin-bottom: $stream-item-spacing * 1.2;
  }
}


//
// Home Stream
// ==========================================================================

.stream--home {
  .stream__header {
    background-color: $stream-header-background-color;
    color: text-contrast( $stream-header-background-color );
    font-size: $stream-header-font-size;
  }

  .stream__header__inner {
    padding: rem( 20px ) 0;
  }
}


@media #{$medium-down} {
  .stream--home {
    .stream__header {
      @include explode-component;
    }
  }
}


@media #{$large-up} {
  .stream--home {
    .stream__header {
      @include explode-component( left );
    }
  }
}


//
// List Stream
// ==========================================================================

.stream--list {
  .stream-item {
    margin-bottom: rem( 32px );
  }
}


//
// Author Stream
// ==========================================================================

.stream--author {
  .stream__header {
    padding-top: rem( 40px );

    .pagination,
    .pagination::before,
    .pagination::after,
    .pagination__text {
      display: inline;
    }

    .pagination {
      margin-left: rem( 4px );
    }
  }

  .stream__header__title {
    display: inline;
    font-size: $h4-font-size;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    color: $grey-46;
  }
}


//
// Featured Stream Items
// ==========================================================================

.stream__featured-items {
  .stream-item__featured-container {
    display: block;
    float: none;
    margin-right: 0;

    // stylelint-disable selector-max-type
    img {
      max-height: none;
    }
    // stylelint-enable selector-max-type
  }

  .stream-item__title {
    font-size: $feat-item-title-font-size;
  }

  .stream-item__datetime-separator {
    display: none;
  }
} // .stream__featured-items

.stream__featured-items__primary,
.stream__featured-items__secondary {
  @include grid-row;

  .stream-item {
    // Note that column width must be specified explicitly for IE11 compatability
    @include grid-column( 12 );
  }
}

.stream__featured-items__primary {
  .stream-item__title--pre-image {
    display: none;
  }
}


@media #{$screen} and ( max-width: $stream-item-breakpoint - em( 1px ) ) {
  .stream__featured-items {
    .stream-item__featured-container {
      @include explode-component(
        $inner-selector: '.stream-item__featured-image-link',
        $ignore-gutter: true
      );
    }
  }
}


@media #{$screen} and ( min-width: $stream-item-breakpoint ) {
  .stream__featured-items__primary {
    .stream-item {
      margin-bottom: rem( 16px );
    }

    .stream-item__title {
      font-size: rem( 40px );
      font-weight: 700;
      letter-spacing: em( -0.2px, rem( 40px ) );
    }

    .stream-item__title--pre-image {
      display: block;
    }

    .stream-item__title--post-image {
      display: none;
    }

    .stream-item__title,
    .stream-item__overline {
      text-align: center;
    }
  } // .stream__featured-items__primary

  .stream__featured-items__secondary {
    $overline-x-offset: $overline-line-height-unit + $overline-margin-bottom;

    &.has-overlines {
      margin-top: $overline-x-offset;
    }

    .stream-item {
      @include grid-column( 6 );

      /// Align secondary items with or without overlines
      &.has-overline {
        margin-top: -( $overline-x-offset );
      }
    }
  }
}
