// ==========================================================================
// Pedestal // Components // SUBSCRIPTION CONFIRMATION PAGE
// ==========================================================================


// stylelint-disable selector-max-type


.subscription-confirmation-page {
  text-align: center;
  margin: 0 auto;
  max-width: rem-calc( 580 );

  h3 {
    margin-bottom: rem-calc( 24 );
  }

  p {
    margin-bottom: rem-calc( 8 );
  }

  .success-message p {
    margin-bottom: 0;
  }
}
