// ==========================================================================
// Pedestal // Components // SUBSCRIPTION CONFIRMATION PAGE
// ==========================================================================


// stylelint-disable selector-no-type


.subscription-confirmation-page {
  text-align: center;
  margin: 0 auto;
  max-width: rem-calc( 580 );

  h3 {
    margin-bottom: rem-calc( 24 );
  }

  p {
    margin-bottom: rem-calc( 8 );
  }

  input {
    margin: rem-calc( 32 ) 0 rem-calc( 16 );
    height: rem-calc( 40 );
    font-size: rem-calc( 20 );
  }

  .success-message p {
    margin-bottom: 0;
  }
}
