// ==========================================================================
// Pedestal // Components // TABLES
// ==========================================================================


.c-details-table {
  @include stdbd;
}


// @TODO
// stylelint-disable selector-no-type
.c-details-table__inner {
  width: 100%;
  border: 0;

  th {
    @include stdbd( 'right' );

    text-align: right;
    text-transform: uppercase;
    width: 30%;
  }

  .email-body & {
    tr {
      @include stdbd( 'bottom' );
    }
  }

}
// stylelint-enable selector-no-type


.c-details-table__link {
  margin-top: 0;
  margin-bottom: 0;
}

.c-details-table__link__btn {
  @include single-transition( background-color );

  display: block;
  text-align: center;
  color: $body-font-color;
  background-color: $latte;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: $table-row-padding;

  &:hover,
  &:focus {
    background-color: darken( $latte, 15% );
  }
}
