// ==========================================================================
// Pedestal // Components // Tables // CONFIGURATION
// ==========================================================================


$c-details-table-link-bg-c : $latte !default;

$table-head-font-size      : unitize( 14 ) !default;
$table-head-padding        : unitize( 8 10 10 ) !default;
$table-caption-font-size   : unitize( 16 ) !default;
$table-row-padding         : unitize( 9 10 ) !default;
$table-row-font-size       : unitize( 14 ) !default;
$table-line-height         : unitize( 18 ) !default;
$table-margin-bottom       : unitize( 20 ) !default;
