// ==========================================================================
// Pedestal // Components // TITLE BAR
// ==========================================================================


.c-title-bar {
  margin-left: $border-offset;
  margin-right: $border-offset;
  position: relative;

  @if $email == false {
    z-index: $z-c-title-bar;
  }

  &__inner {}

  &__item {}

  /*h2/h4*/&__text {
    @if $email {
      max-width: 85%;
    }

    &__item {
      text-transform: uppercase;
      letter-spacing: 0.03em;

      .o-blox--expand & {
        letter-spacing: 0.025em;
        text-transform: none;
      }
    }

    &__link {}

    &__title {}

    &__subtitle {}

  } // end __item

  &__pin {}





  //
  // Title Bar: Lighter
  // ==========================================================================
  // A title bar with a lighter background.


  &--lighter {
    @include c-title-bar-mod-color( lighter );
  } // end --lighter









  //
  // Title Bar: Customized
  // ==========================================================================


  &--customized {
    .c-title-bar {
      &__text {
        @media #{$small-only} {
          display: block;
        }
      }
    }
  } // end --customized





  //
  // Title Bar: Promo / Nativo
  // ==========================================================================


  .entity--promo & {
    @include c-title-bar-mod-color( promo );
  } // end --promo
} // end title-bar
