// ==========================================================================
// Pedestal // Components // Title Bar // CONFIGURATION
// ==========================================================================


$c-title-bar-defaults: (
  font-size: $base-font-size,
  item-spacing: $half-spacing-unit
) !default;

$c-title-bar-font-sizes: (
  default  : map-get-strict( $c-title-bar-defaults, 'font-size' ),
  single   : $h5-font-size,
  cluster : $h4-font-size,
  promo    : map-get-strict( $c-title-bar-defaults, 'font-size' )
) !default;

$c-title-bar-settings: (
  title-font-weight     : map-get-strict( $o-blox-settings, 'title-font-weight' ),
  title-font-weight-alt : map-get-strict( $o-blox-settings, 'title-font-weight-alt' ),
  font-sizes            : $c-title-bar-font-sizes,
  pd-v                  : $half-spacing-unit,
  pd-h                  : ( map-get-strict( $c-title-bar-defaults, 'item-spacing' ) * 2 ),
  item-spacing          : map-get-strict( $c-title-bar-defaults, 'item-spacing' ),
  offset                : o-blox-offset-get(),
  promo-bg              : $hello-yellow
) !default;

$c-title-bar-settings: map-merge( $c-title-bar-settings, (
  m-t: ( o-blox-height-get() + $base-spacing-unit )
) );





//
// Functions
// ==========================================================================


@function c-title-bar-property-get( $property, $size: null ) {
  @if $size and sl-contain( $o-blox-sizes, $size ) and map-has-key( $o-blox-settings, $property ) {
    $value: map-deep-get( $o-blox-sizes-data, $size, $property );
  } @elseif not $size {
    $value: map-get-strict( $o-blox-settings, $property );
  }
  @return $value;
}
