// ==========================================================================
// Pedestal // Components // Title Bar // CONFIGURATION
// ==========================================================================


$c-title-bar-defaults: (
  font-size: $base-font-size,
  item-spacing: $half-spacing-unit
) !default;

$c-title-bar-font-sizes: (
  default  : map-get-strict( $c-title-bar-defaults, 'font-size' ),
  single   : $h5-font-size,
  cluster : $h4-font-size,
  promo    : map-get-strict( $c-title-bar-defaults, 'font-size' )
) !default;

$c-title-bar-settings: (
  title-font-weight     : map-get-strict( $o-blox-settings, 'title-font-weight' ),
  title-font-weight-alt : map-get-strict( $o-blox-settings, 'title-font-weight-alt' ),
  font-sizes            : $c-title-bar-font-sizes,
  pd-v                  : $half-spacing-unit,
  pd-h                  : ( map-get-strict( $c-title-bar-defaults, 'item-spacing' ) * 2 ),
  item-spacing          : map-get-strict( $c-title-bar-defaults, 'item-spacing' ),
  offset                : o-blox-offset-get(),
  promo-bg              : $hello-yellow,
  lighter-bg             : $truth-serum
) !default;

$c-title-bar-settings: map-merge( $c-title-bar-settings, (
  m-t: ( o-blox-height-get() + $base-spacing-unit )
) );





//
// Functions + Mixins
// ==========================================================================


@function c-title-bar-property-get( $property, $font-size: null ) {
  @return map-fetch( $c-title-bar-settings, $property );
}


/**
 * Set up base styles for a title bar BEM varient
 *
 * @param {string} $mod Name of a BEM modifier
 */
@mixin c-title-bar-mod-color( $mod ) {
  $bg: "#{$mod}-bg";

  &,
  .c-title-bar__text__link {
    @include text-color( c-title-bar-property-get( $bg ) );
  }

  .c-title-bar__inner {
    background-color: c-title-bar-property-get( $bg );
    color: $black;
  }
}
