// ==========================================================================
// Pedestal // Components // TYPOGRAPHY: HEADINGS
// ==========================================================================


.c-heading {}

.c-heading__title {}

.c-heading__follow-this {
  display: inline;
  text-transform: uppercase;
  color: $white;
  background-color: $yet-another-red;
  font-size: rem( 10px );
  border-radius: rem( 10px );
  padding: rem( 2px ) rem( 6px );
  position: relative;
  top: rem( -2px );
  white-space: nowrap;
}

/*a*/.c-heading__link {}


.c-heading--minor,
%c-heading--minor,
.c-heading--light,
.c-heading--overline {
  &,
  .c-heading__title {
    @include h-size( 6 );

    text-transform: uppercase;
    line-height: 1.2;
  }
}

.c-heading--minor,
%c-heading--minor,
.c-heading--overline {
  font-weight: 700;
}

.c-heading--light {
  font-weight: 400;
  color: $dimmed-text-color;
}

.c-heading--overline {
  margin-bottom: rem( 12px );
}

.c-heading--archive {
  @include h-size( 3 );

  color: $header-font-color;
  font-weight: 300;

  .c-heading__title {
    font-weight: 700;
  }
}
