// ==========================================================================
// Pedestal // Components // USER CARD
// ==========================================================================


$user-card-img-size: map-get-strict( sm-pedestal-img-sizes-get( thumbnail ), width );


.c-user-card {
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
  }
}

.c-user-card__title {}

.c-user-card__img {
  display: block;
  margin-bottom: rem( 16px );

  // Accommodate for all the different image sizes
  @each $size-name, $dimensions in sm-pedestal-img-sizes-get() {
    $width: map-get-strict( $dimensions, width );

    &.img--#{$size-name} {
      .c-avatar {
        &,
        &__img {
          width: $user-card-img-size;
          height: $user-card-img-size;
          background-size: $user-card-img-size;

          // stylelint-disable-next-line max-nesting-depth
          @media #{$large-up} {
            width: $width;
            height: $width;
            background-size: $width;
          }
        }
      }
    }
  }

  .c-avatar {
    &__img {
      margin: 0 auto;
    }
  }
} // .c-user-card__img

.c-user-card__name {
  margin: 0;
}

.c-user-card__details {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;

  &__item {
    display: inline-block;
    vertical-align: middle;
    line-height: $base-line-height;
    margin-bottom: rem( 8px );
    margin-right: rem( 8px );

    .o-icon-text__icon {
      margin-right: $icon-spacing / 2;
    }
  }

}

.c-user-card__title {
  font-weight: 300;
}

.c-user-card__email {}

.c-user-card__twitter {}

.c-user-card__bio {
  text-align: left;
}




.c-user-card--grid,
.c-user-card--compact {

  .c-user-card__bio {
    font-style: italic;
    font-size: $h5-font-size;
  }

}





.c-user-card--extended,
.c-user-card--grid {

  .c-avatar {
    &__img {
      border: 0;
    }
  }

}





.c-user-card--grid {

  .c-user-card__rule {
    width: 60%;

    @media #{$medium-only} {
      width: 50%;
    }

    @media #{$large-up} {
      width: 65%;
    }

  }

  .c-user-card__details__item {
    display: block;
    margin-right: 0;
  }
}





.c-user-card--compact {
  .c-user-card__details {
    padding-bottom: rem( 8px );
  }
}





.c-user-card--extended {
  .c-user-card__details {
    padding-bottom: rem( 16px );
  }
}
