// ==========================================================================
// Pedestal // Components // User Card // CONFIGURATION
// ==========================================================================


$c-user-card-settings: (
  pd: $base-spacing-unit,
  section-spacing: $half-spacing-unit,
  img-m-b: $base-spacing-unit,
  img-size: map-get-strict( sm-pedestal-img-sizes-get( thumbnail ), width ),
  name-m-t: ( $base-spacing-unit * 0.75 ),
  title-weight: 300
) !default;





//
// Functions
// ==========================================================================


@function c-user-card-property-get( $properties... ) {
  @return map-fetch( $c-user-card-settings, $properties... );
}
