// ==========================================================================
// Pedestal // Components // WIDGETS
// ==========================================================================


.success-message {
  display: none;
}

.widget {

  &.widget_pedestal_signup_newsletter {}

  &.widget_search {
    .screen-reader-text {
      display: none;
    }
  }

}

.widget_pedestal_explainer {
  color: $dimmed-text-color;
  font-style: italic;
}
