// ==========================================================================
// Pedestal // Components // WIDGETS
// ==========================================================================


// stylelint-disable selector-max-type


.widget {
  @include stdbd( bottom );

  list-style-type: none;
  margin-bottom: rem( 16px );
  padding: rem( 4px );
  padding-bottom: rem( 16px );

  &:last-child {
    border: 0;
  }

  &.widget_search {
    .screen-reader-text {
      display: none;
    }
  }

  li {
    list-style: initial;
    margin-bottom: rem( 12px );

    // stylelint-disable selector-max-compound-selectors
    &.active {
      &,
      a {
        color: $black;
      }
    }
    // stylelint-enable selector-max-compound-selectors
  }
}

.widget_pedestal_explainer {
  color: $dimmed-text-color;
  font-style: italic;
}

.widget_pedestal_whosnext_archive {
  ul {
    list-style-type: none;
  }
}

.widget.signup-newsletter {
  @media #{$small-only} {
    .signup-newsletter__details {
      @include invisible;
    }
  }


  @media #{$small-only} {
    .signup-newsletter__latest--standalone {
      display: block;
    }
  }


  @media #{$medium-only} {
    @include _signup-newsletter-header-inline;
  }


  @media #{$large-up} {
    .signup-newsletter__email-input,
    .signup-newsletter__btn {
      max-width: 100%;
    }
  }
}
