<div class="{{ macros.get_stream_item_classes( 'ladder' ) }} {% if loop.first %} first {% endif %} {{ item.css_classes }}">
    <div class="c-stream__item__inner  c-overview">

        {% if is_email and 'breaking-news' == template_name and item.has_featured_image %}
        {% include 'partials/stream/item-img.twig' with {'gaCategory': 'Stream'} %}
        {% endif %}

        <div class="c-stream__item__body">
            {% include 'partials/item-title.twig' with {'gaCategory': 'Stream'} %}

            {% if is_email and 'breaking-news' == template_name and item.get_excerpt %}
            <div class="c-overview__description  c-stream__item__description">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}

            {% include 'partials/meta-info/meta-info.twig' %}

        </div>

        <div class="u-clear-both"></div>

    </div>
</div>
