<div class="{{ macros.get_stream_item_classes( 'ladder' ) }} {% if loop.first %} first {% endif %} {{ item.css_classes }}">
    <div class="c-event  c-overview  c-stream__item__inner">
        <div class="c-stream__item__body">
            <div class="c-event__title">
                {% include 'partials/item-title.twig' %}
            </div>
            {% include 'partials/events/details.twig' %}
            {% include 'partials/events/export.twig' %}
        </div>
    </div>
</div>
