{% extends 'layouts/layout--content.twig' %}

{% block content %}
<div id="subscribe-to-newsletter-page" class="subscription-confirmation-page">
    <form>
        <fieldset class="form-group">
            <legend class="form-group__legend">Thanks for signing up!</legend>
            <p>Please check your email to confirm your subscription.</p>
        </fieldset>
    </form>
</div>
{% endblock %}
