{% set sidebar = false %}
{% set hide_social_header_icons = true %}
{% extends "base.twig" %}

{% block content %}
<main role="main" class="{{ main_classes }}">
    <div id="subscribe-to-newsletter-page" class="subscription-confirmation-page">

        <h3>Yippy skippy! Your email address is confirmed.</h3>
        <p>Make room in your inbox. We'll see you soon.</p>

    </div>
</main>
{% endblock %}
