{% extends 'layouts/layout--content.twig' %}

{% block content %}
<div id="subscribe-to-newsletter-page" class="subscription-confirmation-page">
    <form>
        {% include 'partials/email-forms/form-daily-subscribed.twig' %}
    </form>
</div>
{% endblock %}
