{% extends 'layouts/layout--content.twig' %}

{% block content %}
<div class="signup-email--daily signup-email">
    <div id="subscribe-to-newsletter-page" class="subscription-confirmation-page">
        {% include 'partials/signup-daily.twig' with {
            gaLocation: 'Page',
            explore: true
        } %}
    </div>
</div>
{% endblock %}
