<h4>
<div class="icon-example">
    {{ icon }}
</div>
&emsp; {{ label }} &mdash; <code>{{ icon_name }}</code>
</h4>

{% if usage %}

<ul>
{% for example in usage %}
    <li>{{ example }}</li>
{% endfor %}
</ul>

{% else %}
🚫 **This icon isn't used in production!**
{% endif %}
