 <a href="https://billypenn.com/about/russell-heimlich/" data-ga-category="Author" data-ga-label="Name|Author One">Author One</a>,
 <a href="https://billypenn.com/about/mark-dent/" data-ga-category="Author" data-ga-label="Name|Author Two">Author Two</a>,
 and
 <a href="https://billypenn.com/about/anna-orso/" data-ga-category="Author" data-ga-label="Name|Author Three">Author Three</a>
