<a href="/about/mark-dent/" data-ga-category="Author" data-ga-label="Name|Author One">Author One</a>
and
<a href="/about/anna-orso/" data-ga-category="Author" data-ga-label="Name|Author Two">Author Two</a>
