$brand-2-color:   #92c4c5;
$accent-2-color:  #d74447;
$color-dark:      $dark-gray-color;
$color-gray:      $gray-color;

$h3-font-size: rem( 27px );
$h4-font-size: rem( 22px );
$h5-font-size: rem( 18px );

$site-header-box-shadow:       0 rem( 2px ) rem( 8px ) 0 rgba( $black, 0.5 );
$site-header-border-top-color: $brand-2-color;
$site-header-logo-link-align:  left;

$site-nav-primary-background-color--bp-up: $dark-gray-color;

$content-h1-font-size: rem( 27px );
$content-h2-font-size: rem( 22px );
$content-h3-font-size: rem( 18px );

$message-spot-override-title-color: $blackish-color;
