<div class="dfp-stream-16-wrapper c-stream__item  js-stream-item">
    {{ macros.dfp_unit( 'BP__300x250_2', '300x250' ) }}
    {{ macros.dfp_unit( 'BP_640x150_2', '640x150' ) }}

    {% if adverts.test_all or adverts.test_premium %}
        {{ macros.dfp_unit( 'BP_650x400_2', '650x400' ) }}
    {% endif %}
</div>
