<div class="dfp-stream-08-wrapper c-stream__item  js-stream-item">
    {{ macros.dfp_unit( 'BP_300x250_S8_M', '300x250' ) }}
    {{ macros.dfp_unit( 'BP_640x150', '640x150' ) }}
    {{ macros.dfp_unit( 'BP_S_300x450_M_Test', '300x450' ) }}

    {% if adverts.test_all or adverts.test_premium %}
        {{ macros.dfp_unit( 'BP_S_650x400', '650x400' ) }}
    {% endif %}
</div>
