<div class="pagination">
    <a
        href="{{ url|esc_url }}"
        class="btn--bg-light btn--bordered btn--oval"
        data-ga-category="Pagination"
        data-ga-label="{{ text|esc_attr }}"
    >
        {{ text }}
    </a>
</div>
