<div class="pagination">
    <a
        href="{{ url|esc_url }}"
        class="pagination__load-more btn--secondary"
        data-ga-category="Pagination"
        data-ga-label="{{ text|esc_attr }}"
    >
        {{ text }}
    </a>
</div>
