{% extends 'forms/signup-cluster.twig' %}


{% block title %}
{{ signup_form_cta_text }}
{% endblock title %}


{% block email_input %}
<div class="signup-email__input-group input-group">
    <label for="{{ id_email_input|esc_attr }}" class="invisible">
        Email Address
    </label>
    {{ ped_icon( 'envelope-o', 'signup-email__input-icon input-group__addon' ) }}
    {{ email_input }}
</div>
{% endblock email_input %}


{% block submit_button %}
<button class="signup-email__btn btn--oval btn--bg-light js-form-submit" type="submit">
    {% include 'partials/email-forms/form-submit-signup-inner.twig' %}
</button>
{% endblock submit_button %}
