{% extends 'forms/signup-daily.twig' %}

{% set latest_newsletter = false %}


{% block icon %}
{{ ped_icon( 'coffee' ) }}
{% endblock icon %}


{% block title 'Denverite goes great with mornings' %}


{% block details %}
<p id="{{ id_description|esc_attr }}" class="signup-email__details">
    If you’re here, you care about Denver. Our quick, newsy (and
    sometimes a little funny) morning newsletter is for people like
    you, by people like you.
</p>
{% endblock details %}


{% block submit_button %}
<button class="signup-email__btn btn--oval js-form-submit" type="submit">
    {% include 'partials/email-forms/form-submit-signup-inner.twig' %}
</button>
{% endblock submit_button %}
