<li>
    <a
        href="{{ link|esc_url }}"
        data-ga-category="Footer Links"
        data-ga-label="{{ title|esc_attr }}"
        data-modal-target="#site-header-search-modal"
        class="js-modal-trigger"
    >
        {{ title }}
    </a>
</li>
