// ==========================================================================
// Pedestal // Base // Email // MIXINS
// ==========================================================================


/* stylelint-disable property-no-unknown, selector-max-type,
  declaration-no-important */


@mixin email-body-type {
  font-family: $font-family-sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $body-font-color;

  @media screen and ( max-width: 480px ) {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}

@mixin email-heading-type( $color: $body-font-color ) {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  line-height: 1.2;
  font-size: $email-heading-size;

  &,
  a {
    color: $color;
  }

  a {
    text-decoration: none;
  }
}

@mixin email-img-base {
  @include email-body-type;

  width: 100%;
  height: auto;
}

@mixin email-grid-column {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 -2px; // ¯\_(ツ)_/¯
}
