// ==========================================================================
// Pedestal // Objects // BLOX
// ==========================================================================


.o-blox {
  line-height: 0;


  // scss-lint:disable SelectorFormat
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 0;
    font-weight: map-get-strict( $o-blox-settings, 'title-font-weight' );
  }
  // scss-lint:enable SelectorFormat


  &,
  &__text__link {
    @include text-color( map-get-strict( $o-blox-settings, 'bg' ) );
  }


  &__inner,
  &__item,
  &__text__item {
    line-height: map-get-strict( $o-blox-settings, 'line-height' );
  }


  &__inner {
    background-color: map-get-strict( $o-blox-settings, 'bg' );
    padding: map-get-strict( $o-blox-settings, 'pd-v' ) map-get-strict( $o-blox-settings, 'pd-h' );

    @media #{$medium-up} {
      display: inline-block;
    }
  }


  &__item {
    margin: 0;

    @if $email {
      display: inline-block;
      vertical-align: middle;
    }
  }


  &__text {
    @media #{$medium-up} {
      float: left;
    }

    &__item {
      font-size: o-blox-font-size-get();
    }

    &__title {
      font-weight: map-get-strict( $o-blox-settings, 'title-font-weight' );

      .o-blox--has-subtitle & {
        font-weight: map-get-strict( $o-blox-settings, 'title-font-weight-alt' );
      }
    }

    &__subtitle {}

  } // end __text


  &__prefix {
    margin-right: map-get-strict( $o-blox-settings, 'prefix-spacing' );
    width: o-blox-font-size-get();
    height: o-blox-font-size-get();

    @if not $email {
      float: left;
    }
  }


  &__suffix {
    float: right;
    padding-left: map-get-strict( $o-blox-settings, 'item-spacing' );
  }






  //
  // Blox: Offset
  // ==========================================================================


  &--offset {
    @include o-blox-offset;
  }





  //
  // Blox: Expanding
  // ==========================================================================
  // Blox that expand to the full width of their container.


  &--expand {
    margin-top: $border-offset;

    .o-blox {
      &__inner {
        display: block;
      }

      &__text {
        float: none;
      }
    }
  }





  //
  // Blox: Inliners
  // ==========================================================================
  // Label-like Blox that display inline.


  &--inline {
    margin: 0;
    display: inline-block;

    /*span*/.o-blox__text__title {
      font-weight: map-get-strict( $o-blox-settings, 'title-font-weight-alt' );
    }
  }





  //
  // Blox: Size Modifiers
  // ==========================================================================


  @each $size in $o-blox-sizes {
    $font-size: o-blox-font-size-get( $size );
    $pd-v: o-blox-pd-v-get( $size );
    $pd-h: o-blox-pd-h-get( $size );

    &--#{$size} {

      .o-blox {

        &__inner {
          padding: $pd-v $pd-h;
        }

        &__prefix {
          width: o-blox-font-size-get( $size );
          height: o-blox-font-size-get( $size );
        }

        &__text__item {
          font-size: $font-size;
        }

        // Provide a mobile-friendly small font size for these big guys
        @if 'lg' == $size or 'xlg' == $size {
          @media #{$small-only} {

            .o-blox__text__item {
              font-size: o-blox-font-size-get( 'md' );
            }

            .o-blox__prefix {
              width: o-blox-font-size-get( 'md' );
              height: o-blox-font-size-get( 'md' );
            }
          }
        }

        &.o-blox--offset {
          @include o-blox-offset( $size );
        }

      } // end -- $size .o-blox
    } // end -- $size
  } // end @each
} // end blox
