// ==========================================================================
// Pedestal // Objects // Blox // CONFIGURATION
// ==========================================================================


$o-blox-settings: (
  bg                    : $primary-color,
  text-color-light      : $white,
  text-color-dark       : $grey-darker,
  title-font-weight     : 300,
  title-font-weight-alt : 600,
  font-size             : $base-font-size,
  line-height           : 1,
  pd-v                  : $half-spacing-unit,
  pd-h                  : $base-spacing-unit,
  prefix-spacing        : quarter( $base-spacing-unit )
) !default;

$o-blox-sizes      : ( 'sm', 'md', 'lg', 'xlg' );
$o-blox-sizes-data : (
  sm: (
    font-size : $small-font-size,
    pd-v      : quarter( $base-spacing-unit ),
    pd-h      : $half-spacing-unit
  ),
  md: (
    font-size : $h4-font-size,
    pd-v      : $half-spacing-unit,
    pd-h      : $base-spacing-unit
  ),
  lg: (
    font-size : $h3-font-size,
    pd-v      : ( $base-spacing-unit / 1.5 ),
    pd-h      : $base-spacing-unit
  ),
  xlg: (
    font-size : $h2-font-size,
    pd-v      : $base-spacing-unit,
    pd-h      : $base-spacing-unit
  )
) !default;







//
// Functions
// ==========================================================================


@function o-blox-property-get( $property, $size: null ) {
  @if $size {
    @if sl-contain( $o-blox-sizes, $size ) {
      @if map-has-key( $o-blox-settings, $property ) {
        @return map-deep-get( $o-blox-sizes-data, $size, $property );
      } @else {
        @error "Property #{$property} not found in map `$o-blox-settings`.";
      }
    } @else {
      @error "#{$size} is not a valid blox size.";
    }
  } @else {
    @return map-get-strict( $o-blox-settings, $property );
  }
}

@function o-blox-pd-v-get( $size: null ) {
  @return o-blox-property-get( 'pd-v', $size );
}

@function o-blox-pd-h-get( $size: null ) {
  @return o-blox-property-get( 'pd-h', $size );
}

@function o-blox-font-size-get( $size: null ) {
  @return o-blox-property-get( 'font-size', $size );
}

@function o-blox-height-get( $size: null ) {
  @return ( o-blox-font-size-get( $size ) + o-blox-pd-v-get( $size ) * 2 );
}

@function o-blox-offset-get( $size: null ) {
  @if $size {
    @return -( halve( o-blox-height-get( $size ) ) );
  } @else {
    @return -( halve( o-blox-height-get() ) );
  }
}





//
// Mixins
// ==========================================================================


@mixin o-blox-offset( $size: null ) {
  @if $size {
    margin-top: o-blox-offset-get( $size );
  } @else {
    margin-top: o-blox-offset-get();
  }
}





//
// Calculated Settings
// ==========================================================================

$o-blox-settings: map-merge( $o-blox-settings, (
  item-spacing: o-blox-pd-h-get()
) );
