// ==========================================================================
// Pedestal // Objects // BLOX
// ==========================================================================


.o-blox {
  line-height: 0;

  // scss-lint:disable SelectorFormat
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 0;
    font-weight: map-get-strict( $o-blox-settings, 'title-font-weight' );
  }
}

  .o-blox,
  .o-blox__text__link {
    @include text-color( map-get-strict( $o-blox-settings, 'bg' ) );
  }


  .o-blox__inner {
    background-color: map-get-strict( $o-blox-settings, 'bg' );
    padding: map-get-strict( $o-blox-settings, 'pd-v' ) map-get-strict( $o-blox-settings, 'pd-h' );

    @media #{$medium-up} {
      display: inline-block;
    }
  }

  .o-blox__item,
  .o-blox__inner,
  .o-blox__text__item {
    line-height: map-get-strict( $o-blox-settings, 'line-height' );
  }


    .o-blox__item {
      margin: 0;

      @if $email {
        display: inline-block;
        vertical-align: middle;
      }
    }


    .o-blox__text {
      @media #{$medium-up} {
        float: left;
      }
    }

      .o-blox__text__item {
        font-size: o-blox-font-size-get();
      }

      .o-blox__text__title {
        font-weight: map-get-strict( $o-blox-settings, 'title-font-weight' );

        .o-blox--has-subtitle & {
          font-weight: map-get-strict( $o-blox-settings, 'title-font-weight-alt' );
        }
      }


    .o-blox__prefix {
      margin-right: map-get-strict( $o-blox-settings, 'prefix-spacing' );
      width: o-blox-font-size-get();
      height: o-blox-font-size-get();

      @if not $email {
        float: left;
      }
    }

    .o-blox__suffix {
      float: right;
      padding-left: map-get-strict( $o-blox-settings, 'item-spacing' );
    }





.o-blox--offset {
  @include o-blox-offset;
}





@each $size in $o-blox-sizes {
  $font-size: o-blox-font-size-get( $size );
  $pd-v: o-blox-pd-v-get( $size );
  $pd-h: o-blox-pd-h-get( $size );

  .o-blox--#{$size} {

    .o-blox__inner {
      padding: $pd-v $pd-h;
    }

    .o-blox__prefix {
      width: o-blox-font-size-get( $size );
      height: o-blox-font-size-get( $size );
    }

    .o-blox__text__item {
      font-size: $font-size;
    } // end .o-blox__text

    // Provide a mobile-friendly small font size for these big guys
    @if 'lg' == $size or 'xlg' == $size {
      @media #{$small-only} {

        .o-blox__text__item {
          font-size: o-blox-font-size-get( 'md' );
        }

        .o-blox__prefix {
          width: o-blox-font-size-get( 'md' );
          height: o-blox-font-size-get( 'md' );
        }
      }
    }

    &.o-blox--offset {
      @include o-blox-offset( $size );
    }

  }
}





.o-blox--expand {
  margin-top: $border-offset;

  .o-blox__inner {
    display: block;
  }

  .o-blox__text {
    float: none;
  }
}




.o-blox--inline {
  margin: 0;
  display: inline-block;

  /*span*/.o-blox__text__title {
    font-weight: map-get-strict( $o-blox-settings, 'title-font-weight-alt' );
  }
}
