// ==========================================================================
// Pedestal // Objects // Buttons // CONFIGURATION
// ==========================================================================


$button-disabled-opacity:   0.3 !default;

$button--rounded-color:         $primary-color !default;
$button--rounded-spacing-h:     $base-spacing-unit !default;

$button--dark-color:            $dark-prussian-blue !default;

$button-font-tny:               $base-font-size !default;
