// ==========================================================================
// Pedestal // Objects // BUTTONS
// ==========================================================================


// scss-lint:disable SelectorFormat


/**
 * Our trademark bordered buttons
 */

.button {
  @include button-size( 0.15rem, false );
  @include button-style(
    $bg: $white,
    $disabled: false,
    $bg-hover: $button--rounded-color,
    $border-color: $button--rounded-color
  );

  @include single-transition( background-color );

  padding-left: $button--rounded-spacing-h;
  padding-right: $button--rounded-spacing-h;
  border-width: 1px;
  color: $button--rounded-color;

  &.button--dark {
    @include button-style(
      $bg: $button--dark-color,
      $disabled: false,
      $bg-hover: $white,
      $border-color: $white
    );
  }
}





/**
 * Rounded buttons
 *
 * Extends `.button`
 */

.button--rounded {
  border-radius: $global-rounded;
  text-transform: uppercase;
}





/**
 * Button with icon and text
 *
 * Extends `.button`
 */

.button--iconic {}

  .button--iconic__icon,
  .button--iconic__text {
    display: inline-block;
  }

  .button--iconic__icon {
    width: 20%;
    margin-right: -22%;
  }

  .button--iconic__text {
    width: 100%;
  }
