// ==========================================================================
// Pedestal // Objects // ICON TEXT
// ==========================================================================


.o-icon-text {

  > .o-icon-text__text,
  > .o-icon-text__icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  > .o-icon-text__icon {
    margin-right: $icon-spacing;
    margin-left: 0;

    @if $email {
      padding-bottom: $base-spacing-unit / 4;
    }

  }

  > .o-icon-text__text {}

}





/**
 * Reversed icon text
 *
 * Extends `.o-icon-text`
 */
.o-icon-text--rev {
  > .o-icon-text__icon {
    margin-left: $icon-spacing;
    margin-right: 0;
  }
}
