// ==========================================================================
// Pedestal // Objects // ICON TEXT
// ==========================================================================


@import 'icon-text.config';


.o-icon-text {

  > .o-icon-text__text,
  > .o-icon-text__icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  > .o-icon-text__icon {
    margin-right: $o-icon-text-spacing;
    margin-left: 0;

    @if $email {
      padding-bottom: $o-icon-text-offset;
    }

  }

  > .o-icon-text__text {}

}





/**
 * Reversed icon text
 *
 * Extends `.o-icon-text`
 */
.o-icon-text--rev {
  > .o-icon-text__icon {
    margin-left: $o-icon-text-spacing;
    margin-right: 0;
  }
}





/**
 * Collapsing mobile-friendly icon text
 *
 * Extends `.o-icon-text`
 */
.o-icon-text--responsive {

  > .o-icon-text__icon,
  > .o-icon-text__text {
    @if not $email {
      display: block;
    }

    @media #{$medium-up} {
      display: inline-block;
      vertical-align: middle;
    }
  }

  > .o-icon-text__icon {
    margin-top: $o-icon-text-spacing;
    margin-right: 0;

    @media #{$medium-up} {
      margin-top: 0;
      margin-right: $o-icon-text-spacing;
    }
  }

  &.o-icon-text--rev {
    > .o-icon-text__icon {
      margin-left: 0;

      @media #{$medium-up} {
        margin-left: $o-icon-text-spacing;
      }
    }
  }

}
