// ==========================================================================
// Pedestal // Objects // RULES
// ==========================================================================


$section-header-p-t       : double( $base-spacing-unit ) !default;

$o-rule-height              : quarter( $base-spacing-unit ) !default;
$rule-spacing-y             : quarter( $base-spacing-unit ) !default;
$o-rule-color               : $grey-95 !default;

$o-rule--closure-h          : halve( $o-rule-height );
$o-rule--closure-m-t        : ( $base-spacing-unit * 3 ) !default;
$o-rule--closure-icon-size  : $icon-diameter--med !default;
$o-rule--closure-sum-height : ( $o-rule--closure-h + $rule-spacing-y + $o-rule--closure-icon-size ) !default;


.section-header {
  position: relative;
  padding-top: $section-header-p-t;
}


/// A noticeably thick horizontal rule before an element
// stylelint-disable-next-line selector-max-type
hr,
.o-rule {
  border: 0;
  border-top: $o-rule-height solid $o-rule-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} // rule


/// A slightly less obtrusive rule
.o-rule--slim {
  @include stdbd( top );

  margin: 0 auto;
  margin-top: $half-spacing-unit;
  margin-bottom: $half-spacing-unit;
}


/// A rule with a logo centered in the middle
.o-rule--closure {
  margin-top: $o-rule--closure-m-t;
  border-top-width: $o-rule--closure-h;

  &::before {
    @if global-variable-exists( site-theme-name ) {
      @include iconize(
        $path: $site-theme-logo-abspath + '/logo-icon',
        $path-only: true
      );
    }

    display: block;
    background-position: top center;
    background-size: $o-rule--closure-sum-height;
    background-repeat: no-repeat;
    width: ( $o-rule--closure-sum-height + $rule-spacing-y * 2 );
    height: $o-rule--closure-sum-height;
    background-color: $white;
    margin: -( $o-rule--closure-sum-height / 2 ) auto $base-spacing-unit;
    content: '';
  }
} // &--closure


/// Underline an element with a rule-thickness primary color bar
.o-rule--underline {
  display: inline-block;
  padding-bottom: 0.2em;
  border-bottom: $o-rule-height solid $primary-color;
} // &--underline


/// A small rule for accents
.o-rule--accent {
  &::before {
    background-color: $primary-color;
    content: '';
    display: block;
    width: rem-calc( 40px );
    height: rem-calc( 4px );
    margin-bottom: 0.5rem;
  }
}


/// A rule in the alert color
.o-rule--alert {
  &::before {
    background-color: $alert-color;
  }
}
