// ==========================================================================
// Pedestal // Objects // RULES
// ==========================================================================


$hr-height              : rem( 4px );
$hr-spacing-y             : rem( 4px );
$hr-color               : $grey-95;

$hr--closure-h          : $hr-height / 2;
$hr--closure-m-t        : rem( 48px );
$hr--closure-icon-size  : $icon-diameter--med;
$hr--closure-sum-height : $hr--closure-h + $hr-spacing-y + $hr--closure-icon-size;


/// A noticeably thick horizontal rule before an element
// stylelint-disable-next-line selector-max-type
hr,
.hr {
  border: 0;
  border-top: $hr-height solid $hr-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} // rule


/// A slightly less obtrusive rule
.hr--slim {
  @include stdbd( top );

  margin: 0 auto;
  margin-top: rem( 8px );
  margin-bottom: rem( 8px );
}


/// A rule with a logo centered in the middle
.hr--closure {
  margin-top: $hr--closure-m-t;
  border-top-width: $hr--closure-h;

  &::before {
    @if global-variable-exists( site-theme-name ) {
      @include iconize(
        $path: $site-theme-logo-abspath + '/logo-icon',
        $path-only: true
      );
    }

    display: block;
    background-position: top center;
    background-size: $hr--closure-sum-height;
    background-repeat: no-repeat;
    width: ( $hr--closure-sum-height + $hr-spacing-y * 2 );
    height: $hr--closure-sum-height;
    background-color: $white;
    margin: -( $hr--closure-sum-height / 2 ) auto rem( 16px );
    content: '';
  }
} // &--closure
