// ==========================================================================
// Pedestal // Layouts // FLAT
// ==========================================================================


/*body*/.l-flat {
  background-color: $white;

  // stylelint-disable-next-line selector-no-id
  #promoted-story {
    @include stdbd( bottom );
  }
}


.l-flat__logo {}

.l-flat__logo__img {
  display: block;
  background: no-repeat top left;
  background-size: contain;
  height: $base-spacing-unit * 3;
}


.l-flat__explainer {
  color: $dimmed-text-color;
  font-style: italic;
}
