// ==========================================================================
// Pedestal // Layouts // FLAT
// ==========================================================================


/*body*/.l-flat {
  background-color: $white;

  // stylelint-disable-next-line selector-no-id
  #promoted-story {
    @include stdbd( bottom );
  }
}


.l-flat__logo {}

.l-flat__logo__img {
  display: block;
  background: no-repeat top left;
  background-size: contain;
  height: l-flat-property-get( logo-height );
}


.l-flat__explainer {
  color: l-flat-property-get( explainer-text-color );
  font-style: italic;
}
