<a href="{{ item.get_the_permalink }}"
    data-ga-category="Source|Link"
    data-ga-label="Icon|external-link|{{ item.get_source.get_name }}">

    {{ ped_icon( item.get_source_icon_name, 'c-meta-info__img__icon', icon_color ) }}

</a>
