<a href="{{ item.get_permalink }}"
    data-ga-category="Source|Event"
    data-ga-label="Icon|{{ item.get_source_icon_name }}">

    {{ ped_icon( item.get_source_icon_name, 'c-meta-info__img__icon', icon_color ) }}

</a>
