<a href="{{ item.get_embed_url }}"
    data-ga-category="Source|Embed"
    data-ga-label="Icon|{{ item.get_source_icon_name }}|{{ item.get_source }}">

    {{ ped_icon( item.get_source_icon_name, 'c-meta-info__img__icon', icon_color ) }}

</a>
