{% set meta_info_classes = meta_info_classes|default( 'c-overview__meta' ) %}

{% if item.get_authors_count >= 3 or narrow %}
    {% set meta_info_classes = meta_info_classes ~ '  c-meta-info--always-stacked' %}
{% endif %}

<div class="{{ meta_info_classes }}  c-meta-info--{{ item.get_type }}  c-meta-info--entity  c-meta-info">

    <div class="c-meta-info__img--standalone  c-meta-info__img  c-meta-info__item">
        {% include [
            'partials/meta-info/img-'  ~ item.get_type ~ '.twig',
            'partials/meta-info/img.twig'
        ] %}
    </div>

    <div class="c-meta-info__stack  c-meta-info__item">
        {% include 'partials/meta-info/stack.twig' with { mover: 'timestamp' } %}
    </div>

    <div class="c-meta-info__timestamp  c-meta-info__item  c-meta-info__mover">
        {% include [
            'partials/meta-info/timestamp-' ~ item.get_type ~ '.twig',
            'partials/meta-info/timestamp.twig'
        ] %}
    </div>

</div>
