{% set meta_info_classes = meta_info_classes|default( 'c-overview__meta' ) %}

<div class="{{ meta_info_classes }}  c-meta-info--{{ item.get_type }}  c-meta-info--always-stacked  c-meta-info--email  c-meta-info">

    <div class="c-meta-info__img--standalone  c-meta-info__img  c-meta-info__item">
        {% include [
            'partials/meta-info/img-'  ~ item.get_type ~ '.twig',
            'partials/meta-info/img.twig'
        ] with { icon_color: '#9f9f9f' } %}
    </div>

    <div class="c-meta-info__stack  c-meta-info__item">
        {% include 'partials/meta-info/stack.twig' %}
    </div>

</div>
