<div class="[ c-meta-info--story  c-meta-info--cluster  c-meta-info ]  js-meta-info">
    <ul class="c-meta-info__modified  c-meta-info__item--stacked">
        <li class="c-meta-info__label  c-meta-info__item">
            {{ __( 'Last Updated', 'pedestal' ) }}
        </li>
        <li class="c-meta-info__item">
            {% include 'partials/meta-info/timestamp-story-modified.twig' %}
        </li>
    </ul>
    <ul class="c-meta-info__published  c-meta-info__item--stacked">
        <li class="c-meta-info__label  c-meta-info__item">
            {{ __( 'Created', 'pedestal' ) }}
        </li>
        <li class="c-meta-info__item">
            {% include 'partials/meta-info/timestamp-story-published.twig' %}
        </li>
    </ul>
</div>
