<ul class="c-meta-info--hood  c-meta-info--cluster  c-meta-info  js-meta-info">
    <li class="c-meta-info__label  c-meta-info__item">{{ __( 'Updated', 'pedestal' ) }}</li>
    <li class="c-meta-info__item">
        {% include [
            'partials/meta-info/timestamp-hood.twig',
            'partials/meta-info/timestamp.twig'
        ] %}
    </li>
</ul>
