<ul class="c-meta-info--link  c-meta-info--entity  c-meta-info  js-meta-info">
    <li class="c-meta-info__item">
        {% include 'partials/meta-info/source.twig' %}
    </li>
    <li class="c-meta-info__item  c-meta-info__item--stacked">
        {% include 'partials/meta-info/source.twig' %}
        {% include [
            'partials/meta-info/timestamp-' ~ item.get_type ~ '.twig',
            'partials/meta-info/timestamp.twig'
        ] %}
    </li>
</ul>
