<a class="js-entity-permalink" href="{{ item.get_embed_url }}" data-ga-category="Source|Embed" data-ga-label="Icon|{{ item.get_source_icon_name }}|{{ item.get_source() }}">
<i class="icon fa fa-{{ item.get_source_icon_name }}"></i>
</a>
