<a class="js-entity-permalink" href="{{ item.get_permalink }}" data-ga-category="Source|Event" data-ga-label="Name|event">
    <span class="js-entity-source">{{ __( 'Event', 'pedestal' ) }}</span>
</a>
