<a class="js-entity-permalink" href="{{ item.get_the_permalink }}" data-ga-category="Source|Link" data-ga-label="Name|{{ item.get_source.get_name }}">
    <span class="js-entity-source">{{ item.get_source.get_name }}</span>
</a>
