{% if 'name' == mover %}
    {% set stack_name_classes = 'c-meta-info__stack__mover' %}
{% elseif 'timestamp' == mover %}
    {% set stack_timestamp_classes = 'c-meta-info__stack__mover' %}
{% endif %}

<div class="c-meta-info__name  c-meta-info__stack__item {{ stack_name_classes }}">
{% include [
    'partials/meta-info/source-name-'  ~ item.get_type ~ '.twig',
    'partials/meta-info/source-name.twig'
] %}
</div>

<div class="c-meta-info__timestamp  c-meta-info__stack__item  {{ stack_timestamp_classes }}">
    {% include [
        'partials/meta-info/timestamp-' ~ item.get_type ~ '.twig',
        'partials/meta-info/timestamp.twig'
    ] %}
</div>
