<ul class="c-meta-info__timestamp" data-meta-info-published="{{ item.get_post_date( 'c' ) }}">
    <li class="c-meta-info__date  c-meta-info__timestamp__item">{{ hood.get_everyblock_updated }}</li>
</li>
