<ul class="c-meta-info__timestamp--modified   c-meta-info__timestamp" data-meta-info-modified="{{ item.get_modified_date( 'c' ) }}">
    <li class="c-meta-info__date  c-meta-info__timestamp__item">{{ item.get_modified_date( site.date_format ) }}</li>
    <li class="c-meta-info__time  c-meta-info__timestamp__item">&nbsp;at {{ item.get_modified_date( site.time_format ) }}</li>
</ul>
