// ==========================================================================
// PEDESTAL: EDITOR STYLE
//
// This is the master Pedestal editor style stylesheet, to be imported by child
// themes only.
// ==========================================================================


// stylelint-disable


// ==========================================================================
// Pedestal // * Editor Style * // SETUP
// ==========================================================================


@import 'setup-core';


//
// Configuration
// ==========================================================================


@import 'sassy-lists/dist/SassyLists';
@import 'susy/sass/susy';

@import '../base/theme/settings';





//
// Vendor
// ==========================================================================


@import '../base/theme/foundation';





//
// High-Level
// ==========================================================================


@import '../base/global/mixins';

@import '../base/theme/mixins';
@import '../base/theme/type';
@import '../base/theme/general';
@import '../base/theme/tables';
@import '../base/theme/buttons';






// ==========================================================================
// Pedestal // * Editor Style * // OBJECTS
// ==========================================================================


@import '../objects/icons';
@import '../objects/icon-text';
@import '../objects/media';
@import '../objects/rules';





// ==========================================================================
// Pedestal // * Editor Style * // SCOPES
// ==========================================================================


@import '../scopes/content';





// ==========================================================================
// Pedestal // * Editor Style * // COMPONENTS
// ==========================================================================


@import '../components/main';
@import '../components/type';
@import '../components/figure';
@import '../components/embed';
@import '../components/event';
@import '../components/single-entity-meta';
@import '../components/avatar';
@import '../components/slots';
@import '../components/yt-placeholder';
@import '../components/pullquotes';

// Membership
@import '../components/donate-form';





// ==========================================================================
// Pedestal // * Editor Style * // UTILITIES
// ==========================================================================


@import '../utilities/utilities';


body#tinymce {
  // `html`/`body` height makes editor go insane
  height: auto;
  padding: rem( 16px ) !important;
  background-color: $white;

  .c-figure {
    max-width: 50%;
  }

  .c-figure__content {
    img { max-width: 100%; }
  }
}
