@charset 'UTF-8';
/*!*
 * Pedestal // Editor Style
 *
 * Version: 4.0.5
 *
 * Copyright ( c ) 2016 Spirited Media
 */


// stylelint-disable


// ==========================================================================
// Pedestal // * Editor Style * // SETUP
// ==========================================================================


@import 'setup-core';


//
// Configuration
// ==========================================================================


@import 'sassy-lists/dist/SassyLists';
@import 'susy/sass/susy';

@import '../base/theme/settings';





//
// Vendor
// ==========================================================================


@import '../base/theme/foundation';





//
// High-Level
// ==========================================================================


@import '../base/global/mixins';
@import '../base/global/general';
@import '../base/global/main';





// ==========================================================================
// Pedestal // * Editor Style * // OBJECTS
// ==========================================================================


@import '../components/buttons';
@import '../objects/icon-text';
@import '../objects/media';
@import '../objects/rules';





// ==========================================================================
// Pedestal // * Editor Style * // SCOPES
// ==========================================================================


@import '../scopes/post-content';





// ==========================================================================
// Pedestal // * Editor Style * // COMPONENTS
// ==========================================================================


@import '../components/type-headings';
@import '../components/overview';
@import '../components/figure';
@import '../components/event';
@import '../components/tables';
@import '../components/icons';
@import '../components/stream';
@import '../components/meta-info';
@import '../components/avatar';
@import '../components/slots';
@import '../components/yt-placeholder';





// ==========================================================================
// Pedestal // * Editor Style * // UTILITIES
// ==========================================================================


@import '../utilities/utilities';


body#tinymce {
  // `html`/`body` height makes editor go insane
  height: auto;
  padding: 15px !important;
  background-color: $white;

  .entity {
    border: 0;
  }

  .c-figure {
    max-width: 50%;
  }

  .c-figure__content {
    img { max-width: 100%; }
  }

  // @TODO
  // Why qualified selector?
  .o-rule.o-rule--pedal {

    &:first-of-type {
      border-top: 4px solid $o-rule-color;
      margin-top: 1.2rem;

      &::before {
        height: 4px;
      }
    }
  }
}
