$site-theme-name: 'pedestal' !default;


@import 'setup-core';


// ==========================================================================
// Functions
// ==========================================================================

@function sm-theme-setting-get( $setting ) {
  @if global-variable-exists( site-theme-name ) {
    @return map-fetch( $spiritedmedia-pedestal, children, $site-theme-name, $setting );
  } @else {
    @error 'The theme name is not defined!';
  }
}

/// Check if a theme supports a feature toggled by a theme constant
///
/// @param {string} $feature Feature name as it would appear in a config file
/// @return {bool}
@function sm-theme-supports( $feature ) {
  $supports: sm-theme-setting-get( supports );
  @return map-fetch( $supports, $feature );
}


// ==========================================================================
// Variables
// ==========================================================================

// URLs and paths
$site-live-url            : 'https://' + sm-theme-setting-get( baseDomain ) + '.com/';
$site-theme-abspath       : '/' + sm-theme-setting-get( themePath );
$site-theme-logo-abspath  : $site-theme-abspath + '/assets/images/logos';

// Colors
$primary-color: sm-theme-setting-get( brandColor );
