// ==========================================================================
// Pedestal // Base // SETUP: CHILD THEME
//
// Set up the basic variables and functions required for child themes.
// ==========================================================================


$site-theme-name: 'pedestal' !default;


@import 'setup-core';


//
// Functions
// ==========================================================================


@function sm-theme-setting-get( $setting ) {
  @if global-variable-exists( site-theme-name ) {
    @return map-deep-get( $spiritedmedia-pedestal, children, $site-theme-name, $setting );
  } @else {
    @error 'The theme name is not defined!';
  }
}





//
// Variables
// ==========================================================================


// URLs and paths
$site-live-url            : sm-theme-setting-get( siteLiveURL );
$site-theme-abspath       : '/' + sm-theme-setting-get( themePath );
$site-theme-logo-abspath  : $site-theme-abspath + '/assets/images/logos/';

// Colors
$site-theme-brand-color   : to-color( sm-theme-setting-get( brandColor ) );
