// ==========================================================================
// Pedestal // Base // SETUP: CHILD THEME
//
// Set up the basic variables and functions required for child themes.
// ==========================================================================


//
// Configuration
// ==========================================================================
// Set theme defaults here -- these can be overridden in the individual theme
// stylesheets before importing this file. Note that the `!default` flags are
// required here.


$site-theme-name: 'pedestal' !default;
$theme-logo-tagline: true !default;


@import 'setup-core';


//
// Functions
// ==========================================================================


@function sm-theme-setting-get( $setting ) {
  @if global-variable-exists( site-theme-name ) {
    @return map-fetch( $spiritedmedia-pedestal, children, $site-theme-name, $setting );
  } @else {
    @error 'The theme name is not defined!';
  }
}





//
// Variables
// ==========================================================================


//
// URLs and paths
//

$site-live-url               : sm-theme-setting-get( siteLiveURL );
$site-theme-abspath          : '/' + sm-theme-setting-get( themePath );
$site-logo-dir-abspath : $site-theme-abspath + '/assets/images/logos';

$theme-logo-img-abspath       : $site-logo-dir-abspath + '/logo.svg';
@if $theme-logo-tagline {
  $theme-logo-img-abspath     : $site-logo-dir-abspath + '/logo-tagline.svg';
}


// Colors
$site-brand-color   : sm-theme-setting-get( brandColor );
