// ==========================================================================
// Pedestal // Base // SETUP: CORE
//
// Set up the basic variables, functions, and libraries we'll need across the
// project. This gets loaded by both the theme and email stylesheets.
// ==========================================================================


// Load Spirited Media configuration from JSON
@import 'config-sassy.json';

$pedestal-abspath              : '/' + map-get-strict( $spiritedmedia-pedestal, path );
$pedestal-social-icons-abspath : $pedestal-abspath + '/assets/images/social';

// This allows us to test some assets live on the QA site
$qa-test                       : false !default;
$pedestal-live-uri             : map-get-strict( $spiritedmedia-pedestal, liveURI );
@if $qa-test {
  $pedestal-live-uri : map-get-strict( $spiritedmedia-pedestal, stagingURI );
}

// This is the default html and body font-size for the base rem value. We need
// to set it as its own variable to make `rem()` work.
$rem-base : 16px;

// Functions
@import 'foundation-sites/scss/foundation/functions';
@import '../base/global/functions';

// Vendor libraries
@import 'sassy-lists/dist/SassyLists';
