<li class="widget widget_pedestal_explainer">
	<p>{{ site.name }}’s “Who's Next” series highlights some of the
	most dynamic people under 40 shaping {{ site.city.name }} every day.
	Our goal is to identify and track the next generation of leaders and
	influencers.</p>
</li>
