<div class="c-super-quote  show-for-medium-up">
    <figure class="inner">
        <blockquote class="c-super-quote__body">
            {{ quote.body }}
        </blockquote>
        <figcaption class="c-super-quote__author">
            &mdash;{{ quote.author }}
        </figcaption>
    </figure>
</div>
