{% if item.is_statement_quote %}
<blockquote class="c-statement__content  c-statement__content--quote">
    <h2 class="c-statement__content__text">&ldquo;{{ item.get_statement_short }}&rdquo;</h2>
</blockquote>
{% else %}
<div class="c-statement__content">
    <h2 class="c-statement__content__text">{{ item.get_statement_short }}</h2>
</div>
{% endif %}
