{% if item.get_statement_img %}
{% set classes = 'has-image' %}
{% endif %}

<figure class="c-statement--factcheck  c-statement  o-media  o-media--responsive  {{ classes }}">

    {% if item.get_statement_img %}
    <div class="c-statement__img  o-media__img">
        {{ item.get_statement_img }}
    </div>
    {% endif %}

    <div class="c-statement__body  o-media__body">
        {% include 'partials/factchecks/statement-content.twig' %}
        <figcaption class="c-statement__speaker">
            {% include 'partials/factchecks/statement-speaker.twig' %}
        </figcaption>
    </div>

</figure>
