<div id="email-header" class="site-header">

    <div class="email-constrain row">

        <table>
        <tbody>
            <tr>
                <td id="email-header-logo">
                    <a href="{{ site.url }}" rel="home"><img alt="{{ site.name }}" src="{{ site.live_urls.theme_parent }}/assets/images/logos/logo.png" /></a>
                </td>
            </tr>
            <tr>
                <td id="email-header-social">
                    {% include 'partials/emails/social-icons.twig' %}
                </td>
            </tr>
        </tbody>
        </table>

    </div>

</div>
