@charset 'UTF-8';
/*!*
 * Pedestal // Admin
 *
 * Version: 5.11.7
 *
 * Copyright ( c ) 2016 Spirited Media
 */


/* stylelint-disable */


@import 'sassy-lists/dist/SassyLists';


.fm-headline-wrapper {
  input {
    padding: 3px 8px;
    width: 100%;
    font-size: 1.7em;
  }
}

.fm-enabled-wrapper .fm-option {
    display: inline-block;
    margin-right: 15px;
}

// Fix the weird intentional negative margins for tabbed groups
.fm-tabbed-vertical {
  margin: 0 !important;
}

.fm-page-form-wrapper {
  margin-top: 1rem;
}

// Improve distinction between repeating FM fields
.fm-slot_item_placement_rules {
   margin-bottom: 3em;
   padding-bottom: 3em;
   border-bottom: 0.1em solid #ccc;
}

// Resize Embed Caption text area field
#fm-embed_caption-0 {
  width: 100%;
  height: 4em;
}

.wp-list-table {
  th.column-pedestal_id,
  td.column-pedestal_id {
    width: 40px;
  }
}

body.taxonomy-pedestal_subscriptions.edit-tags-php #col-left,
body.taxonomy-pedestal_subscriptions.edit-tags-php .wrap .search-form,
body.taxonomy-pedestal_subscriptions.edit-tags-php #col-right .tablenav,
// Hide the user description field on profile page
.user-description-wrap,
// Hide Instagram of the Day metabox by default
#fm_meta_box_daily_insta_date {
    display: none;
}

body.taxonomy-pedestal_subscriptions.edit-tags-php #col-right {
    width: 100%;
}

body.tools_page_pedestal_cluster_tools {
  #wpbody-content > p {
    margin: 0;
  }

  // Prevent the footer from overlapping Cluster Tools log messages
  #wpfooter {
    position: static;
  }
}

// Slug field width in post editor
#slugdiv #post_name {
  width: 100%;
  font-size: 90%;
}





//
// Metaboxes
// ==========================================================================


/**
 * Posts to Posts
 */

.p2p-box {
  .p2p-tab-create-post,
  .p2p-tab-search {
    background-color: white;
  }
}


//
// Custom TinyMCE buttons
// ==========================================================================
i.mce-i-insert-post-element::before {
    font-family: 'dashicons';
    font-size: 120%;
    content: '\f176'; // Cloud dashicon https://developer.wordpress.org/resource/dashicons/#cloud
}


//
// Taxonomies
// ==========================================================================


$advanced-cluster-types: ( 'org', 'place', 'locality' );
$advanced-cluster-types-selectors: ();

@each $type in $advanced_cluster_types {
  $advanced-cluster-types-selectors: append( $advanced-cluster-types-selectors, '#pedestal_#{$type}_type-adder' );
}
$advanced-cluster-types-selectors: sl-to-string( $advanced-cluster-types-selectors, ', ' );

#{$advanced-cluster-types-selectors} {
  display: none;
}
