@charset 'UTF-8';
/*!*
 * Pedestal // Emails // Base
 *
 * Version: 6.13.4
 *
 * Copyright ( c ) 2017 Spirited Media
 */


/* stylelint-disable selector-max-type, declaration-no-important,
    property-no-vendor-prefix, property-no-unknown, length-zero-no-unit */


@import 'base/global/settings';
@import 'base/global/mixins';
@import 'base/email/settings';
@import 'base/email/mixins';


// ==========================================================================
// Reset
// ==========================================================================


// What it does: Remove spaces around the email design added by some email
// clients. Beware: It can remove the padding / margin and add a background
// color to the compose a reply window.

html,
body {
  margin: 0 auto !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

// What it does: Stops email clients resizing small text.
* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// What it does: Centers email on Android 4.4
div[style*="margin: 16px 0"] {
  margin: 0 !important;
}

// What it does: Stops Outlook from adding extra spacing to tables.
table,
td {
  mso-table-lspace: 0pt !important;
  mso-table-rspace: 0pt !important;
}

// What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment
// bug. Applies table-layout to the first 2 tables then removes for anything
// nested deeper.
table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  margin: 0 auto !important;

  table table {
    table-layout: auto;
  }
}

// What it does: Uses a better rendering method when resizing images in IE.
img {
  -ms-interpolation-mode: bicubic;
}

// What it does: A work-around for iOS meddling in triggered links.
*[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
}

// What it does: A work-around for Gmail meddling in triggered links.
.x-gmail-data-detectors,
.x-gmail-data-detectors *,
.aBn {
  border-bottom: 0 !important;
  cursor: default !important;
}

// What it does: Prevents Gmail from displaying an download button on large, non-linked images.
.a6S {
  display: none !important;
  opacity: 0.01 !important;
}

// If the above doesn't work, add a .g-img class to any image in question.
img.g-img + div {
  display: none !important;
}

// What it does: Prevents underlining the button text in Windows 10
.button-link {
  text-decoration: none !important;
}

// What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89
// Create one of these media queries for each additional viewport size you'd like to fix
// Thanks to Eric Lepetit @ericlepetitsf) for help troubleshooting
@media only screen and ( min-device-width: 375px ) and ( max-device-width: 413px ) { // iPhone 6 and 6+
  .email-container {
    min-width: 375px !important;
  }
}





// ==========================================================================
// Progressive Enchantments
// ==========================================================================


//
// Buttons
// ==========================================================================

.email-btn {
  margin: auto;
}

.email-btn__inner,
.email-btn__link {
  transition: all 100ms ease-in;

  &:hover {
    background: $body-font-color !important;
    border-color: $body-font-color !important;
  }
}

.email-btn__inner {
  border-radius: 3px;
  background: $email-btn-background-color;
  text-align: center;
}

.email-btn__link {
  background: $email-btn-background-color;
  border: 15px solid $email-btn-background-color;
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: $email-heading-size;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 3px;
}





// Media Queries
@media screen and ( max-width: 480px ) {

  // What it does: Forces elements to resize to the full width of their
  // container. Useful for resizing images beyond their max-width.
  .fluid {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  // What it does: Forces table cells into full-width rows...
  .stack-column,
  .stack-column-center {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    direction: ltr !important;
  }
  // ...And center justify these ones.
  .stack-column-center {
    text-align: center !important;
  }

  // What it does: Generic utility class for centering. Useful for images,
  // buttons, and nested tables.
  .center-on-narrow {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;

    &table {
      display: inline-block !important;
    }
  }
}
