@charset 'UTF-8';
/*!*
 * Version: 7.7.0
 *
 * Copyright ( c ) 2018 Spirited Media
 */

.o-icon {
  // stylelint-disable unit-blacklist
  width: 1em;
  height: 1em;
  // stylelint-enable unit-blacklist
  stroke: currentColor;
}

.pedestal-menu-icon-item {

  .o-icon {
    font-size: 16px;
  }

  // stylelint-disable-next-line selector-max-type
  span {
    display: inline-block;
    margin-left: 8px;
  }
}

.pedestal-menu-icon-preview {
  font-size: 18px;
  position: relative;
  top: 4px;
}
