{% if items %}

<table style="width: 100%;">
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Subscribers</strong></td>
            <td><strong>Last Updated</strong></td>
        </tr>
    </thead>
    {% for item in items %}
        <tr>
            <td>{{ item.label }}</td>
            <td>{{ item.count }}</td>
            <td><abbr title="{{ item.time_absolute|esc_attr }}">{{ item.time_relative }}</abbr></td>
        </tr>
    {% endfor %}
</table>

{% endif %}
