<input type="text" name="test-email-addresses" placeholder="Separate addresses by commas" style="width:100%" />
<p>{{ btn_send_test }}</p>

{% if message %}
    <hr />
    <p>{{ message }}</p>
{% endif %}
