{% include 'partials/admin/test-email-input.twig' %}

{% if message %}
    <hr />
    {{ message }}
{% endif %}

{% if btn_send %}
    <hr />

    <p>Type <code>SEND BREAKING NEWS</code> below to send a Breaking News email blast!</p>
    <input type="text" name="confirm-send-email" style="width:100%" />

    {{ btn_send }}
{% endif %}
