<h2>{{ page_title }}</h2>

{{ messages }}

<form method="post" id="pedestal_users_bulk_subscribe">
    {{ form_nonce }}
    <fieldset class="options">
        <table class="form-table" cellpadding="3" cellspacing="3">
            <tr valign="top">
                <th scope="row">
                    <label for="pedestal_users_bulk_subscribe_addresses">Email Addresses</label>
                    <p>One email address per line</p>
                </th>
                <td><textarea name="email[bulk_emails]" id="pedestal_users_bulk_subscribe_addresses" rows="15" cols="40"></textarea></td>
            </tr>
        </table>
        <p class="submit">
            <input class="button button-primary" type="submit" name="bulk_subscribe_submit" value="{{ submit_button_text }}" />
        </p>
    </fieldset>
</form>
