{% spaceless %}
{% set title = title|default( item.get_the_title ) %}

{% if item.get_type == 'link' %}
{% set link_atts = 'target="_blank"' %}
{% endif %}

<h3 class="c-stream__item__title">
    <a href="{{ item.get_permalink }}" class="c-stream__item__link  js-entity-permalink" {{ link_atts }}>
        {{ title }}
    </a>
</h3>

{% endspaceless %}
