<div class="c-panel__pin  [ o-icon-text  o-icon-text--rev ]" {{ macros.get_pinned_styles( _context, 'pin' ) }}>
    <div class="c-panel__pin__inner">
        <span class="o-icon-text__text  c-panel__pin__text">{{ __( 'Pinned', 'pedestal' ) }}</span>
        <i class="c-panel__pin__icon  o-icon-text__icon  [ fa  fa-thumb-tack ]"></i>
    </div>
</div>
