<div class="c-stream__item__pin  c-pin-mark  o-icon-text  o-icon-text--rev">
    <div class="c-pin-mark__inner">
        <span class="c-pin-mark__text  o-icon-text__text">{{ __( 'Pinned', 'pedestal' ) }}</span>
        <i class="c-pin-mark__icon  o-icon-text__icon  fa  fa-thumb-tack"></i>
    </div>
</div>
