{% import "macros/macros.twig" as macros %}

<article class="{{ macros.get_stream_item_classes( 'imglist' ) }}">
    <a id="{{ item.get_name }}"></a>
    <div class="c-stream__item__inner  o-media">

        <div class="c-stream__item__img  o-media__img">
            <a href="{{ item.get_the_permalink }}">
                {% if item.has_featured_image %}
                {{ item.get_featured_image_html( 'thumbnail' ) }}
                {% else %}
                <i class="c-stream__item__img--placeholder"></i>
                {% endif %}
            </a>
        </div>

        <div class="c-stream__item__body  o-media__body">
            {% include 'partials/stream/item-title.twig' %}
        </div>

    </div>

</article>
