{% extends 'layouts/layout--content.twig' %}

{% block content %}
    {% if item %}

    <article id="page-404"
        class="c-main__body">

        <header class="c-main__header">
            <h1 class="c-main__title">{{ item.get_the_title }}</h1>
        </header>

        <section class="s-content">
            {{ item.get_the_content }}
        </section>

    </article>

    {% endif %}
{% endblock %}
