// ==========================================================================
// Pedestal // Scopes // CONTENT
// ==========================================================================


// stylelint-disable selector-max-type


.s-content {

  @if $enable-emboldened-link-underlines {
    // Try to prevent link underline styles from being added to shortcodes and
    // block level anchor links
    > p a {
      @extend %link-underline;
    }
  }

  h1 {
    font-family: $content-h1-font-family;
    font-size: $content-h1-font-size;
    color: $content-h1-color;
    letter-spacing: $content-h1-letter-spacing;
  }

  h2 {
    font-family: $content-h2-font-family;
    font-size: $content-h2-font-size;
    color: $content-h2-color;
    letter-spacing: $content-h2-letter-spacing;
  }

  h3 {
    font-family: $content-h3-font-family;
    font-size: $content-h3-font-size;
    color: $content-h3-color;
    letter-spacing: $content-h3-letter-spacing;
  }


  //
  // Images + Captions
  // ==========================================================================

  img {
    max-width: 100%;
    height: auto;
  }

  .aligncenter {
    width: 100%;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$medium-up} {
    .alignleft,
    .alignright {
      max-width: 50%;
    }

    .alignleft {
      float: left;
      margin-right: rem( 16px );
    }

    .alignright {
      float: right;
      margin-left: rem( 16px );
    }

    .aligncenter {
      width: auto;
    }
  }


  //
  // Blockquotes
  // ==========================================================================

  blockquote {
    border-left: rem( 4px ) solid rgba( $primary-color, 0.7 );
    padding:
      $blockquote-padding-y
      $blockquote-padding-right
      $blockquote-padding-y
      $blockquote-padding-left;
    background-color: $blockquote-background-color;
    font-style: italic;
    font-weight: 300;

    &,
    p {
      color: $grey-25;
      font-size: rem( 15px );
      line-height: 1.33333;
    }

    p:last-child {
      margin-bottom: 0;
    }

    cite {
      display: block;
      text-align: right;
    }
  }


  //
  // Lists
  // ==========================================================================

  // stylelint-disable selector-max-compound-selectors

  ul,
  ol {
    margin-left: 0;
    margin-bottom: rem( 16px );
    padding-left: 0;

    ul,
    ol {
      margin-bottom: 0;
    }

    > li {
      position: relative;
      margin: 0;
      margin-bottom: $list-item-margin-bottom;
      padding: 0;
      list-style: none;
    }
  }

  ol {
    counter-reset: li;

    > li {
      margin-left: $list-side-margin;

      &::before {
        content: counter( li ) '.';
        counter-increment: li;

        position: absolute;
        top: $list-item-margin-bottom;
        left: -( $list-side-margin );
        width: em( 24px );

        line-height: 1;
        text-align: right;
        color: $list-counter-color;
        font-size: rem( 15px );
        font-weight: 700;
      }
    }
  }

  ul {
    ul,
    ol {
      margin-left: $list-side-margin;
    }

    ol {
      ol {
        margin-left: 0;
      }
    }

    > li {
      &::before {
        width: $list-bullet-size;
        height: $list-bullet-size;
        margin: 0;
        margin-right: em( 8px );
        margin-left: $list-side-margin / 2;
        content: '';
        background-color: $list-counter-color;
        display: inline-block;
        vertical-align: middle;

        @if $list-unordered-bullet-type == circle {
          border-radius: 100%;
        } @else {
          border-radius: 0;
        }
      }
    } // end ul > li
  } // end ul

  // stylelint-enable selector-max-compound-selectors


  // ==========================================================================
  // SHORTCODES
  // ==========================================================================

  // `[pedestal-event]`
  .pedestal-shortcode--event {
    margin-bottom: rem( 24px );
  }

  // `[pedestal-cta-button]`
  .pedestal-shortcode--cta-btn {
    text-align: center;

    > * {
      display: inline-block;
    }
  }

  // `[pedestal-checklist]`
  //
  // stylelint-disable selector-max-compound-selectors
  .pedestal-shortcode--checklist {
    ul li::before {
      color: $primary-color;
      content: '\002714'; // ✔

      // Override default post content list style
      display: inline;
      background-color: transparent;
    }
  }
  // stylelint-enable selector-max-compound-selectors


  //
  // User Grid
  // ==========================================================================
  // `[pedestal-user-grid]`

  .user-grid {
    @include block-grid( $per-row: 1, $include-spacing: false, $base-style: true );

    @media #{$medium-up} {
      @include block-grid( $per-row: 2, $include-spacing: false, $base-style: false );
    }

    @media #{$large-up} {
      @include block-grid( $per-row: 3, $include-spacing: false, $base-style: false );
    }

    .user-card {
      padding: rem( 16px );
      text-align: center;
    }
  }


  //
  // SoundCite
  // ==========================================================================

  .soundcite-loaded {
    display: inline;

    &::before {
      vertical-align: -8%;
    }
  }


  //
  // Brand Headings
  // ==========================================================================

  .brand-heading {}

  .brand-heading__logo,
  .brand-heading__text {
    display: inline-block;
    vertical-align: middle;
  }

  .brand-heading__logo {
    height: rem( 30px );
    width: rem( 30px );
    margin-right: rem( 5px );
  }

  .brand-heading__text {
    font-size: $h4-font-size;
    line-height: rem( 34px );
    margin-bottom: 0;
    padding-top: rem( 4px );
  }


  @media screen and ( min-width: $brand-heading-breakpoint ) {
    .brand-heading__logo {
      margin-right: rem( 8px );
    }
  }

} // end .s-content
