// ==========================================================================
// Pedestal // Scopes // MAINTENANCE MODE
//
// This should be imported to its own stylesheet within each child theme because
// it depends on some site-specific settings.
// ==========================================================================


/*body*/.s-site-maintenance-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url( $site-theme-abspath + '/assets/images/maintenance_bg.jpg' ) no-repeat center center fixed;
  background-size: cover;

  .content-wrapper {
    max-width: 90%;

    // @media #{$medium-up} {
    //   max-width: 50%;
    // }
  }
}





//
// Downtime Error Message
// ==========================================================================


// stylelint-disable selector-no-type
.c-downtime-error {
  text-align: center;

  &__img {
    a { margin: 0 auto; }
  }

  &__msg {
    * {
      margin-bottom: 18px;
    }

    p {
      font-size: 18px;
    }
  }
}
// stylelint-enable selector-no-type
