// ==========================================================================
// Pedestal // Scopes // Post Content // CONFIGURATION
// ==========================================================================


// Blockquote
$s-post-content-blockquote-color   : $grey-dark;

// Pullquote
$s-post-content-pullquote-pos-h    : -7px;
$s-post-content-pullquote-pos-v    : -14px;
$s-post-content-pullquote-border-v : 2px solid $grey-lightish;

// Lists
$s-post-content-li-color           : $primary-color;
$s-post-content-li-bullet-size     : 5px;
