// ==========================================================================
// Pedestal // Scopes // Post Content // CONFIGURATION
// ==========================================================================


$s-post-content-blockquote: (
  f-z-lg        : $h5-font-size,
  color         : $dimmed-text-color,
  bd-color      : $primary-color,
  bd-w          : 2px,
) !default;

$s-post-content-headings: (
  h1: $h3-font-size,
  h2: $h4-font-size,
  h3: $h5-font-size,
) !default;

$s-post-content-list-item: (
  color       : $primary-color,
  p-b         : 0.25em,
  bullet-size : 5px,
  num-size    : $h5-font-size,
) !default;

$s-post-content-settings: (
  blockquote: $s-post-content-blockquote,
  headings: $s-post-content-headings,
  li: $s-post-content-list-item,
) !default;





//
// Functions
// ==========================================================================


@function s-post-content-property-get( $properties... ) {
  @return map-fetch( $s-post-content-settings, $properties... );
}
