// ==========================================================================
// Pedestal // Scopes // POST CONTENT
// ==========================================================================


// Blockquote
$s-post-content-blockquote-color   : $grey-25;

// Pullquote
$s-post-content-pullquote-pos-h    : -7px;
$s-post-content-pullquote-pos-v    : -14px;
$s-post-content-pullquote-border-v : 2px solid $grey-70;

// Lists
$s-post-content-li-color           : $primary-color;
$s-post-content-li-bullet-size     : 5px;


// stylelint-disable selector-no-type


.s-post-content,
.c-main__footnotes,
.mce-content-body {





  //
  // Headings
  // ==========================================================================


  h1 { font-size: $h3-font-size; }
  h2 { font-size: $h4-font-size; }
  h3 { font-size: $h5-font-size; }





  //
  // Images + Captions
  // ==========================================================================

  img {
    max-width: 100%;
    height: auto;
  }

  .aligncenter {
    width: 100%;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$medium-up} {
    .alignleft,
    .alignright {
      max-width: 50%;
    }

    .alignleft {
      float: left;
      margin-right: $base-spacing-unit;
    }

    .alignright {
      float: right;
      margin-left: $base-spacing-unit;
    }

    .aligncenter {
      width: auto;
    }
  }





  //
  // Blockquotes
  // ==========================================================================


  blockquote {
    font-style: italic;
    color: $s-post-content-blockquote-color;
    padding: 0 0 0 $base-spacing-unit;
    border-left: 4px solid $primary-color;

    p {
      padding-bottom: 0;
      color: $s-post-content-blockquote-color;
    }

    cite {
      text-align: right;
      display: block;
    }

    @media #{$medium-up} {
      p {
        font-size: $h6-font-size;
        color: $s-post-content-blockquote-color;
      }
    }

  }





  //
  // Pullquotes
  // ==========================================================================
  // Pullquotes must be nested within post content because they need to override
  // the default behavior of blockquotes

  .c-pullquote {
    border-top: $s-post-content-pullquote-border-v;
    border-bottom: $s-post-content-pullquote-border-v;
    position: relative;
    margin-bottom: $base-spacing-unit;
    font-size: $h5-font-size;

    @media #{$medium-up} {
      font-size: $h4-font-size;
    }


    &::before,
    &::after {
      font-size: rem-calc( 4rem );
      line-height: 0;
      padding-top: 0.4em;
      position: absolute;
      color: $primary-color;
      background-color: $white;
    }

    &::before {
      content: '\201C';
      left: $s-post-content-pullquote-pos-h;
      top: $s-post-content-pullquote-pos-v;
    }

    &::after {
      content: '\201D';
      right: $s-post-content-pullquote-pos-h;
      bottom: $s-post-content-pullquote-pos-v;
    }


    &__content {
      border: 0;
      line-height: 1.6;
      padding: $base-spacing-unit $base-spacing-unit 0;
      margin-bottom: 0;
    }


    &__credit {
      padding: ($base-spacing-unit / 2) ($base-spacing-unit * 2) $base-spacing-unit;
      display: block;
      text-align: right;
    }
  }





  //
  // Lists
  // ==========================================================================


  ul,
  ol {
    list-style-type: none;

    li {
      padding-bottom: 0.25em;

      &::before {
        margin-bottom: 0.1em;
        margin-right: $list-side-margin;
        display: inline-block;
        vertical-align: middle;
      }
    }

  }

  ol {
    counter-reset: ordered-list;

    > li {
      counter-increment: ordered-list;

      &::before {
        line-height: 1;
        content: counter( ordered-list, decimal );
        color: $s-post-content-li-color;
        font-size: $h5-font-size;
        font-weight: 800;
      }
    }
  }

  ul {

    li {
      &::before {
        width: $s-post-content-li-bullet-size;
        height: $s-post-content-li-bullet-size;
        content: '';
        background-color: $s-post-content-li-color;
        border-radius: 1000px;
      }
    }
  }





} // end .s-post-content
