/*
  stylelint-disable
  selector-max-type,
  selector-max-compound-selectors
*/


.form-input,
.form-label,
.form-radio__input,
.form-radio__label {
  font-size: rem( 16px );
  line-height: 1;
}

.form-label,
%form-label {
  font-family: $input-label-font-family;
  color: $grey-25;
  display: block;
  font-weight: 600;
  margin-bottom: rem( 8px );
  letter-spacing: em( 0.2px );

  &[for],
  &.implicit {
    cursor: pointer;
  }
}

.form-input {
  background: $grey-95;
  border: rem( 1px ) solid $grey-70;
  box-shadow: inset rem( 2px ) rem( 4px ) rem( 8px ) 0 rgba( $black, 0.1 );
  border-radius: rem( 2px );

  font-family: $body-font-family;
  font-style: italic;
  opacity: 0.8;

  width: rem( 260px );
  height: rem( 44px );
  line-height: 1;

  padding-left: rem( 8px );
  padding-right: rem( 8px );

  &:focus {
    opacity: 1;
  }

  &::placeholder {
    color: $grey-70;
    vertical-align: middle;

    // Line height must be `normal` to work in iOS browsers...
    line-height: normal;
    // But it needs to be unit-based for Firefox
    @include firefox-only {
      line-height: rem( 44px );
    }
  }

  &:focus::placeholder {
    opacity: 1;
  }
}

input[type="search"] {
  appearance: none;
  box-sizing: border-box; // Normalize sets "search" inputs to content-box
}

input[type="radio"] {
  margin-right: 0;
  cursor: pointer;
}


//
// Custom radio inputs
// ==========================================================================
// https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3

.form-radio__input {
  opacity: 0;
  position: absolute;

  + .form-radio__label::after {
    content: none;
  }

  &:checked + .form-radio__label::after {
    content: "";
  }

  &:focus + .form-radio__label::before {
    box-shadow: 0 0 rem( 5px ) $primary-color;
  }
}

.form-radio__label {
  @extend %form-label;

  font-family: $input-radio-label-font-family;
  font-weight: 400;
  font-size: rem( 16px );
  letter-spacing: 0;
  position: relative;
  display: inline-block;

  // 16px width of fake radio + 4px distance between fake radio and text
  padding-left: rem( 20px );

  &::before,
  &::after {
    position: absolute;
    content: "";

    display: inline-block;
    border-radius: 50%;
    background-color: $white;
  }

  &::before {
    height: rem( 16px );
    width: rem( 16px );

    border: rem( 1px ) solid $secondary-color;
    left: 0;
  }

  &::after {
    height: rem( 10px );
    width: rem( 10px );
    background-color: $secondary-color;
    left: rem( 3px );
    top: rem( 3px );
  }
} // .form-radio__label


//
// Validation
// ==========================================================================

.invalid-feedback,
.invalid-tooltip,
.form-error-message {
  display: none;

  .is-failed & {
    display: block;
  }
}

.success-message {
  display: none;

  .is-success & {
    display: block;
  }
}

.invalid-feedback {
  margin-top: rem( 4px );
  margin-bottom: rem( 8px );
  font-size: $small-font-size;
  color: $alert-color;
}
