// ==========================================================================
// Pedestal // Base // Global // GENERAL
// ==========================================================================


/*
stylelint-disable selector-no-qualifying-type, selector-max-type
*/


html,
body {
  font-size: $body-font-size;
  line-height: $body-line-height;
  position: static;
}


body {
  background-color: $white;
}


.content-wrapper {
  margin-top: $content-wrapper-m-t;
  margin-bottom: $content-wrapper-m-b;
}

.rail {
  margin-top: $main-margin-top;
}

a.disabled {
  cursor: default;
}

.noscroll {
  overflow: hidden;
}


// Use cascading SVG fill color
// https://css-tricks.com/cascading-svg-fill-color/
svg {
  fill: currentColor;
}


// Override Normalize.css figure element margins
figure {
  margin: 0 0 rem( 16px ) 0;
}


// Adjust site wrapper for search input
.site-wrap {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: $z-index-1;

  .is-search-open & {
    transform: translateY( rem( 60 ) );
  }
}
