// ==========================================================================
// Pedestal // Base // Theme // Mixins // LINK UNDERLINE
//
// https://codepen.io/jimmynotjim/pen/EabQjV
// ==========================================================================


/// Prevent underline from interfering with descenders
///
/// Applies a stroke to text, simulated with text-shadow.
///
/// @link https://github.com/hudochenkov/sass-text-stroke
///
/// @param {number} $width                     Width of the stroke in pixels, without units
/// @param {color}  $background-color [$white] Background color of the text
/// @param {number} $correction       [0]      Corrects rounding and reduces text-shadows
@mixin text-underline-crop( $width: 1.75, $background-color: $white, $correction: 0.2 ) {
  $radius: $width - $correction;
  $shadow: ();

  // stylelint-disable-next-line scss/operator-no-unspaced
  @for $i from -$width through $width {
    // stylelint-disable-next-line scss/operator-no-unspaced
    @for $k from -$width through $width {
      $x: $k;
      $y: $i;

      @if $k > 0 {
        $x: $k - 0.5;
      } @elseif $k < 0 {
        $x: $k + 0.5;
      }

      @if $i > 0 {
        $y: $i - 0.5;
      } @elseif $i < 0 {
        $y: $i + 0.5;
      }

      @if ( $x * $x + $y * $y <= $radius * $radius ) {
        $shadow: append( $shadow, $i * 1px $k * 1px 0 $background-color, comma );
      }
    }
  }

  text-shadow: $shadow;
}

@mixin _text-underline( $underline-color, $width: rem( 3px ) ) {
  box-shadow: inset 0 ( -$width ) 0 $underline-color;
}

/// Override the effects of the link underline
@mixin link-underline-revert {
  box-shadow: none;
  text-shadow: none;
  padding-bottom: 0;
  background: transparent;
}

/// Link underline placeholder selector
///
/// This should only be applied to `a` elements. Be specific to avoid
/// unintentional side effects!
%link-underline {
  @include text-underline-crop;
  @include _text-underline( rgba( $primary-color, 0.6 ) );

  // stylelint-disable-next-line unit-blacklist
  padding-bottom: 0.05em;
  text-decoration: none;
  color: $body-font-color;
  transition:
    background-color 300ms ease,
    box-shadow 300ms ease;

  *,
  & {
    &::after,
    &::before,
    &::selection {
      text-shadow: none;
    }

    &::selection {
      background-color: $primary-color;
    }
  }

  &:focus,
  &:hover,
  &:active {
    @include _text-underline( transparent );

    // Use `background` and not `background-color` to override everything set by `link-underline`
    background: $accent-color;
    // Override the link underline and crop
    box-shadow: none;
    text-shadow: none;
  }

  &:visited {
    @include _text-underline( rgba( $darkest, 0.4 ) );
  }
} // end %link-underline
