// ==========================================================================
// Pedestal // Base // Theme // SETTINGS
// ==========================================================================


//
// Configuration
// ==========================================================================


@import '../../base/global/settings';


$base-font-size    : rem( 16px );
$base-line-height  : rem( 22px );





//
// Typography
// ==========================================================================


$body-font-size           : 1em; // 1em; // 1em
$body-line-height         : $base-line-height / $base-font-size;

$h1-font-size             : rem( 44px );
$h2-font-size             : rem( 37px );
$h3-font-size             : rem( 27px );
$h4-font-size             : rem( 22px );
$h5-font-size             : rem( 18px );
$h6-font-size             : $base-font-size;

// We use these to control header size reduction on small screens
$h1-font-reduction        : rem( 10px );
$h2-font-reduction        : rem( 10px );
$h3-font-reduction        : rem( 5px );
$h4-font-reduction        : rem( 5px );
$h5-font-reduction        : 0;
$h6-font-reduction        : 0;

$paragraph-font-size      : rem( 16px );
$paragraph-line-height    : rem( 22px ) / $paragraph-font-size;
$small-font-size          : $base-font-size * 0.8;


$header-top-margin        : 0;

$paragraph-margin-bottom  : rem( 16px );
$list-side-margin         : $base-font-size / 2;
$list-ordered-side-margin : $list-side-margin;
$list-margin-bottom       : $paragraph-margin-bottom;





//
// Iconography
// ==========================================================================


$icon-diameter         : rem( 40px );
$icon-diameter--med    : rem( 32px );
$icon-diameter--sm     : rem( 28px );
$icon-diameter--xs     : rem( 20px );
$icon-spacing          : rem( 8px );

$avatar-size-sm        : $icon-diameter--sm;





//
// Z-Index
// ==========================================================================


$enabled-z-index   : true;

$z-index-0         : 0;
$z-index-1         : 9;
$z-index-2         : 99;
$z-index-3         : 999;
$z-index-4         : 9999;
$z-index-5         : 99999;

$z-action-bar      : $z-index-4;
$z-c-meta-bar      : $z-index-2;
$z-entity-body     : $z-index-2;
$z-stream-item-img : $z-index-1;





//
// Grid / Media Queries
// ==========================================================================


$row-width           : rem( 1060px );
$column-gutter       : rem( 30px );

$content-wrapper-m-t : rem( 16px );
$content-wrapper-m-b : rem( 64px );

$screen              : 'only screen';

// Here we define the lower and upper bounds for each media size
$small-range         : 0, em( 640px );
$medium-range        : em( 641px ), em( 1024px );
$large-range         : em( 1025px ), em( 1440px );
$xlarge-range        : em( 1441px ), em( 1920px );
$xxlarge-range       : em( 1921px );





//
// Main Element
// ==========================================================================


$main-margin-top           : rem( 16px );
$main-margin-bottom        : rem( 32px );
$main-header-margin-bottom : rem( 32px );
$main-subtitle-font-weight : 400;
$main-subtitle-margin-top  : rem( 20px );

$main-rail-item-pd         : rem( 8px );
$main-rail-f-z             : $small-font-size;





//
// Miscellaneous
// ==========================================================================


// Single Page
$page-bg-c      : $white;
$page-bg-c--alt : $sea-foam-green;
$page-main-m-t  : rem( 48px );

// Border dividers
$border-divider-spacing         : rem( 24px );
$border-divider-spacing--inline : rem( 8px );
$border-divider-color           : $border-std-color;

// Forms + Buttons
// ==========================================================================


$input-border-color             : $grey-80;
$input-border-width             : rem( 1px );
$input-btn-font-size-lg         : $h5-font-size;
$input-btn-spacing-y            : rem( 8px );
$input-btn-spacing-x            : rem( 12px );
$input-btn-line-height          : 1.25;
$input-btn-spacing-y-sm         : rem( 4px );
$input-btn-spacing-x-sm         : rem( 8px );
$input-btn-line-height-sm       : 1.5;
$input-btn-spacing-y-lg         : rem( 8px );
$input-btn-spacing-x-lg         : rem( 16px );
$input-btn-line-height-lg       : 1.5;

$btn-border-width               : rem( 2px );
$btn-border-width-lg            : rem( 3px );





//
// Miscellaneous
// ==========================================================================


// Tables
$table-row-padding              : rem( 8px 12px );

// Spinkit loading indicator
$spinkit-spinner-margin         : rem( 16px ) auto;
$spinkit-size                   : rem( 32px );
$spinkit-spinner-color          : $grey-80;

// Horizontal explosion
$hoz-explode-side               : rem( 9999px );

// Hanging quotation mark nudge
$nudge-punctuation              : -0.4em;

// WordPress admin bar
$wp-admin-bar-breakpoint        : 'only screen and (min-width: 783px)';
$wp-admin-bar-height-mobile     : rem( 46px );
$wp-admin-bar-height-desktop    : rem( 32px );

// Sitewide CTA icon spacing
$site-cta-icon-spacing          : $icon-spacing / 2;

// Stream items
$stream-item-spacing            : rem( 40px );
