// ==========================================================================
// Pedestal // Base // Theme // STICKY FOOTER
//
// http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
// ==========================================================================


// scss-lint:disable QualifyingElement SelectorFormat


html.flexbox {

  .inner-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .content-wrapper {
    flex: 1;
    /* stupid IE10 tweener syntax */
    -ms-flex-preferred-size: auto;
  }

}
