// ==========================================================================
// Pedestal // Base // Theme // UNITS
// ==========================================================================


@import '../global/units';


$base-font-size: rem-calc( $global-base-font-size );
$base-line-height: rem-calc( $global-base-line-height );

$base-font-size-reset: rem-calc( 16px );

$base-spacing-unit: $base-font-size;
$half-spacing-unit: $base-spacing-unit / 2;

$border-offset: rem-calc( -1px );


@import '../global/functions-unitize';
