<sup class="footnote">
    <a
        href="#footnote-{{ token }}"
        id="fnref-{{ token }}"
        class="js-footnote-link"
        data-ga-category="post-content"
        data-ga-action="footnote-{{ token|esc_attr }}"
        data-ga-label="footnote"
        >
            {{ num }}
    </a>
</sup>
