<div class="c-event__export">
    <div class="inner">
        {% spaceless %}

        <div class="c-event__export__item">
            <a href="{{ item.get_google_calendar_link() }}" class="[ o-icon-text  o-icon-text--responsive ]  c-event__export__link">
                <i class="o-icon-text__icon  c-event__export__icon  [ fa  fa-calendar ]"></i>
                <span class="o-icon-text__text  c-event__export__text">Google</span>
            </a>
        </div>
        <div class="c-event__export__item">
            <a href="{{ item.get_ics_link() }}" class="[ o-icon-text  o-icon-text--responsive ]  c-event__export__link">
                <i class="o-icon-text__icon  c-event__export__icon  [ fa  fa-calendar ]"></i>
                <span class="o-icon-text__text  c-event__export__text">iCal</span>
            </a>
        </div>
        <div class="c-event__export__item">
            <a href="{{ item.get_ics_link() }}" class="[ o-icon-text  o-icon-text--responsive ]  c-event__export__link">
                <i class="o-icon-text__icon  c-event__export__icon  [ fa fa-calendar ]"></i>
                <span class="o-icon-text__text  c-event__export__text">Outlook</span>
            </a>
        </div>

        {% endspaceless %}
    </div>
</div>
