{% extends "base-email.twig" %}

{% block content %}

<div class="email-row content-wrapper">

    <div id="entity-container" class="email-all">

        <div class="email-all__header  c-overview">
            <h1 class="c-overview__title">All Email Templates</h1>
        </div>

    <ol>
        {% for item in items %}
        <li><a href="{{ item }}/">{{ item }}</a></li>
        {% endfor %}
    </ol>

    </div>

</div>

{% endblock %}
