{% extends "base-email.twig" %}

{% block content %}

<div class="email-row content-wrapper">

    <div id="entity-container" class="email-breaking-news  c-main--email  c-main">

        <div class="email-breaking-news__header  c-main__header">
            <h1 class="c-main__title">BREAKING NEWS</h1>
        </div>

        <div class="email-breaking-news__entity  c-main__content  c-overview">

            <div class="c-overview">
                {% if is_email and 'breaking-news' == template_name and item.has_featured_image %}
                {% include 'partials/stream/item-img.twig' %}
                {% endif %}

                {% include 'partials/item-title.twig' %}

                {% if item.get_excerpt %}
                <div class="c-overview__description">
                    {{ item.get_the_excerpt }}
                </div>
                {% endif %}

                {% include 'partials/meta-info/meta-info-email.twig' %}
            </div>

        </div>

        <div class="email-breaking-news__footer  c-main__footer">
            <p><a href="{{ item.get_the_permalink }}">Full Story on {{ site.name }}</a></p>
        </div>

    </div>

</div>

{% endblock %}
