{% extends "base-email.twig" %}

{% block content %}

<div class="email-row content-wrapper">

    <div id="entity-container" class="email-follow-update  c-main--email  c-main">

        <div class="email-follow-update__header  c-main__header">
            {% include 'partials/overview/overline.twig' %}
        </div>

        <div class="email-follow-update__entities  c-stream  c-stream--standard">
            {% set stream = true %}

            <div class="c-stream__items">
                {% for item in entities %}
                    {% include [
                        'partials/stream/standard/' ~ item.get_type ~ '.twig',
                        'partials/stream/standard/entity.twig'
                    ] %}
                {% endfor %}
            </div>
        </div>

        <div class="email-follow-update__footer  c-main__footer">
            <p><a href="{{ item.get_the_permalink }}">Full Story on {{ site.name }}</a></p>
        </div>

    </div>

</div>

{% endblock %}
