{% extends "base-email.twig" %}

{% block content %}

<div class="email-constrain content-wrapper">

    <div id="entity-container" class="email-follow-update  c-panel  has-story-bar  has-cap">

        <div class="email-follow-update__header">
            {{ macros.blox( _context, {
                'format': 'header'
            }, 'story-bar' ) }}
        </div>

        <div class="email-follow-update__entities  c-stream  c-stream--ladder">
            <div class="c-stream__items">
                {% for item in entities %}
                    {% include [
                        'partials/stream/ladder/' ~ item.get_type ~ '.twig',
                        'partials/stream/ladder/entity.twig'
                    ] %}
                {% endfor %}
            </div>
        </div>

        <div class="email-follow-update__footer">
            {{ macros.blox( context, {
                'format': 'cap',
                'title': "Full Story On " ~ site.name,
                'url': item.get_the_permalink
            } ) }}
        </div>

    </div>

</div>

{% endblock %}
