{% extends "base-email.twig" %}

{% set hood = item %}

{% block content %}

<div class="email-constrain content-wrapper">

    <div id="entity-container" class="email-follow-update--everyblock  email-follow-update  c-stream  c-stream--inset  c-panel  has-title-bar  has-cap">

        {{ macros.title_bar( _context, { 'location': 'header' } ) }}

        <div class="c-panel__inner">

            <h3 class="email-follow-update__date">{{ email_date }}</h3>

            <div class="c-stream__items">
                {% for item in eb_items %}
                    {% include 'partials/emails/everyblock-item.twig' %}
                {% endfor %}
            </div>

        </div>

        <p class="cap">
            <a class="cap__btn" href="{{ item.get_the_permalink }}">More Updates From {{ item.get_the_title }}</a>
        </p>

    </div>

</div>

{% endblock %}
