{% extends "base-email.twig" %}
{% set hide_social_header_icons = true %}

{% block content %}

<div class="email-row content-wrapper">

    <div id="entity-container" class="email-subscription">

        <h3>You have subscribed to {{ blog_name }}’s “{{ list_names }}” emails.</h3>
        <p>To confirm that you wish to be subscribed, please click the link below:</p>
        <p><a href="{{ confirm_link }}">{{ confirm_link }}</a></p>
        <p>If you believe this is a mistake and you did not intend on subscribing, you can ignore this message and nothing else will happen.</p>

    </div>
</div>

{% endblock %}
