{% extends "base-email.twig" %}

{% block content %}

<div class="email-row content-wrapper">

    <div id="entity-container" class="email-subscription">

        <h3 class="h-email-subscription-confirmed">Subscription Confirmed</h3>

        <p class="email-subscription-confirmed-msg">You will now receive {{ site.name }} Daily and breaking news emails.</p>

        {{ macros.blox( context, {
            format: 'cap',
            title: "Return to " ~ site.name,
            url: site.url,
        } ) }}

    </div>

</div>

{% endblock %}
