{% extends "base-email.twig" %}

{% block content %}

<div class="email-constrain content-wrapper">

    <div id="entity-container" class="email-subscription  c-panel  has-cap">

        <div class="c-panel__inner">

            <h3 class="h-email-subscription-confirmed">Unsubscribe Successful</h3>

            <p class="email-subscription-confirmed-msg">You will no longer receive {{ site.name }} Daily or breaking news emails</p>

        </div>

        {{ macros.blox( context, {
            format: 'cap',
            title: "Return to " ~ site.name,
            url: site.url,
        } ) }}

    </div>

</div>

{% endblock %}
