<div class="dfp-stream-08-wrapper c-stream__item  js-stream-item">

    <div class="dfp-stream-08--smaller dfp-stream-08 dfp js-dfp-stream-08-smaller">
        <!-- BP_300x250_S8_M -->
        <div id='div-gpt-ad-1425432806229-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1425432806229-0'); });
        </script>
        </div>
    </div>

    <div class="dfp-stream-08--larger dfp-stream-08 dfp js-dfp-stream-08-larger">
        <!-- BP_640x150 -->
        <div id='div-gpt-ad-1425989824693-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1425989824693-0'); });
        </script>
        </div>
    </div>

    {% if adverts.test_all or adverts.test_premium %}

    <div class="dfp-stream-08-premium--smaller dfp-stream-08 dfp dfp-stream-08-premium-smaller">
        <!-- BP_S_300x450_M_Test -->
        <div id='div-gpt-ad-1421346590784-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1421346590784-0'); });
        </script>
        </div>
    </div>

    <div class="dfp-stream-08-premium--larger dfp-stream-08 dfp dfp-stream-08-premium-larger">
        <!-- BP_S_650x400_Test -->
        <div id='div-gpt-ad-1422991182362-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1422991182362-0'); });
        </script>
        </div>
    </div>

    {% endif %}

</div>
