{% spaceless %}

{% if id and sizes %}
<div class="dfp js-dfp" data-dfp-sizes="{{ sizes }}" data-dfp-name="{{ id }}" id="div-gpt-ad-{{ id }}-0">
<script type="text/javascript">
    googletag.cmd.push(function() { googletag.display("div-gpt-ad-{{ id }}-0"); });
</script>
</div>
{% endif %}

{% endspaceless %}
