<div class="dfp-stream-16-wrapper c-stream__item  js-stream-item">

    <div class="dfp-stream-16--smaller dfp-stream-16 dfp js-dfp-stream-16-smaller">
        <!-- /104495818/BP__300x250_2 -->
        <div id='div-gpt-ad-1429200731526-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1429200731526-0'); });
        </script>
        </div>
    </div>

    <div class="dfp-stream-16--larger dfp-stream-16 dfp js-dfp-stream-16-larger">
        <!-- /104495818/BP_640x150_2 -->
        <div id='div-gpt-ad-1429065783925-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1429065783925-0'); });
        </script>
        </div>
    </div>

    {% if adverts.test_all or adverts.test_premium %}

    <div class="dfp-stream-16-premium--larger dfp-stream-16 dfp dfp-stream-16-premium-larger">
        <!-- /104495818/BP_650x400_2 -->
        <div id='div-gpt-ad-1429200856800-0'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1429200856800-0'); });
        </script>
        </div>
    </div>

    {% endif %}

</div>
