.signup-email--daily {
  &.signup-email--emphatic {
    border-color: $accent-1-color;

    .signup-email__icon {
      color: $accent-2-color;
    }

    .signup-email__btn {
      @include button-color-variant( $brand-1-color );
    }

    .signup-email__input-icon {
      color: $brand-1-color;
    }
  }
}

.signup-email--daily {
  &.signup-email--screamer {
    border-color: $accent-2-color;

    .signup-email__icon {
      color: $brand-1-color;
    }

    .signup-email__btn {
      @include button-color-variant( $accent-1-color );
    }

    .signup-email__input-icon {
      color: $accent-1-color;
    }
  }
}
