.footer {
  background-color: $sm-text-color;
  padding-bottom: em(55px);
}

.footer .logo {
  width: em(275px);
}

.footer--social-items {
  float: right;
  display: table;
}

.footer--social-item {
  display: table-cell;
}

.footer--social-link {
  display: block;
  padding: em(10px);
}

.footer--social-link .icon {
  fill: #fff;
}
