html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Geneva, Tahoma, sans-serif;
  color: $sm-text-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  width: 1em;
  height: 1em;
}

a {
  color: $sm-link-color;
}
