.site-header {
  overflow: auto;
  height: 100%;
  padding-top: em(50px);
  padding-bottom: em(60px);
}

.site-header--logo {
  float: left;
  max-width: em(470px);
  width: 100%;
}

.site-nav {
  float: right;
  padding-top: em(40px);
}

.site-nav--items {
  display: table;
}

.site-nav--item {
  display: table-cell;
  padding: 0 em(30px);
}

.site-nav--link {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: em(16px);
  font-weight: 700;
  border-bottom: em(3px, 16px) solid #fff;
}

.site-nav--link:hover,
.site-nav--link:active {
  border-bottom-color: #EA633E;
}

@media( max-width: em(1000px) ) {
  .site-header {
    padding-top: em(30px);
    padding-bottom: em(40px);
  }

  .site-header--logo {
    margin: 0 auto;
    float: none;
    display: block;
  }

  .site-nav {
    float: none;
    padding-top: em(20px);
  }

  .site-nav--items {
    display: table;
    padding-left: 0;
    width: 100%;
  }
}

@media( max-width: em(480px) ) {
  .site-header {
    padding-top: em(15px);
    padding-bottom: em(20px);
  }

  .site-nav {
    padding-top: 0;
  }

  .site-nav--items {
    display: block;
    overflow: auto;
  }

  .site-nav--item {
    display: block;
    float: left;
    padding: em(15px) 0;
    width: 50%;
  }

  .site-nav--link {

  }
}
