.home-press-coverage {
  padding-bottom: em(40px);
}

.home-press-coverage--heading {
  font-size: em(20px);
  font-weight: 700;
}

.home-press-list {
  list-style: none;
  padding-left: 0;
}

.home-press-list-item {
  padding-bottom: em(15px);
}

.home-press-list-link {
  display: block;
  font-size: em(20px);
  padding-bottom: em(5px, 20px);
}
