.home-strengths {
  background-color: #37B298;
}

.home-strengths .section {
  display: table;
  padding: em(110px) 0;
}

.home-strength {
  display: table-cell;
  padding: 0 em(20px);
  position: relative;
  color: #ffffff;
  text-align: center;
  width: 33.333%;
}

.home-strength .icon {
  fill: #ffffff;
  font-size: 3em;
}

.home-strength--heading {
  font-size: em(20px);
  font-weight: 700;
}

.home-strength--blurb {
  font-size: em(14px);
  font-weight: 400;
  text-align: left;
}

@media( max-width: em(640px) ) {
  .home-strengths .section {
    display: block;
    padding: em(70px) 0 em(5px);
  }

  .home-strength {
    display: block;
    width: auto;
    padding-bottom: em(40px);
  }

  .home-strength--blurb {
    text-align: center;
  }
}
