.home-hero {
  text-align: center;
  background-image: url('#{$image-directory}/home/mobile-first-millennials.jpg');
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 3%;
  padding-bottom: 15%;
}

.home-hero--heading {
  font-size: 6vw;
  font-weight: 700;
}

.home-hero--tagline {
  font-size: 4.05vw;
}

@media( max-width: em(480px) ) {
  .home-hero--heading {
    font-size: em(24px);
  }

  .home-hero--tagline {
    font-size: em(13px);
  }
}
