.home-cities {
  padding: em(60px) 0 em(140px);
  text-align: center;
}

.home-cities--heading {
  font-size: em(40px);
  font-weight: 700;
}

.home-cities--city {
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: em(24px) auto;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 16%;
  padding-bottom: 16%;
  background-size: cover;
  text-decoration: none;
}

.home-cities--philadelphia {
  background-image: url('#{$image-directory}/home/philadelphia-cityscape.jpg');
}

.home-cities--pittsburgh {
  background-image: url('#{$image-directory}/home/pittsburgh-cityscape.jpg');
}

.home-cities--denver {
  background-image: url('#{$image-directory}/home/denver-cityscape.jpg');
}
