.home-description {
  background-color: #333;
  text-align: center;
  color: #ffffff;
  padding: em(40px) 0 em(60px);
}
.home-description--heading {
  font-size: em(40px);
  font-weight: 700;
}
.home-description--tagline {
  font-size: em(30px);
  font-weight: 400;
}
