.home-our-board {
  padding: em(70px) 0 em(60px);
}

.home-our-board--heading {
  font-size: em(40px);
  font-weight: 700;
  text-align: center;
}

.home-board-members {
  padding-left: 0;
  overflow: auto;
  height: 100%;
}

.home-board-members--item {
  float: left;
  width: 50%;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
}

.home-board-members--image {
  border-radius: 50%;
  display: block;
  margin: 0 auto em(15px);
}

.home-board-members--name {
  text-transform: none;
  font-size: 150%;
  line-height: 1.25;
  display: block;
}

@media( max-width: em(820px) ) {
  .home-our-board {
    padding: em(15px) 0;
  }

  .home-board-members--item {
    float: none;
    width: auto;
    margin-bottom: em(60px);
  }
}
