// Hide visually and from screen readers
.hide { display: none !important; }

// Hide visually and from screen readers, but maintain layout
.invisible { visibility: hidden !important; }

// For text that needs to be hidden visually but still available to screen readers
// See https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100; /* Above WP toolbar. */
}
