.signup-email__form {
  padding: rem( 8px ) rem( 8px ) rem( 16px );

  // Set this as the initial alignment for the email input and submit button
  text-align: center;

  .form-group {
    margin-bottom: 0;
  }
}

.signup-email__header,
.signup-email__title,
.signup-email__subtitle {
  margin-bottom: rem( 12px );
}

.signup-email__title,
.signup-email__subtitle {
  font-size: rem( 16px );
  line-height: 1.25;
}

.signup-email__title,
.signup-email__icon {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 0;
}

.signup-email__icon {
  margin-right: rem( 8px );
  color: $secondary-color;
  font-size: rem( 30px );
  line-height: 0;
}

.signup-email__subtitle {
  text-align: left;
}

// stylelint-disable selector-max-type
.signup-email__details,
.signup-email__success-message p {
  margin-bottom: rem( 8px );
  text-align: center;
}
// stylelint-enable selector-max-type

// stylelint-disable selector-max-type
.signup-email__details {
  list-style-position: inside;
  margin-bottom: rem( 20px );
  margin-left: 0;

  li {
    margin-bottom: 0;

    &:focus {
      outline: 0;
    }
  }
}
// stylelint-enable selector-max-type

.signup-email__input-group,
.signup-email__btn {
  margin-bottom: rem( 8px );
}

.signup-email__input-group {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  text-align: center;
}

.signup-email__input-icon {
  color: $secondary-color;
}

.signup-email__email-input {
  // Hide placeholder text on focus
  &:focus::placeholder {
    color: transparent;
  }
}

.signup-email__btn {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}

// stylelint-disable-next-line selector-max-type
.signup-email__success-message p {
  line-height: 1.4;
}

.signup-email__help-text {
  text-align: center;
}


@media #{$medium-up} {
  .signup-email__form {
    padding: rem( 16px );
    // Alignment for the input and button
    text-align: left;
  }

  .signup-email__header,
  .signup-email__details {
    text-align: left;
  }

  .signup-email__title {
    // stylelint-disable-next-line selector-max-type
    br {
      display: none;
    }
  }

  .signup-email__icon,
  .signup-email__title {
    width: auto;
  }

  .signup-email__input-group,
  .signup-email__btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .signup-email__input-group {
    margin-right: rem( 16px );
    margin-top: 0;
    margin-bottom: 0;
  }

  // stylelint-disable-next-line selector-max-type
  .signup-email__success-message p {
    text-align: left;
  }
}


//
// Daily Newsletter + Breaking News Signup
// ==========================================================================

.signup-email--daily {
  border: rem( 4px ) solid $secondary-color;
  border-radius: $global-radius;

  .c-main__footer & {
    margin-bottom: rem( 32px );
  }

  &.widget {
    // Widgets already have bottom padding
    padding-bottom: 0;
  }

  .signup-email__title {
    font-family: $font-family-serif;
    font-size: rem( 20px );
    font-weight: 600;
    color: $darkest;
    line-height: 1.2;
  }


  @media #{$small-only} {
    .signup-email__latest--standalone {
      .widget &,
      .c-main__footer & {
        display: block;
      }
    }
  }


  @media #{$large-up} {
    &.widget {
      .signup-email__form,
      .signup-email__header,
      .signup-email__details {
        text-align: center;
      }

      .signup-email__icon {
        margin-right: 0;
      }

      .signup-email__title {
        text-align: center;
      }

      .signup-email__input-group,
      .signup-email__btn {
        margin-right: auto;
        margin-bottom: rem( 8px );
        margin-left: auto;
      }

      .signup-email__btn {
        display: block;
      }

      .signup-email__success-message {
        .signup-email__title {
          width: 100%;
        }
      }
    } // &.widget
  } // @media #{$large-up}
} // .signup-email--daily


//
// Follow Cluster Signup
// ==========================================================================

.signup-email--cluster {
  margin-bottom: rem( 16px );
  background-color: $primary-color;

  .signup-email__form {
    padding: rem( 32px );
  }

  // stylelint-disable selector-max-type
  .signup-email__title,
  .signup-email__success-message p {
    color: $white;
  }
  // stylelint-enable selector-max-type

  .signup-email__btn {
    font-weight: 600;
  }


  @media #{$medium-up} {
    .subscription-confirmation-page & {
      @include explode-component( $inner-selector: '.signup-email__form' );
    }
  }


  @media #{$medium-down} {
    @include explode-component( $inner-selector: '.signup-email__form' );
  }


  @media #{$large-up} {
    @include explode-component( $side: 'left', $inner-selector: '.signup-email__form' );
  }
} // end .signup-email--cluster


//
// Email signup in modal
// ==========================================================================

.signup-email--modal {
  display: none;

  .modal__content & {
    display: block;
  }
}
