// ==========================================================================
// Pedestal // Base // Global // GENERAL
// ==========================================================================


// @TODO
// scss-lint:disable SelectorFormat


html,
body {
  font-size: $body-font-size;
  line-height: $body-line-height;
  position: static;
}


// scss-lint:disable QualifyingElement
body.full-width {
  background-color: $page-bg-c;

  /*main*/.main {
    margin-top: $page-main-m-t;
  }
}
// scss-lint:enable QualifyingElement


.content-wrapper {
  margin-top: $content-wrapper-m-t;
  margin-bottom: $content-wrapper-m-b;
}

.main {
  margin-bottom: $main-m-b;
}

.main,
.rail {
  margin-top: $main-m-t;
}

// Remove bottom margin on views that usually include pagination
.home,
.archive,
.search-results {
  .content-wrapper {
    margin-bottom: 0;
  }
}

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.u-cf {
  @include clearfix;
}

// scss-lint:disable QualifyingElement
a.disabled {
  cursor: default;
}
// scss-lint:enable QualifyingElement

.noscroll {
  overflow: hidden;
}





//
// Typography
// ==========================================================================


.u-heading--minor,
%u-heading--minor {
  text-transform: uppercase;
  letter-spacing: $heading-minor-lts;
  font-size: $heading-minor-f-z;
  font-weight: bold;
}


.serify {
  font-family: $font-family-serif;
  font-weight: normal;
}





//
// Foundation: Offcanvas
// ==========================================================================
// Adjust Foundation's Offcanvas component to account for our search component


.off-canvas-wrap {
  z-index: $z-off-canvas-wrap;
  transition: transform 0.3s ease;

  .is-search-open & {
    transform: translateY( unitize(60) );
  }
}
