// ==========================================================================
// Pedestal // Base // Global // GENERAL
// ==========================================================================


// @TODO
// scss-lint:disable SelectorFormat


html,
body {
  font-size: $body-font-size;
  line-height: $body-line-height;
  position: static;
}


// scss-lint:disable QualifyingElement
body.full-width {
  background-color: $page-bg-c;
}
// scss-lint:enable QualifyingElement


.content-wrapper {
  margin-top: $content-wrapper-m-t;
  margin-bottom: $content-wrapper-m-b;
}

.rail {
  margin-top: $main-margin-top;
}

// scss-lint:disable QualifyingElement
a.disabled {
  cursor: default;
}
// scss-lint:enable QualifyingElement

.noscroll {
  overflow: hidden;
}

// Override Normalize.css figure element margins
figure {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: $base-spacing-unit;
  margin-left: 0;
}





//
// Foundation: Offcanvas
// ==========================================================================
// Adjust Foundation's Offcanvas component to account for our search component


.off-canvas-wrap {
  z-index: $z-off-canvas-wrap;
  transition: transform 0.3s ease;

  .is-search-open & {
    transform: translateY( unitize(60) );
  }
}
