// ==========================================================================
// Pedestal // Base // Global // MIXINS
// ==========================================================================


/// Visually hide an element
///
/// Shows for screen-readers
///
/// https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
@mixin invisible {
  &:not( :focus ):not( :active ) {
    border: 0;
    clip-path: inset( 100% );
    clip: rect( 0 0 0 0 );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}





//
// Typography
// ==========================================================================


/**
 * Set unhovered and hovered link colors and decoration easily.
 *
 * Defaults to `a` selector. If included within another selector, just use `&`
 *
 * Unvisited/visited will be the same, hover/active will be the same.
 */
@mixin anchorage(
  $selector: 'a',
  $unhovered: $anchor-font-color,
  $hovered: $anchor-font-color-hover,
  $unhovered-decoration: $anchor-text-decoration,
  $hovered-decoration: $anchor-text-decoration-hover
) {

  #{$selector} {

    &,
    &:visited {
      color: $unhovered;
      text-decoration: $unhovered-decoration;
    }

    &:hover,
    &:active {
      color: $hovered;
      text-decoration: $hovered-decoration;
    }

  }
}


/// Lighten/dim some links
@mixin link-light {
  color: $dimmed-text-color;

  &:hover,
  &:active {
    color: $grey-25;
  }
}


/// Darken some links arbitrarily
@mixin link-dark {
  &,
  &:hover,
  &:active {
    color: $body-font-color;
  }
}


/// List without bullet or numbers
///
/// @param {bool} $post-content Hide custom bullets/numbers?
@mixin no-bullet( $post-content: false ) {
  // stylelint-disable selector-max-type, declaration-no-important

  margin-left: 0;

  &,
  ul,
  ol {
    list-style: none;
  }

  @if $post-content {
    li::before {
      // Must be !important to override `.s-content` styles
      width: 0 !important;
      height: 0 !important;
    }
  }
  // stylelint-enable selector-max-type, declaration-no-important
}





//
// Icons
// ==========================================================================


/**
 * Load an image placeholder on the given element
 *
 * @param  {unit} $size  : $icon-diameter Size of the image
 * @param  {str}  $shape : square
 */
@mixin img-placeholder( $size: $icon-diameter, $shape: square ) {
  display: block;

  @if global-variable-exists( site-theme-name ) {
    @include iconize(
      $path: $site-theme-logo-abspath + '/logo-icon-placeholder',
      $size: $size
    );
  }
}





//
// Borders
// ==========================================================================

@mixin dash-rule {
  // stylelint-disable-next-line unit-blacklist
  width: 4em;
  margin: 0 auto;
  border-bottom: rem( 4px ) solid $border-std-color;
}
