// ==========================================================================
// Pedestal // Base // Global // SETTINGS
// ==========================================================================


@import 'units';


//
// Paths
// ==========================================================================


$pedestal-abspath              : '/' + map-get-strict( $spiritedmedia-pedestal, path );
$pedestal-social-icons-abspath : $pedestal-abspath + '/assets/images/social';


// This allows us to test some assets live on the QA site
$qa-test                       : false !default;
$pedestal-live-uri             : map-get-strict( $spiritedmedia-pedestal, liveURI );
@if $qa-test {
  $pedestal-live-uri : map-get-strict( $spiritedmedia-pedestal, stagingURI );
}





//
// General
// ==========================================================================


$border-offset            : -( unitize( 1px ) ) !default;

$body-font-size           : ( ( $base-font-size / $base-font-size-reset ) * 1em ) !default; // 1em
$body-line-height         : ( $base-line-height / $base-font-size ) !default; // 1.5 // !default

$font-family-sans-serif   : "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif        : "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif !default;

$h1-font-size             : unitize( $base-font-size * 2.75 ) !default; // 44px
$h2-font-size             : unitize( $base-font-size * 2.3125 ) !default; // 37px
$h3-font-size             : unitize( $base-font-size * 1.6875 ) !default; // 27px
$h4-font-size             : unitize( $base-font-size * 1.375 ) !default; // 22px
$h5-font-size             : unitize( $base-font-size * 1.125 ) !default; // 18px
$h6-font-size             : unitize( $base-font-size ) !default;

// Header size reduction on small screens
$h1-font-reduction        : unitize( 10 ) !default;
$h2-font-reduction        : unitize( 10 ) !default;
$h3-font-reduction        : unitize( 5 ) !default;
$h4-font-reduction        : unitize( 5 ) !default;
$h5-font-reduction        : 0 !default;
$h6-font-reduction        : 0 !default;

$small-font-size          : unitize( $base-font-size * 0.8 ) !default;

$header-font-weight       : 600 !default;
$header-line-height       : 1.2 !default;
$header-top-margin        : 0 !default;

$paragraph-margin-bottom  : unitize( 20 ) !default; // !default
$list-side-margin         : halve( $base-font-size ) !default;
$list-ordered-side-margin : $list-side-margin !default;
$list-margin-bottom       : $paragraph-margin-bottom !default; // !default

$site-header-pd-v         : $base-spacing-unit !default;

$heading-minor-f-z        : $base-font-size;





//
// Colors / Opacity
// ==========================================================================


$black                   : #000000;
$white                   : #ffffff;

$grey-95                 : #f2f2f2; // only used as rule color and in search
$grey-90                 : #e6e6e6; // only used as top bar background
$grey-80                 : #cccccc; //
$grey-70                 : #b3b3b3; //
$grey-62                 : #9f9f9f; //
$grey-46                 : #767676; // minimum darkness for text
$grey-40                 : #666666; // only used as link hover color
$grey-25                 : #3f3f3f; //

$sea-foam-green          : #e5f2f6;
$prussian-blue           : #122b3a;
$dark-prussian-blue      : #122027;
$purple-phase            : #bf7dbb;
$blood-orange            : #db7053;
$hello-yellow            : #fff558; // Hand-picked by Nativo
$absinthe                : #c1a540;
$latte                   : #e6e6de;
$twitter-blue            : #4fa8e0;
$mustard-gas             : #b26536;
$truth-serum             : #efeeec;
$spiritedmedia-brand     : #333333;


// We need to set these two commonly-used defaults which should be overridden in
// the child themes
$primary-color           : $spiritedmedia-brand !default;
$secondary-color         : lighten( $spiritedmedia-brand, 10% ) !default;

$body-bg                 : $white !default;
$body-font-color         : $grey-25;
$c-panel-bg              : $white !default;
$anchor-font-color-hover : $black !default;
$border-std-color        : $grey-90 !default;
$header-font-color       : $body-font-color !default;

// WCAG 2.0 guidelines require a text contrast ratio of at least 4.5:1 (#767676)
// for AA and 7:1 for AAA (#595959).
// https://www.w3.org/TR/WCAG20/#visual-audio-contrast
$dimmed-text-color       : $grey-46 !default;

// User role colors
$user-staff-color        : $primary-color !default;
$user-contributor-color  : $mustard-gas !default;


$loading-default-opacity : 0.25;





//
// Iconography
// ==========================================================================


// These units are automatically generated by IcoMoon to accommodate for each
// icon's unique dimensions. You can access them easily with the
// icon-width-get() function.
//
// Note that this doesn't represent a definitive list of all icons we use --
// these are only the icons that need their widths adjusted. A definitive list
// can be found in the form of the files present in the SVG icon directory.
$icon-widths: (
  angle-left    : 0.375em,
  angle-right   : 0.33928571428571425em,
  bars          : 0.8571428571428571em,
  calendar      : 0.9285714285714285em,
  close         : 0.7857142857142857em,
  external-link : 0.675586em, // IcoMoon set 0.975586em, may need changing on update
  facebook      : 0.5881428571428571em,
  instagram     : 0.8571428571428571em,
  level-down    : 0.5730714285714286em,
  linkedin      : 0.8571428571428571em,
  play          : 0.7896428571428571em,
  scribd        : 0.8571428571428571em,
  search        : 0.9285714285714285em,
  twitter       : 0.9285714285714285em,
  vine          : 0.8571428571428571em,
  youtube       : 0.8571428571428571em,
);

$icon-diameter         : unitize( 40px );
$icon-diameter--med    : unitize( 32px );
$icon-diameter--sm     : unitize( 28px );
$icon-diameter--xs     : unitize( 20px );
$icon-spacing          : $base-spacing-unit / 2;

$email-icon-diameter   : $icon-diameter--xs;
$avatar-size-sm        : $icon-diameter--sm;

$iconset-email-cta-p-t : ( $base-spacing-unit / 2 ) !default;
$iconset-email-cta-p-b : $base-spacing-unit !default;





//
// Z-Index
// ==========================================================================


$enabled-z-index        : true;

$z-index-0              : 0;
$z-index-1              : 9;
$z-index-2              : 99;
$z-index-3              : 999;
$z-index-4              : 9999;
$z-index-5              : 99999;

$z-action-bar           : $z-index-4;
$z-c-meta-bar           : $z-index-2;
$z-entity-body          : $z-index-2;
$z-stream-item-img      : $z-index-1;
$z-off-canvas-wrap      : $z-index-1;

// @TODO
//
// Somehow this variable specifically controls the reveal modal z-index even
// though in no way does its name indicate that... thanks Foundation! Also, it's
// not overrideable... no `!default` flag. So leaving it here temporarily in the
// hopes that one day Foundation will fix the issue but until then we'll need to
// use another variable in its place...
$z-index-base           : $z-index-5;
// And here's the replacement...
$z-reveal-modal         : $z-index-5;





//
// Grid / Spacing
// ==========================================================================


$row-width         : rem-calc( 1060 );
$column-gutter     : rem-calc( 30 ); // !default

$content-wrapper-m-t          : $base-spacing-unit !default;
$content-wrapper-m-b          : ( $base-spacing-unit * 4 ) !default;




//
// Media Queries
// ==========================================================================


$screen                : 'only screen'; // !default

// Here we define the lower and upper bounds for each media size
$small-range           : ( 0, 40em ); /* 0, 640px */
$medium-range          : ( 40.063em, 64em ); /* 641px, 1024px */
$large-range           : ( 64.063em, 90em ); /* 1025px, 1440px */
$xlarge-range          : ( 90.063em, 120em ); /* 1441px, 1920px */
$xxlarge-range         : 120.063em; /* 1921px */





//
// Main Element
// ==========================================================================


$main-margin-top           : $base-spacing-unit;
$main-margin-bottom        : $base-spacing-unit * 2;
$main-header-margin-bottom : $base-spacing-unit * 2;
$main-title-margin-bottom  : ( $base-spacing-unit * 4 ) !default;
$main-subtitle-font-weight : 400 !default;
$main-subtitle-margin-top  : ( $base-spacing-unit * 1.2 ) !default;

$main-rail-item-pd         : $half-spacing-unit !default;
$main-rail-f-z             : $small-font-size !default;





//
// Miscellaneous
// ==========================================================================


// Overviews
$overview-thumbnail-img-size     : unitize( 150px );

// Border dividers
$border-divider-spacing          : ( $base-spacing-unit * 1.5 ) !default;
$border-divider-spacing--inline  : halve( $base-spacing-unit ) !default;
$border-divider-color            : $border-std-color !default;

// Text color mixin
$mixin-text-color-light          : $white;
$mixin-text-color-dark           : $grey-25;

// Spinkit loading indicator
$spinkit-spinner-margin          : 16px auto;
$spinkit-size                    : 32px;
$spinkit-spinner-color           : $grey-80;

// Horizontal explosion
$hoz-explode-side                : unitize( 600rem );

// Hanging quotation mark nudge
$nudge-punctuation               : -0.4em;

// WordPress admin bar
$wp-admin-bar-breakpoint: 'only screen and (min-width: 783px)';
$wp-admin-bar-height-mobile: unitize(46);
$wp-admin-bar-height-desktop: unitize(32);
