// ==========================================================================
// Pedestal // Base // Global // SETTINGS
// ==========================================================================


@import 'colors';


//
// Typography
// ==========================================================================


$font-family-sans-serif   : "Overpass", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif        : Georgia, Cambria, "Times New Roman", Times, serif !default;

$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

//
// Colors / Opacity
// ==========================================================================


$body-bg:                 $white            !default;
$body-font-color:         $dark-gray-color  !default;
$c-panel-bg:              $white            !default;
$anchor-font-color:       $brand-1-color    !default;
$anchor-font-color-hover: $black            !default;
$border-std-color:        $light-gray-color !default;
$header-font-color:       $body-font-color  !default;

// WCAG 2.0 guidelines require a text contrast ratio of at least 4.5:1 (#767676)
// for AA and 7:1 for AAA (#595959).
// https:                 //www.w3.org/TR/WCAG20/#visual-audio-contrast
$dimmed-text-color:       $gray-46 !default;

// User role colors
$user-staff-color:        $brand-1-color !default;
$user-contributor-color:  $mustard-gas !default;

$loading-default-opacity: 0.25;





//
// Iconography
// ==========================================================================


// These units are automatically generated by IcoMoon to accommodate for each
// icon's unique dimensions. You can access them easily with the
// icon-width-get() function.
//
// Note that this doesn't represent a definitive list of all icons we use --
// these are only the icons that need their widths adjusted. A definitive list
// can be found in the form of the files present in the SVG icon directory.
//
// stylelint-disable unit-blacklist
$icon-widths: (
  angle-left:      0.375em,
  angle-right:     0.33928571428571425em,
  calendar:        0.9285714285714285em,
  caret-down:      0.5714285714285714em,
  caret-up:        0.5714285714285714em,
  close:           0.7857142857142857em,
  envelope-slant:  0.8571428571428571em,
  facebook:        0.5881428571428571em,
  facebook-square: 0.8571428571428571em,
  instagram:       0.8571428571428571em,
  level-down:      0.5730714285714286em,
  linkedin:        0.8571428571428571em,
  phone-square:    0.8571428571428571em,
  play:            0.7896428571428571em,
  scribd:          0.8571428571428571em,
  twitter:         0.9285714285714285em,
  twitter-square:  0.8571428571428571em,
  vine:            0.8571428571428571em,
  youtube:         0.8571428571428571em,
);
// stylelint-enable unit-blacklist


//
// Miscellaneous
// ==========================================================================

$border-standard: rem( 1px ) solid $border-std-color;
