// ==========================================================================
// Pedestal // Base // Global // STATES
// ==========================================================================


.has-story-bar,
%has-story-bar {
  margin-top: map-get-strict( $story-bar-settings, 'm-t' );
}


/**
 * Indicates presence of an element attached to top or bottom.
 *
 * Default ( no modifier ) is bottom.
 */

.has-cap {
  // @TODO
  // scss-lint:disable SelectorFormat
  > .inner {
    margin-bottom: 0;
  }
}

  .has-cap--top {
    // @TODO
    // scss-lint:disable SelectorFormat
    > .inner {
      margin-top: 0;
    }
  }
