<article class="{{ macros.get_stream_item_classes( 'standard', _context ) }}"
         {{ item.get_the_data_atts }}>

    <div class="c-stream__item__inner  c-overview">

        {% if item.has_featured_image %}
        {% include 'partials/stream/item-img.twig' %}
        {% endif %}

        <div class="c-stream__item__body">

            {% if is_home and item.has_story %}
            {% include 'partials/overview/overline.twig' with {
                'class': 'c-stream__item__overline'
            } %}
            {% endif %}

            {% include 'partials/item-title.twig' %}

            {% if item.get_excerpt %}
            <div class="c-overview__description  c-stream__item__description">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}

        </div>

        {% if 'twitter' == item.get_embed_type %}
            {{ item.get_embed_html }}
        {% endif %}

        {% if item.is_cluster %}
            {% include 'partials/meta-info/meta-info-empty.twig' %}
        {% else %}
            {% include 'partials/meta-info/meta-info-stream.twig' %}
        {% endif %}

    </div>

</article>
