{% extends 'layouts/layout--content.twig' %}

{% block content %}

    {{ dfp_unit( ad_name, ad_sizes ) }}

	<form method="get">
		<label class="form-label" for="ad-name">Ad unit name</label>
		<input type="text" class="form-input" name="ad-name" id="ad-name" value="{{ ad_name }}" required>

		<label class="form-label" for="ad-sizes">Ad unit size(s) <em>Separate multiple sizes with a comma</em></label>
		<input type="text" class="form-input" name="ad-sizes" id="ad-sizes" value="{{ ad_sizes }}" required>

		<input type="submit" class="btn btn--primary" value="Test Ad Unit">
	</form>

{% endblock %}
