{% spaceless %}
{% import "macros/macros.twig" as macros %}

<div class="email-body no-js">

{% include 'partials/emails/header.twig' %}

{% block content %}
{% endblock %}

{% include 'partials/emails/footer.twig' %}

</div>

{% endspaceless %}
