{% spaceless %}

{% if email_styles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    {{ email_styles }}
    </style>
</head>
<body>
{% endif %}

<div class="email-body no-js">

{% include 'partials/emails/header.twig' %}

{% block content %}
{% endblock %}

{% include 'partials/emails/footer.twig' %}

</div>

{% if email_styles %}
</body>
{% endif %}

{% endspaceless %}
