{% extends "base.twig" %}

{% block content %}

<main role="main" class="{{ main_classes }}">

{% include 'partials/search-tools.twig' %}
{% include 'partials/stream/stream-home.twig' %}

</main>
{% endblock %}
