{% extends "base.twig" %}

{% set main_classes = 'c-main--promotional-content' %}

{% block content %}

<div class="c-main__content">

    <div class="c-overview">
        {% include 'partials/overview/overline.twig' with {
            title: promo_story_title
        } %}

        <h2 class="c-overview__title"><!-- @Title --></h2>

        <div class="c-overview__meta c-meta-info--advert c-meta-info">
            <div class="c-meta-info__stack c-meta-info__item">
                <div class="c-meta-info__name c-meta-info__stack__item">
                    <!-- @Author -->
                </div>
                <div class="c-meta-info__timestamp c-meta-info__stack__item c-meta-info__stack__mover">
                    <span class="c-meta-info__timestamp__inner"><!-- @Datetime --></span>
                </div>
            </div>
            <div class="c-meta-info__timestamp c-meta-info__item c-meta-info__mover">
                <span class="c-meta-info__timestamp__inner"><!-- @Datetime --></span>
            </div>
        </div>
    </div>

    <section class="c-main__body  s-post-content">
        <!-- @Content -->
    </section>

</div>

{% endblock %}
