{% extends "base.twig" %}

{% block metadata %}
{{ parent() }}
metadata.dimension1 = "page";
{% endblock %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="[ c-content--promotional-content  c-content ]  c-panel  entity  promotional-content  has-story-bar">

        {{ macros.blox( _context, {
            title: promo_story_title,
            background: 'promo',
            offset: true,
        }, 'story-bar' ) }}

        <div class="c-panel__inner">

            <h2 class="c-content__title"><!-- @Title --></h2>

            <div class="c-content__meta">
                <ul class="c-meta-info--promo c-meta-info--entity c-meta-info">
                    <li class="c-meta-info__source"><!-- @Author --></li>
                    <li class="c-meta-info__date"><!-- @Datetime --></li>
                </ul>
            </div>

            <div class="c-content__body  s-post-content">
                <!-- @Content -->
            </div>

        </div>

    </article>

</main>

{% endblock %}
