{% set sidebar = false %}
{% extends "base.twig" %}

{% block content %}
<main role="main" class="{{ main_classes }}">
    <div id="subscribe-to-newsletter-page" class="subscription-confirmation-page">
        <form action="{{ site.url }}/subscribe-to-email-list/" method="POST" data-ga-category="Submitted Form" data-ga-label="Newsletter Signup Page">

            <div class="form-fields">
                <fieldset>
                    {% include 'partials/emails/form-daily-legend.twig' %}
                    {% include 'partials/emails/form-daily-input-address.twig' %}
                    {% include 'partials/emails/form-honeypot.twig' %}
                </fieldset>
                <button type="submit" name="subscribe" class="btn btn--large btn--full-width form-submit js-form-submit">
                    {% include 'partials/emails/form-submit-signup-inner.twig' %}
                </button>
            </div>

            <div class="success-message">
                {% include 'partials/emails/form-daily-subscribed.twig' %}
                {% include 'partials/emails/form-button-explore.twig' %}
            </div>
        </form>
    </div>
</main>
{% endblock %}
