{% extends 'layouts/layout--content-sidebar.twig' %}

{% set main_classes = 'is-active-search' %}
{% block content %}
    {% include 'partials/search-tools.twig' %}

    {% if stream %}
        <section class="stream row small-12 columns">
            <div class="stream__items">
                {{ stream }}
            </div>
        </section>

        {{ pagination }}
    {% endif %}
{% endblock %}
