<li class="c-whos-next__logo  l-flat__logo  widget  has-border--bottom  widget_pedestal_layout_flat_logo">
    <a href="http://www.knightfoundation.org/" class="c-whos-next__logo__img  l-flat__logo__img"></a>
</li>


<li class="l-flat__explainer  widget has-border--bottom  widget_pedestal_explainer">

    <p>The intent of {{ site.name }}’s “Who's Next” series, presented by the
        Knight Foundation, is to highlight some of the most dynamic people under
        40 working to shape our city every day. Our goal is to identify and
        track the next generation of leaders and influencers.</p>

</li>


<li class="widget has-border--bottom  widget_pedestal_whosnext_archive">

    <h3 class="u-heading--minor">Who's Next Archives</h3>

    {% include 'widgets/item-list.twig' with {
        'items': item.get_archive_items,
        'current_item': item,
    } only %}

</li>
