{% include 'partials/whosnext/sponsor-logo.twig' ignore missing %}
{% include 'partials/whosnext/description-widget.twig' %}

{{ sidebar_ad }}

<li class="widget widget_pedestal_whosnext_archive">
    <h3 class="c-heading--minor">Who's Next Archives</h3>

    {% include 'widgets/item-list.twig' with {
        'items': item.get_archive_items,
        'current_item': item,
    } only %}
</li>
