<li class="c-factcheck__logo widget">
    <a href="http://www.politifact.com/pennsylvania/" class="c-factcheck__logo__img " data-ga-category="sidebar" data-ga-label="link"></a>
</li>

<li class="widget  widget_pedestal_explainer">

    <p>PolitiFact Pennsylvania is a partnership of {{ site.name }} and
    PolitiFact.com, a Pulitzer Prize-winning Web site of the Tampa Bay Times, to
    help you find the truth in politics.</p>

    <p>Every day, reporters and researchers examine statements by Pennsylvania
    elected officials and candidates and anyone else who speaks up on matters of
    public importance. We research their statements and then rate the accuracy on
    our <a href="http://www.politifact.com/truth-o-meter/article/2011/feb/21/principles-truth-o-meter/" target="_blank" data-ga-category="sidebar" data-ga-label="link">Truth-O-Meter.</a></p>

</li>

{{ sidebar_ad }}
