{% extends item.get_single_base_template %}


{% block content__header %}
    <div class="c-main__hero  c-hero">
        <div class="c-hero__inner">
            {% include 'partials/factchecks/statement.twig' %}
        </div>
    </div>
    {{ parent() }}
{% endblock %}


{% block content__body %}
    <div class="s-post-content">
        {% include 'partials/factchecks/content.twig' %}
    </div>
{% endblock %}
