{% extends 'layouts/layout--content-sidebar.twig' %}

{% block head %}
{# Custom styles for this page #}
<style>
    p {
      margin-bottom: 3rem;
    }

    p a {
        margin-right: 1.5rem;
    }

    .dark-background {
        padding: 1.5rem;
        background-color: #333;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Buttons V2</h1>

    <p>
        <a class="btn" href="#">Button</a>
        <button class="btn">Button</button>
    </p>

    <p>
        <a class="btn--bg-secondary" href="#">Button</a>
        <button class="btn--bg-secondary">Button</button>
    </p>

    <p>
        <a class="btn--bg-grey" href="#">Button</a>
        <button class="btn--bg-grey">Button</button>
    </p>

    <p>
        <a class="btn--arrow" href="#">Arrow Button</a>
        <button class="btn--arrow">Arrow Button</button>
    </p>

    <p>
        <a class="btn--oval" href="#">Oval-shaped Button</a>
        <button class="btn--oval">Oval-shaped Button</button>
    </p>

    <p>
        <a class="btn--bg-light btn--bordered" href="#">Bordered Button</a>
        <button class="btn--bg-light btn--bordered">Bordered Button</button>
    </p>

    <div class="dark-background">
        <p>
            <a class="btn--bg-light" href="#">Button</a>
            <button class="btn--bg-light">Button</button>
        </p>

        <p>
            <a class="btn--bg-accent" href="#">Button</a>
            <button class="btn--bg-accent">Button</button>
        </p>

        <p>
            <a class="btn--arrow btn--bg-accent" href="#">Arrow Button</a>
            <button class="btn--arrow btn--bg-accent">Arrow Button</button>
        </p>

        <p>
            <a class="btn--oval btn--bg-light" href="#">Oval-shaped Button</a>
            <button class="btn--oval btn--bg-light">Oval-shaped Button</button>
        </p>
    </div>
{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
