{% extends 'layouts/layout--content-sidebar.twig' %}

{% block head %}
    {# Custom styles for this page #}
    <style>
        hr {
          margin-bottom: 3.5em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Horizontal Rules</h1>

    <p>Generic, no classes or styling</p>
    <hr>

    <p><code>.hr</code> A noticeably thick horizontal rule before an element</p>
    <hr class="hr">

    <p><code>.hr--slim</code> A slightly less obtrusive rule</p>
    <hr class="hr hr--slim">

    <p><code>.hr--closure</code> A rule with a logo centered in the middle</p>
    <hr class="hr hr--closure">

{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
