{% extends 'layouts/layout--content-sidebar.twig' %}


{% block content %}
    <h1>Post Content: Images</h1>

    <section class="c-main__body s-post-content">
        <p>This is how we align the images:</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignright  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption."></figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" class="c-figure  c-figure--img  wp-caption  aligncenter  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption."></figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignleft  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption."></figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignright  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  aligncenter  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignleft  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignright  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1><cite class="c-figure__text__credit">
        This is a credit      </cite></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  aligncenter  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1><cite class="c-figure__text__credit">
        This is a credit      </cite></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignleft  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1><cite class="c-figure__text__credit">This is a credit</cite></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignright  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1><cite class="c-figure__text__credit"><a href="http://example.com" target="_blank" data-ga-category="Figure" data-ga-label="Credit|img">This is a credit</a></cite></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  aligncenter  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1><cite class="c-figure__text__credit"><a href="http://example.com" target="_blank" data-ga-category="Figure" data-ga-label="Credit|img">            This is a credit                        </a></cite></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <figure id="figure_43773765_64937" aria-labelledby="figcaption_43773765_64937" class="c-figure  c-figure--img  wp-caption  alignleft  " data-mode="non-interactive">
            <img src="https://dummyimage.com/300.png" sizes="(max-width: 300px) 100vw, 300px" srcset="https://dummyimage.com/300.png 300w, https://dummyimage.com/150.png 150w, https://dummyimage.com/120.png 120w"
                class="c-figure__content" alt="This is a mighty caption.">
                <figcaption id="figcaption_43773765_64937" class="c-figure__text  wp-caption-text">
                    <h1 class="c-figure__text__caption">This is a mighty caption.</h1><cite class="c-figure__text__credit"><a href="http://example.com" target="_blank" data-ga-category="Figure" data-ga-label="Credit|img">            This is a credit                        </a></cite></figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
        <p>Lorem ipsum dolor sit amet, an enim ubique verterem quo. Omittam honestatis cum in. Te elit illud nec, dolores iracundia efficiendi nec at. Ad vel aliquid offendit postulant, vix delicata concludaturque an, ad sea dicat nulla zril.</p>
    </section>

{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
