{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}
<style>
    .modal-target {
        display: none;
    }
    .modal__content .modal-target {
        display: block;
    }
</style>
    <h1>Modals</h1>
    <button data-modal-id="modal-target-1" class="btn js-modal-trigger">Show Modal 1</button>
    <button data-modal-id="modal-target-2" class="btn js-modal-trigger">Show Modal 2</button>

    <div id="modal-target-1" class="modal-target">
        <h1>This is modal #1!</h1>
        <input type="text" class="form-input">
    </div>

    <div id="modal-target-2" class="modal-target">
        <h1><em>This is modal #2!</em></h1>
        <button data-modal-id="modal-target-3" class="btn js-modal-trigger">Show Modal 3</button>
    </div>

    <div id="modal-target-3" class="modal-target">
        <h1>This is modal #3!</h1>
    </div>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a pellentesque arcu. Curabitur finibus tellus fermentum, placerat lectus eget, volutpat nibh. Donec nec tortor id nisi dignissim pellentesque. Suspendisse sagittis sem metus, nec efficitur augue egestas ut. Sed porttitor est et neque convallis, sit amet viverra lorem efficitur. Morbi iaculis euismod magna ut aliquam. Curabitur pellentesque, sem nec condimentum ornare, arcu massa hendrerit diam, quis laoreet risus tellus at orci. Praesent vitae bibendum nunc. Aliquam in sagittis felis. Proin venenatis sapien eu arcu tincidunt, quis dignissim lorem elementum. Aenean nisl sem, molestie ac vehicula eu, malesuada sed nisl.</p>
    <p>Vivamus finibus nisi tincidunt, cursus sapien at, ullamcorper odio. Vestibulum consequat pharetra faucibus. Donec a feugiat mi. Vivamus feugiat euismod iaculis. Quisque a imperdiet libero. Nam a odio id risus tristique imperdiet vel vitae enim. Vestibulum sit amet nibh ipsum.</p>
    <p>Suspendisse facilisis, tellus quis feugiat aliquet, leo nulla molestie orci, vitae aliquam lacus orci in arcu. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas bibendum at est posuere condimentum. Nunc tristique congue tortor rhoncus tincidunt. Mauris lacinia dui non dui imperdiet, vitae molestie quam maximus. Nunc commodo quam sit amet velit consequat viverra. Etiam venenatis felis ac felis eleifend, sit amet bibendum lacus malesuada. Sed ut enim quis magna consequat lobortis. Donec ut justo in metus interdum vehicula. Curabitur eget lorem purus.</p>
    <p>Mauris maximus ut ante a congue. Donec mattis rutrum posuere. Curabitur fermentum accumsan tempus. Sed consequat augue a neque aliquet varius. Maecenas sit amet accumsan leo. Curabitur venenatis auctor sollicitudin. Praesent gravida vehicula augue, vitae commodo ante congue ac. Donec sed ex pellentesque, aliquet ex id, aliquet ligula. Phasellus vel pharetra magna. Sed non arcu vel neque consectetur pulvinar porta vel eros. Etiam sit amet bibendum velit, vel efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed suscipit enim elit, non rhoncus metus consectetur dictum. Proin ultrices augue sit amet erat tempus venenatis. Vivamus eleifend sem at blandit porttitor.</p>
    <p>Cras quis nibh id purus auctor faucibus ac eu nibh. Praesent ut scelerisque dolor. Curabitur tincidunt a diam non fermentum. Ut ut dui at arcu vulputate ultrices. Quisque eu condimentum nisi. Aliquam erat volutpat. Nulla facilisi. Nam pretium luctus ipsum, ut eleifend nisl. Quisque pharetra tincidunt tellus, eget vehicula felis finibus ac.</p>

    <button data-modal-id="modal-target-4" class="btn js-modal-trigger">Show Modal 4</button>
    <div id="modal-target-4" class="modal-target">
        <h1>This is modal #4!</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a pellentesque arcu. Curabitur finibus tellus fermentum, placerat lectus eget, volutpat nibh. Donec nec tortor id nisi dignissim pellentesque. Suspendisse sagittis sem metus, nec efficitur augue egestas ut. Sed porttitor est et neque convallis, sit amet viverra lorem efficitur. Morbi iaculis euismod magna ut aliquam. Curabitur pellentesque, sem nec condimentum ornare, arcu massa hendrerit diam, quis laoreet risus tellus at orci. Praesent vitae bibendum nunc. Aliquam in sagittis felis. Proin venenatis sapien eu arcu tincidunt, quis dignissim lorem elementum. Aenean nisl sem, molestie ac vehicula eu, malesuada sed nisl.</p>
        <p>Vivamus finibus nisi tincidunt, cursus sapien at, ullamcorper odio. Vestibulum consequat pharetra faucibus. Donec a feugiat mi. Vivamus feugiat euismod iaculis. Quisque a imperdiet libero. Nam a odio id risus tristique imperdiet vel vitae enim. Vestibulum sit amet nibh ipsum.</p>
        <p>Vivamus finibus nisi tincidunt, cursus sapien at, ullamcorper odio. Vestibulum consequat pharetra faucibus. Donec a feugiat mi. Vivamus feugiat euismod iaculis. Quisque a imperdiet libero. Nam a odio id risus tristique imperdiet vel vitae enim. Vestibulum sit amet nibh ipsum.</p>
        <p>Suspendisse facilisis, tellus quis feugiat aliquet, leo nulla molestie orci, vitae aliquam lacus orci in arcu. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas bibendum at est posuere condimentum. Nunc tristique congue tortor rhoncus tincidunt. Mauris lacinia dui non dui imperdiet, vitae molestie quam maximus. Nunc commodo quam sit amet velit consequat viverra. Etiam venenatis felis ac felis eleifend, sit amet bibendum lacus malesuada. Sed ut enim quis magna consequat lobortis. Donec ut justo in metus interdum vehicula. Curabitur eget lorem purus.</p>
        <p>Mauris maximus ut ante a congue. Donec mattis rutrum posuere. Curabitur fermentum accumsan tempus. Sed consequat augue a neque aliquet varius. Maecenas sit amet accumsan leo. Curabitur venenatis auctor sollicitudin. Praesent gravida vehicula augue, vitae commodo ante congue ac. Donec sed ex pellentesque, aliquet ex id, aliquet ligula. Phasellus vel pharetra magna. Sed non arcu vel neque consectetur pulvinar porta vel eros. Etiam sit amet bibendum velit, vel efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed suscipit enim elit, non rhoncus metus consectetur dictum. Proin ultrices augue sit amet erat tempus venenatis. Vivamus eleifend sem at blandit porttitor.</p>
        <p>Cras quis nibh id purus auctor faucibus ac eu nibh. Praesent ut scelerisque dolor. Curabitur tincidunt a diam non fermentum. Ut ut dui at arcu vulputate ultrices. Quisque eu condimentum nisi. Aliquam erat volutpat. Nulla facilisi. Nam pretium luctus ipsum, ut eleifend nisl. Quisque pharetra tincidunt tellus, eget vehicula felis finibus ac.</p>
        <p>Vivamus finibus nisi tincidunt, cursus sapien at, ullamcorper odio. Vestibulum consequat pharetra faucibus. Donec a feugiat mi. Vivamus feugiat euismod iaculis. Quisque a imperdiet libero. Nam a odio id risus tristique imperdiet vel vitae enim. Vestibulum sit amet nibh ipsum.</p>
        <p>Suspendisse facilisis, tellus quis feugiat aliquet, leo nulla molestie orci, vitae aliquam lacus orci in arcu. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas bibendum at est posuere condimentum. Nunc tristique congue tortor rhoncus tincidunt. Mauris lacinia dui non dui imperdiet, vitae molestie quam maximus. Nunc commodo quam sit amet velit consequat viverra. Etiam venenatis felis ac felis eleifend, sit amet bibendum lacus malesuada. Sed ut enim quis magna consequat lobortis. Donec ut justo in metus interdum vehicula. Curabitur eget lorem purus.</p>
        <p>Mauris maximus ut ante a congue. Donec mattis rutrum posuere. Curabitur fermentum accumsan tempus. Sed consequat augue a neque aliquet varius. Maecenas sit amet accumsan leo. Curabitur venenatis auctor sollicitudin. Praesent gravida vehicula augue, vitae commodo ante congue ac. Donec sed ex pellentesque, aliquet ex id, aliquet ligula. Phasellus vel pharetra magna. Sed non arcu vel neque consectetur pulvinar porta vel eros. Etiam sit amet bibendum velit, vel efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed suscipit enim elit, non rhoncus metus consectetur dictum. Proin ultrices augue sit amet erat tempus venenatis. Vivamus eleifend sem at blandit porttitor.</p>
        <p>Cras quis nibh id purus auctor faucibus ac eu nibh. Praesent ut scelerisque dolor. Curabitur tincidunt a diam non fermentum. Ut ut dui at arcu vulputate ultrices. Quisque eu condimentum nisi. Aliquam erat volutpat. Nulla facilisi. Nam pretium luctus ipsum, ut eleifend nisl. Quisque pharetra tincidunt tellus, eget vehicula felis finibus ac.</p>
    </div>

{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
