{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}
	<h1>Stream Items</h1>
	<div class="stream js-stream">
        <div class="stream__items">
            {{ stream }}
        </div>
	</div>
{% endblock %}

{% block sidebar %}
	{# Silence is golden! #}
{% endblock %}
