{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}
    <h1>Tables</h1>

    <table>
        <caption>State information</caption>

        <thead>
            <tr>
                <th>State</th>
                <th>Discovered</th>
                <th>Became State</th>
                <th>Order of State</th>
            </tr>
        </thead>

        <tr>
           <td>Virginia</td>
           <td>1607</td>
           <td>1788</td>
           <td>10</td>
        </tr>

        <tr>
           <td>Massachusetts</td>
           <td>1620</td>
           <td>1788</td>
           <td>6</td>
        </tr>

        <tr>
           <td>New Hampshire</td>
           <td>1623</td>
           <td>1788</td>
           <td>9</td>
        </tr>
    </table>

    <h2>Event Details</h2>

    <article class="stream-item stream-item--event c-event" data-stream-index="13">
        <h1 class="stream-item__title c-event__title">
            <a href="https://billypenn.com/2017/10/03/free-movie-screening-with-sunday-breakfast-rescue-mission/" class="stream-item__title-link" data-ga-category="Stream" data-ga-label="Title|Free movie screening with Sunday Breakfast Rescue Mission|Type: Event">Free movie screening with Sunday Breakfast Rescue Mission</a>
        </h1>
        <div class="c-event__details">

            <table class="c-event__details__inner">

                <tbody>
                    <tr>
                        <th scope="row">What</th>
                        <td>Catch a screening of "Same Kind of Different as Me", based on the <em>New York Times</em> bestselling novel.&nbsp;Inspired by true events, the film is set at a sister Rescue Mission just like Sunday Breakfast. After the film, get an update on what's new at the Mission from CEO Dick McMillen.

                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Where</th>
                        <td>
                            Riverview Plaza at 1100-1400 Columbus Blvd. 19147
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">When</th>
                        <td>October 18, 2017 at 6:30 am to 9:30 pm</td>
                    </tr>

                    <tr>
                        <th scope="row">How much</th>
                        <td>Free</td>
                    </tr>

                </tbody>
            </table>

            <p class="c-event__details__link"><a href="https://www.eventbrite.com/e/same-kind-of-different-as-me-red-carpet-philly-tickets-36896844455" class="c-event__details__link__btn" target="_blank" data-ga-category="Event" data-ga-label="Details|Find out more">Find out more</a></p>

        </div>

    </article>


    <h2>TablePress</h2>

    <div id="tablepress-96_wrapper" class="dataTables_wrapper no-footer">
        <table id="tablepress-96" class="tablepress tablepress-id-96 dataTable no-footer" role="grid" aria-describedby="tablepress-96_info">
            <thead>
                <tr class="row-1 odd" role="row">
                    <th class="column-1 sorting_disabled" rowspan="1" colspan="1" style="width: 62px;">Plate ID</th>
                    <th class="column-2 sorting_disabled" rowspan="1" colspan="1" style="width: 126px;">Zipcode</th>
                    <th class="column-3 sorting_disabled" rowspan="1" colspan="1" style="width: 441px;">Number of over time limit parking tickets during Oct. 2016</th>
                </tr>
            </thead>
            <tbody class="row-hover">

                <tr class="row-2 even" role="row">
                    <td class="column-1">1903---</td>
                    <td class="column-2">19121</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-3 odd" role="row">
                    <td class="column-1">2234---</td>
                    <td class="column-2">19104</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-4 even" role="row">
                    <td class="column-1">2264---</td>
                    <td class="column-2">19146</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-5 odd" role="row">
                    <td class="column-1">2353---</td>
                    <td class="column-2">19104</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-6 even" role="row">
                    <td class="column-1">2398---</td>
                    <td class="column-2">19121</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-7 odd" role="row">
                    <td class="column-1">2402---</td>
                    <td class="column-2">19121</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-8 even" role="row">
                    <td class="column-1">2417---</td>
                    <td class="column-2">19146</td>
                    <td class="column-3">8</td>
                </tr>
                <tr class="row-9 odd" role="row">
                    <td class="column-1">2277---</td>
                    <td class="column-2">19147 and 19130</td>
                    <td class="column-3">9</td>
                </tr>
                <tr class="row-10 even" role="row">
                    <td class="column-1">2285---</td>
                    <td class="column-2">19130</td>
                    <td class="column-3">9</td>
                </tr>
                <tr class="row-11 odd" role="row">
                    <td class="column-1">2411---</td>
                    <td class="column-2">19104</td>
                    <td class="column-3">9</td>
                </tr>
                <tr class="row-12 even" role="row">
                    <td class="column-1">1370---</td>
                    <td class="column-2">19148</td>
                    <td class="column-3">9</td>
                </tr>
                <tr class="row-13 odd" role="row">
                    <td class="column-1">1876---</td>
                    <td class="column-2">19123</td>
                    <td class="column-3">9</td>
                </tr>
                <tr class="row-14 even" role="row">
                    <td class="column-1">2392---</td>
                    <td class="column-2">19125</td>
                    <td class="column-3">11</td>
                </tr>
                <tr class="row-15 odd" role="row">
                    <td class="column-1">2094---</td>
                    <td class="column-2">19123</td>
                    <td class="column-3">11</td>
                </tr>
                <tr class="row-16 even" role="row">
                    <td class="column-1">2305---</td>
                    <td class="column-2">19123</td>
                    <td class="column-3">11</td>
                </tr>
                <tr class="row-17 odd" role="row">
                    <td class="column-1">2351---</td>
                    <td class="column-2">19148 and 19145</td>
                    <td class="column-3">14</td>
                </tr>
                <tr class="row-18 even" role="row">
                    <td class="column-1">1961---</td>
                    <td class="column-2">19121</td>
                    <td class="column-3">14</td>
                </tr>
                <tr class="row-19 odd" role="row">
                    <td class="column-1">398---</td>
                    <td class="column-2">19147 and 19148</td>
                    <td class="column-3">15</td>
                </tr>
                <tr class="row-20 even" role="row">
                    <td class="column-1">943---</td>
                    <td class="column-2">19104</td>
                    <td class="column-3">15</td>
                </tr>
            </tbody>
        </table>
        <div class="dataTables_info" id="tablepress-96_info" role="status" aria-live="polite">Showing 1 to 19 of 19 entries</div>
    </div>

{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
