<form class="signup-newsletter-widget"
    action="{{ site.url }}/subscribe-to-email-list/"
    method="POST"
    data-ga-category="Submitted Form"
    data-ga-label="Newsletter Signup Widget">

    <div class="js-form-fields">
        <fieldset class="form-group">
            {% include 'partials/email-forms/form-daily-legend.twig' %}
            {% include 'partials/email-forms/form-daily-input-address.twig' %}
            {% include 'partials/email-forms/form-honeypot.twig' %}
            <div class="js-fail-message invalid-feedback"></div>
            <button class="btn js-form-submit" type="submit">
                {% include 'partials/email-forms/form-submit-signup-inner.twig' %}
            </button>
        </fieldset>
    </div>

    <div class="success-message js-success-message">
        {% include 'partials/email-forms/form-daily-subscribed.twig' %}
    </div>

</form>
