{% import "macros/macros.twig" as macros %}

<form class="signup-newsletter-widget" action="{{ site.url }}/api/subscription/signup-daily-newsletter/" method="POST">

    <div class="form-fields">
        <fieldset>
            {% include 'partials/emails/form-daily-legend.twig' %}
            {% include 'partials/emails/form-daily-input-address.twig' %}
            {% include 'partials/emails/form-honeypot.twig' %}
        </fieldset>
        <button class="form-submit button--rounded button right js-form-submit" type="submit" name="subscribe">
            {% include 'partials/emails/form-submit-signup-inner.twig' %}
        </button>
        <div class="clear-right"></div>
    </div>

    <div class="success-message">
        {% include 'partials/emails/form-daily-subscribed.twig' %}
    </div>

</form>
