<div id="subscribe-to-newsletter" class="reveal-modal dark-reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <form action="{{ site.url }}/subscribe-to-email-list/" method="POST" data-confirm-id="confirm-subscribe-to-newsletter">
        <div class="form-fields">
            <fieldset>
                {% include 'partials/emails/form-daily-legend.twig' %}
                {% include 'partials/emails/form-daily-input-address.twig' %}
                {% include 'partials/emails/form-honeypot.twig' %}
            </fieldset>
            <button class="form-submit button--rounded button--dark button small js-form-submit" type="submit" name="subscribe">
                {% include 'partials/emails/form-submit-signup-inner.twig' %}
            </button>
        </div>
    </form>
</div>

<div id="confirm-subscribe-to-newsletter" class="reveal-modal dark-reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <form>
        {% include 'partials/emails/form-daily-subscribed.twig' %}
    </form>
</div>
