{% set id_postfix = now() %}
{% set id_title = 'signup-newsletter-title-' ~ id_postfix %}
{% set id_description = 'signup-newsletter-description-' ~ id_postfix %}
{% set id_email_input = 'signup-newsletter-email-input-' ~ id_postfix %}

<div
    role="dialog"
    class="modal js-modal is-animated"
    aria-labelledby="{{ id_title|esc_attr }}"
    aria-describedby="{{ id_description|esc_attr }}"
    aria-hidden="true"
>
    <div class="modal__content js-modal-content signup-newsletter js-signup-newsletter is-animated">
        {% include 'partials/signup-newsletter.twig' with {
            gaLocation: 'Modal'
        } %}

        <button class="modal__close js-modal-close" aria-label="Close Modal">
            <span class="invisible">Close Modal</span>
            {{ ped_icon( 'close' ) }}
        </button>
    </div>

</div>

<div class="modal__overlay js-modal-overlay is-animated" aria-hidden="true"></div>
