{% set id_postfix = now() %}
{% set id_email_input = 'signup-email-daily-email-input-' ~ id_postfix %}

<div
    id="modal-signup-email-form"
    class="signup-email--daily signup-email--modal signup-email is-animated"
>
    {% include 'partials/signup-daily.twig' with {
        gaLocation: 'Modal'
    } %}
</div>
