// ==========================================================================
// Pedestal // * Billy Penn * // Base // Global // SETTINGS
// ==========================================================================


$power-teal-light : #92c4c5;

$primary-color    : $site-theme-brand-color;
$secondary-color  : $power-teal-light;
