/*
Theme Name:     Denverite
Theme URI:      https://denverite.com/
Description:    Pedestal child theme
Author:         Spirited Media
Author URI:     http://spiritedmedia.com/
Version:        7.14.2
Template:       pedestal
*/
